[2020-06-21 12:51] #875 closed

[2020-06-22 17:31] pckeyan commented on #758
@OlegDokuka Any help here?

[2020-06-24 11:03] OlegDokuka commented on #867
Closes this issue since an appropriate example was provided. @KaimingWan feel free to reopen if anything

[2020-06-24 11:03] #867 closed

[2020-06-26 11:06] OlegDokuka opened #877 "Improve how lease API is used"
The mechanics of using leasing from a requester's perspective are somewhat convoluted. You have to manually [deal with](https://github.com/rsocket/rsocket-java/blob/5631f69aca6da7043b9cdca9f4f125187d925837/rsocket-examples/src/main/java/io/rsocket/examples/transport/tcp/lease/LeaseExample.java#L119) waiting for leases to be acquired initially, and then separately [track new leases](https://github.

[2020-06-26 11:39] OlegDokuka opened #878 "Improve DuplexConnection design"
Currently, DuplexConnection send is declared to be called only once, however, it is called additional for the setup frame and can be called many times during fragmentation for every frame being fragmented.

Also, the RSocket layer should not be concerned with how messages are made serial and how they are sent (we should not deal with Processor that is a pipeline for all the messages - this should

[2020-06-26 14:01] artem-v opened #879 "Update reactor-bom to Dysprosium-SR9"
Reactor netty 0.9.9 (Dysprosium-SR9) has important fix which covers fd leaks.

https://github.com/reactor/reactor-netty/releases/tag/v0.9.9.RELEASE
Fix to file descriptor leak: ([#1152](https://github.com/reactor/reactor-netty/issues/1152), [#1154](https://github.com/reactor/reactor-netty/pull/1154), [#1163](https://github.com/reactor/reactor-netty/issues/1163))

[2020-06-29 13:31] OlegDokuka commented on #491
closing since there is no activity and most likely this issue is already fixed

[2020-06-29 13:31] #491 closed

[2020-07-02 17:34] OlegDokuka opened #882 "`DefaultPayload.create(BytBuf data, ByteBuf metadata)` should release given BB after content copying"
# Actual

`DefaultPayload.create(BytBuf data, ByteBuf metadata)` leaves given `ByteBuf`s unreleased which differs from the behavior of `ByteBufPayload` which ensures that given content is released when `ByteBufPayload` is released

# Expected

`DefaultPayload.create(BytBuf data, ByteBuf metadata)` releases the given `ByteBuf`s so a user should not take care of that.

The source of such expectation

[2020-07-03 07:41] lennartschoch-vw opened #883 "RSocket Protoc 0.2.19 generates invalid protobuf code for rsocket-java 1.0.1"
## Expected Behavior
When running the `generateProto` task using the latest version of `io.rsocket.rpc:rsocket-rpc-core`/`io.rsocket.rpc:rsocket-rpc-protobuf` (0.2.19) and the latest version of `io.rsocket:rsocket-core` (1.0.1), the generated code can be compiled without any issues.

## Actual Behavior
When running the `generateProto` task using the latest version of `io.rsocket.rpc:rsocket-rpc-co

[2020-07-03 20:32] mostroverkhov opened #884 "Server memory overflow due to unbounded caching of all incoming frames until SETUP/RESUME are received."
`ClientServerInputMultiplexer` does not check first frame type, stores [(1)](https://github.com/rsocket/rsocket-java/blob/0965a7111f4a79062c88e0320064b42ef4994e44/rsocket-core/src/main/java/io/rsocket/internal/ClientServerInputMultiplexer.java#L118), [(2)](https://github.com/reactor/reactor-core/blob/2e1c6496f51c20806fddc570d7149445b99b8353/reactor-core/src/main/java/reactor/core/publisher/FluxGro

[2020-07-06 04:15] rstoyanchev commented on #882
As long as it's clearly documented what it does I think it can be either way. It's possible the caller may want to continue to use the buffers after create.

[2020-07-06 06:55] OlegDokuka commented on #882
Well. I do not think mutating buffer makes any sense further  after passing it into a codec. Do we have real example of such? If not, i would expect Payload to be the last one so it would take care of releasing the given.

[2020-07-06 07:44] rstoyanchev commented on #882
Maybe not mutating, but for subsequent reading. Say I create a Payload in an auxiliary component (like an interceptor) but otherwise don't want to leave it alone for the main component to also consume. Or maybe I'm repeatedly using some buffers to create the same payload.

[2020-07-06 10:07] OlegDokuka commented on #882
It is not consistent in any case since ByteBufPayload will do release it later. So now you write code like the following:

[code]

Following that abstract example, DefaultPayalod will work as expected, whilst ByteBufPayload will fail since

[code]

That says implementations are inconsistent with each other. For future improvement of Payload API, it prevents creating consistent abstract API.

[2020-07-07 11:27] rstoyanchev commented on #882
Okay for consistency it makes sense to align the behavior of ByteBufPayload and DefaultPayload so if generic code deals with either it can do the same.

[2020-07-07 20:35] mostroverkhov opened #887 "Server memory overflow due to stream receivers retain payloads regardless requestN"
Rogue clients may not respect requestN from server, send frames firehose which are queued by receivers -  [UnicastProcessors](https://github.com/rsocket/rsocket-java/blob/2dbf61d2b214185a492bba45725edce9000e8df4/rsocket-core/src/main/java/io/rsocket/core/RSocketResponder.java#L540), backed by unbounded [queue](https://github.com/reactor/reactor-core/blob/232fe2e32bd6a99327b0f0f7b4efb4ca84f8e0e6/re

[2020-07-08 08:13] xiazuojie commented on #781
I've been struggling with current LoadBalancedRSocketMono implementation.  Major issues being:
1. limiting active sockets. Since RSocket is duplex, I see no point in trying to limiting the number of active sockets (and all the fuss about aperture, refreshSockets). Just connect with all supplied sockets. However, If limiting active sockets is desired, let Publisher of RSocketSupplier deal with it.

[2020-07-08 09:25] OlegDokuka commented on #781
@xiazuojie we are about to produce a new version of Loadbalancer which fixes all of the issues. @xiazuojie stay tuned

[2020-07-11 09:47] KaimingWan opened #888 "Is there any way to callback a method when remote client is disconnected?"
I find doOnConnection in class TcpServer.java. Is there any possible way to init a rsocket server and add callback when remote client is disconnected？

[2020-07-11 14:42] OlegDokuka commented on #888
Hi @KaimingWan!

In order to detect remote service disconnection, you may use `onClose` method which is available on the RSocket instance.

For example, when the new connection is handled, you may `subscribe` to that method so once the connection is lost, `onClose` will send a terminal signal.

[code]

As you may see from the example, sendingSocket represent a requester to a just connected client.

[2020-07-15 07:08] KaimingWan commented on #888
@OlegDokuka Thanks, it works~

[2020-07-15 07:09] #888 closed

[2020-07-15 07:26] PaoloTheKillah commented on #786
@OlegDokuka at my current job we were studying the possibility of adding the load balancer to our code (it provides useful features that we would like to use)  but we stopped due mostly to the issue reported in issue #713
Since I am reading here that there is a rewrite ongoing for the load balancer I would like to ask:
* Do you have an idea when the new loadbalancer version will be available?
* If

[2020-07-15 07:30] OlegDokuka commented on #786
@PaoloTheKillah We are planning to have a 1.1-M1 release on the 1st of August. In the good case, rework related to loadbalancer will go in that release. In the worse case - it is going to be M2 which is planned on the beginning of September

[2020-07-15 08:25] PaoloTheKillah commented on #786
@OlegDokuka that's great news! thanks for the prompt response :)

[2020-07-16 10:47] rstoyanchev opened #889 "Upgrade to Reactor Dysprosium-SR10"

[2020-07-16 10:48] rstoyanchev opened #890 "Upgrade to Reactor 2020.0.0-M2"

[2020-07-20 14:51] jg513 opened #892 "Customize `RSocketRequester` serial scheduler in `RSocketServer`"
https://github.com/rsocket/rsocket-java/blob/92afb38ac6fc98f66c0e6d4c073377c790b9c127/rsocket-core/src/main/java/io/rsocket/core/RSocketServer.java#L437

How to change the serial scheduler?

From:
[code]
To vert.x scheduler:
[code]

[2020-07-20 18:02] OlegDokuka commented on #892
@jg513 Scheduler is not designed to be a public API and is removed as of 1.1.x.

Nevertheless, you can always customize the global Reactor `SchedulerFactory` using [`Schedulers.setFactory`](https://github.com/reactor/reactor-core/blob/master/reactor-core/src/main/java/reactor/core/scheduler/Schedulers.java#L705) method.

[2020-07-20 18:02] #892 closed

[2020-07-21 01:01] jg513 commented on #892
Thanks, that solved my problem.

[2020-07-23 08:45] rasentry opened #893 "io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1 when using ByteBufPayload"
## Actual Behavior

Provided code throws IllegalReferenceCountException when I use ByteBufPayload and publish result on different thread.
There is no exception when I use DefaultPayload.create("World".getBytes()) insted of ByteBufPayload.

## Steps to Reproduce

[code]

## Your Environment

* RSocket version(s) used: 1.0.1
* Other relevant libraries versions (eg. `netty`, ...): 4.1.51.Final
* Plat

[2020-07-23 10:17] OlegDokuka commented on #893
Hi @rasentry!

Thanks for asking that!

The first problem here is that `DefaultPayload` and `ByteBufPayload` has different refcount management. The `DefayltPayload` is an unpooled payload, so calling the `release` method makes no effect on it. In contrast, calling the `ByteBufPayload#release` method releases all resources used by this `Payload`.

It means that if there are data and metadata, these

[2020-07-23 10:25] rasentry commented on #893
Thank you for your attention.
I have tried your suggestion but unfortunately id doesn't work, there is still the same exception.
I want you to notice the line
[code]
if I remove that line error disappear

[2020-07-23 10:47] OlegDokuka commented on #893
indeed. This is bug

[2020-07-24 19:38] mostroverkhov opened #895 "RSocket server is subject to empty frames flood denial-of-service"
RSocket `FrameReassembler` [1](https://github.com/rsocket/rsocket-java/blob/3b2883f9941beda5749812d675df4f793c132e48/rsocket-core/src/main/java/io/rsocket/fragmentation/FrameReassembler.java#L270), [2](https://github.com/rsocket/rsocket-java/blob/3b2883f9941beda5749812d675df4f793c132e48/rsocket-core/src/main/java/io/rsocket/fragmentation/FrameReassembler.java#L244) silently accepts empty `Payload`

[2020-07-24 21:50] OlegDokuka commented on #895
Good catchup 👍

[2020-07-27 03:18] JamesChenX opened #896 "[Feature Request] Expose a custom exception serializer for developers to serialize/deserialize the ApplicationErrorException instances"
## Motivation
To pass our business exceptions to the other side while avoid passing unnecessary exception data (In our cases, we just want to pass our business status code(Integer)), we have to use the message field (String) of the exceptions to implement our custom serialization and deserialization logic.
But it's error-prone and unfriendly to logger because the message is designed for serializat

[2020-07-27 04:51] OlegDokuka commented on #896
duplicate of #741

[2020-07-27 04:51] #896 closed

[2020-07-27 06:57] OlegDokuka commented on #895
We will be adding validation on the frame size > 64 as well as going to check that if empty or frame size is less than 64 bytes than this frame has to be the last one. Otherwise, the connection will be terminated.

For 1.1 the stream will be terminated instead of the whole connection

[2020-07-27 07:10] OlegDokuka commented on #887
This one should be applied only for 1.0.x. In 1.1 we are fixing (#761) dedicated Request Operators to not store anything in memory

[2020-07-27 07:11] #882 closed

[2020-07-27 07:11] OlegDokuka commented on #882
fixed in #886

[2020-07-27 07:12] OlegDokuka commented on #893
fixed in #894 should be available started from 1.0.2

[2020-07-27 07:12] #893 closed

[2020-07-27 07:12] OlegDokuka commented on #864
fixed in #876

[2020-07-27 07:12] #864 closed

[2020-07-27 07:14] OlegDokuka commented on #879
superseded by #889

[2020-07-27 07:14] #879 closed

[2020-07-27 07:16] OlegDokuka commented on #869
this might have been fixed by #859. Need to double-check whether it is true

[2020-07-27 07:41] rstoyanchev commented on #865
I think metadata pushes are not meant to be used for sending a lot of data or to be sent very frequently. We can add some basic rate limiting mechanism that allows up a certain number of pushes and/or metadata size within some period of time. That can be much lower than the general 16 MB frame size from the spec.

[2020-07-27 07:54] OlegDokuka commented on #884
Will be adding a boolean flag to check that the first received frame is SETUP/RESUME. Otherwise, REJECT terminating the connection

[2020-07-27 07:56] #860 closed

[2020-07-27 15:30] simonbasle commented on #860
I just saw this issue pop up in my feed due to being closed. FYI the root issue was https://github.com/reactor/reactor-core/issues/2196 and it was fixed back in 3.2.19.RELEASE and 3.3.8.RELEASE 👍

[2020-07-27 15:42] OlegDokuka commented on #860
yeah! I have seen it! That is why closed this

[2020-07-29 19:28] mostroverkhov opened #898 "RSocket server is subject to frames flood for non-existent streams"
RSocket server indefinitely accepts PAYLOAD frames of [non-existent](https://github.com/rsocket/rsocket-java/blob/b3d823c262e04e4965f9c3aae41a6a64719aafd9/rsocket-core/src/main/java/io/rsocket/core/RSocketResponder.java#L331) (terminated) streams. This can be abused by rogue clients to degrade server's responsiveness and increase operational costs.

Local testing with *single* client continuously

[2020-07-29 21:36] #641 closed

[2020-07-29 21:36] #712 closed

[2020-07-30 15:42] mostroverkhov commented on #895
I am not sure why this is marked as "enhancement" given It is covered by CVE - anyways, here another "enhancement" candidate - https://github.com/rsocket/rsocket-java/issues/898

[2020-07-30 16:58] OlegDokuka commented on #898
I see a possible improvement in `ClientServerMultiplexer` so we can get rid of few `volatile` read/writes.

But my belief is that a user should put an interceptor to track such attack and protect against it and rsocket implementation should not bring any assumption on how to detect such an attack.

As an improvement, we can consider exposing existing streams in readonly mode, to let interceptor do

[2020-07-30 17:06] OlegDokuka commented on #895
@rstoyanchev also, we need to add one more check to ensure that size of all fragments are equal and if the new one is less/greater than the last one, we have to consider it as a terminal, since an attacker can send frames different in size, thus a check for homogenity should be added in place in order to detect a corruption

[2020-07-31 02:59] uselvvi opened #900 "Reconnect after server restart"
Dear RSocket team,

First of all, I am playing with rsocket. It looks great so far. This is more of a question.
This is a very simple spring boot service class for rsocket client. As you see we establish rsocket connection as part of constructor, cache the requestorMono. The below code works perfectly fine as long as server is not restarted. When you restart server, the connection is broken. Clien

[2020-07-31 06:43] OlegDokuka commented on #900
Hello @uselvvi!

It is great to get more users on board!

Have you looked at build-in [reconnect](https://github.com/rsocket/rsocket-java/blob/master/rsocket-core/src/main/java/io/rsocket/core/RSocketConnector.java#L374) feature which does exactly what you need:

[code]

[2020-08-01 21:10] uselvvi commented on #900
Thanks @OlegDokuka for clarifying. It works great!
I see what you have done. My confusion now is - will it not connect to the server for every request? Will it not become like HTTP?

[2020-08-01 21:14] OlegDokuka commented on #900
@uselvvi nope. Reconnect works only on the connection level. It means that given `Mono<RSocket>` caches a last resolved rsocket which is working and shares it between all new subscribers until it this instance becomes disposed (frankly speaking until the underlying connection is closed).

Once the RSocket goes away, the Mono will have no instance, so once it gets a new subscriber interested in the

[2020-08-01 21:18] uselvvi commented on #900
Awesome!! Thanks @OlegDokuka

[2020-08-01 21:18] #900 closed

[2020-08-03 09:53] rstoyanchev commented on #898
@mostroverkhov do you have any suggestions for what we can do? From the perspective of RSocket Java, such frames are dropped and probably couldn't be dropped much earlier to make a substantial difference. Any other solution requires keeping track of how many frames have been received for non-existent streams and choosing a threshold will be difficult without more knowledge of the application.

[2020-08-03 12:34] #884 closed

[2020-08-03 14:31] #895 closed

[2020-08-04 13:54] vinsguru opened #907 "RSocket - Support for Flux in Mono out"
Dear All,
Thank you so much for all your contribution!

Have a question / suggestion.

**Server side:**

I have a rsocket server which accepts `Flux<Payload>` and returns a `Mono<Status>`.

**Client side:**

Even though I return from a Mono server, this works perfectly fine and totally ok.
[code]

But If I switch to Mono, It does not work!
[code]

[code]
Why do we not explicitly support Mono here?

[2020-08-04 13:58] OlegDokuka commented on #907
@vinsguru This is not a vanilla RSocket-Java issue. Please consider submitting it to the https://github.com/spring-projects/spring-framework/ repo

@rstoyanchev can you please transfer that one if possible?

[2020-08-04 14:06] bclozel commented on #907
This was already submitted as spring-projects/spring-boot#22713

@vinsguru As explained in the issue above, Spring Framework is merely [mapping the RSocket interactions at the API level](https://github.com/rsocket/rsocket/blob/master/Protocol.md#stream-sequences-and-lifetimes). We can't really support a `Mono` there without:
1. a new interaction model
2. or buffering all elements before emitting i

[2020-08-04 22:41] vinsguru commented on #907
@bclozel

I thought It could be a valid use case for the responder to send just a single respond for the request stream. Might be a bad example. but consider this. Responder could be a calculator app for which client sends 1, 2, 3, 4 - a stream of request to the '+' message mapping. Upon sending '=', the responder might send final result of `Mono<10>`.

It works fine with the workaround anyway as

[2020-08-08 07:03] aholstenson opened #910 "Provide Automatic-Module-Name"
An `Automatic-Module-Name` in the manifest of the published JAR-files would improve Java 9+ compatibility when using modules. Currently you will receive warnings about using an unstable name derived from the module's file name.

## Motivation

Targeting Java 9+ is becoming more common and being able to use RSocket while also using Java modules would be beneficial to those projects.

## Desired sol

[2020-08-09 11:42] kprasad99 opened #911 "RSocket Request Stream hangs when connection per request is used on load test"
Trying to replace `GRPC` with `RSocket` for my inter microservice communication which shall be deployed in kubernetes. Since its
inside kubernetes I'm not using client side loadbalancer(which `rsocket-java` provides) as it doesn't fit well with Horizontal Pod Autoscale. For the same reason I'm using connections per request, so that requests can be distributed among pods/instances rather than rsock

[2020-08-09 11:51] OlegDokuka commented on #911
Hi @kprasad99!

Thanks for asking that.

### First of all, RSocket is not designed to be used in the `request per connection` fashion and we are  not planning to tune RSocket for such usage approach at any point in time

### Secondly, we highly recommend using client-side load balancing since it does not prevent one to integrate it with Kubernetes service discovery.

### Thirdly, if non of the app

[2020-08-09 12:00] #911 closed

[2020-08-10 08:47] rstoyanchev commented on #907
@vinsguru as @bclozel mentioned there are 4 interaction models in RSocket. In Spring you don't have to name the interaction, just use `Mono` and `Flux`, but one of those models has to be chosen on the wire.

Now we could allow Flux in and Mono out, perform a request-channel interaction and then `.take(1)` on the response but the idea is to avoid cases where the framework has to potentially drop or

[2020-08-10 15:18] vinsguru commented on #907
@rstoyanchev Understood now. Thanks for the explanation.
Closing this.

Thank you all for your contribution to the open source community.

[2020-08-10 15:18] #907 closed

[2020-08-10 17:33] #890 closed

[2020-08-11 01:22] SerCeMan opened #914 "NullPointerException on connection disposal"
Hey, folks!

We've noticed the following error periodically when the connections are being disposed. If I'm reading the exception correctly, it seems like the collection stores `null` at some point.
[code]

## Steps to Reproduce

It seems that the error isn't easily reproducible. We're only seeing very rarely, once or twice a day.

## Your Environment

* RSocket version(s) used: 1.0.1
* Other rele

[2020-08-11 05:53] OlegDokuka commented on #914
Hey @SerCeMan!

Thank you for reporting that!
I will have a look.

On the root-cause... Not sure we put null somewhere, it is more likely it is racing between cleanup during disposal and a stream which does selfremoval when it is terminated as well. So it may be that iterator has seen an element but a collection has already been shrunken so once a next is called, the element being observed is null

[2020-08-11 07:50] rstoyanchev commented on #911
@kprasad99 a couple of extra pointers. One, the Loadbalance api is getting updated and improved in 1.1. Two, here is an example based on the new API that shows [periodically obtaining](https://github.com/rsocket/rsocket-java/blob/master/rsocket-examples/src/main/java/io/rsocket/examples/transport/tcp/loadbalancer/RoundRobinRSocketLoadbalancerExample.java) a list of hosts to use which could be obta

[2020-08-12 08:51] OlegDokuka commented on #745
@xiazuojie The implementation has changed in 1.1.0-M1, thus this issue no longer applies.

Please give a new implementation a try

[2020-08-12 08:51] #745 closed

[2020-08-12 09:06] OlegDokuka commented on #716
Hey @pckeyan!

We have a reworked loadbalancer and now you can choose between strategies used for loadbalancing.
Now, if you wanna have a fair balancing - you may choose a simple RoundRobing Loadbalancer. In turn, there is the same Weighted Loadbalancer. However, please remember, that the Weighted strategy is unfair you may never get a call onto newly connected servers if the first chosen is in a

[2020-08-12 09:06] #716 closed

[2020-08-12 09:14] OlegDokuka commented on #713
Hey @mmaszkie @nicpuze @juri8!

The reason for the issue was the default fail-fast strategy, which had a place only when there are no active sockets in the pool. In this particular case, such may happen when the new instances have not been yet resolved, but there was a subscription on the LoadbalancedRSocketMono to get a one. In that case, the FailinRSocket instance was returned, which led to the

[2020-08-12 09:14] #713 closed

[2020-08-12 09:25] OlegDokuka commented on #654
Hi @GusevAnton!

We have improved loadbalancer API and implementation and we encourage you to give it a try following this [example](https://github.com/rsocket/rsocket-java/blob/master/rsocket-examples/src/main/java/io/rsocket/examples/transport/tcp/loadbalancer/RoundRobinRSocketLoadbalancerExample.java)

[2020-08-12 09:25] #654 closed

[2020-08-12 09:40] OlegDokuka opened #915 "Add JavaDocs and Tests for the new Loadbalance API"
We have to improve JavaDocs for Stats and WeightedLoadbalanceStrategy.

Also, we have to add more tests to ensure all corner cases are taken into account

[2020-08-12 09:41] OlegDokuka commented on #725
closes in favor of #915

[2020-08-12 09:41] #725 closed

[2020-08-12 09:42] #781 closed

[2020-08-12 09:42] #889 closed

[2020-08-12 09:44] OlegDokuka commented on #786
@PMacho we have finally introduced new implementation.

Would you like to play with it and see whether it has to be improved?

[2020-08-12 09:49] OlegDokuka commented on #874
We believe that this should not be a part Loadbalance API and we suggest implementing this separately.
E.g. collecting all the instances into a list and then do broadcast manually.

[2020-08-12 09:49] #874 closed

[2020-08-12 10:02] #857 closed

[2020-08-12 10:02] OlegDokuka commented on #857
Closed because of lack of information

[2020-08-12 13:01] OlegDokuka commented on #743
@kacper-emersoft we will be exposing the `SocketAddress remoteAddress()` method on the `DuplexConnection` interface, which basically let you check the remote address.

Once this is going to be done, you will be able to implement a `DuplexConnectionInterceptor` and reject new connections if SocketAddress is not on the list.

I'm closing this issue in favor of #735, so please track all the updates h

[2020-08-12 13:01] #743 closed

[2020-08-12 13:55] OlegDokuka opened #916 "fix RequestResponseResponderSubscriber to do not cancel Subscription in onNext"

[2020-08-12 13:56] OlegDokuka commented on #862
In 1.0.x, this was a result of indirect `MonoNext` usage in LoadbalancedRsocketMono which comes with `Mono.from(Publisher)` in the internals. This also results in the cancellation frame, being sent from the client-side to a server, which is unwanted behavior.

This is fixed for 1.1.0 including improvements in Loadbalancer API (starting from 1.1.0 you do not have to do put `retry()` anymore to wait

[2020-08-12 13:56] #862 closed

[2020-08-13 07:30] PMacho commented on #786
Hi @OlegDokuka, nice to jetzt from you. I'll sure look at the new implementation as soon as possible and send a feedback.

[2020-08-21 08:36] lena-precog opened #917 "Resume functionality causes client wait for answer forever in 1.0.2"
After upgrading to 1.0.2 version Resume functionality cause stuck client waiting to answer forever
At 1.0.1 all worked as expected.Also if I remove resume code all work as expected.
I attached example with channel but the same behaviour with response/request, request/stream.

**Server Rsocket code:**
[code]

**Controller**
[code]

**Client RSocket Side:**

[code]

**Call to Rsocket server :**

[co

[2020-08-25 01:47] vinsguru opened #920 "Lease based on client"
Hi @OlegDokuka ,

I was looking at this Lease example - https://github.com/rsocket/rsocket-java/blob/master/rsocket-examples/src/main/java/io/rsocket/examples/transport/tcp/lease/LeaseExample.java

I understand we can periodically issue lease based on some conditions. But Is there anyway for issuing lease based on the client info which will affect specific client requests?

Thanks.

[2020-08-27 06:10] KaimingWan opened #921 "Is it possible to send data in parallel in server using the same requester from client"
Rsocket support full duplux and peer to peer communication as far as I know. After client has connected to server, we can get the RSocket object to send data from server proactively. Here comes a case that we have parallel request to send data in the server side. All the parallel request will use the same RSocket which is stored in menory when the client connect to server.

I have checked issue #8

[2020-08-27 08:41] OlegDokuka commented on #921
Hi @KaimingWan

Do you have any code sample?

Cheers,
Oleh

[2020-08-27 10:03] KaimingWan commented on #921
@OlegDokuka Thanks for your reply.  I am sorry that my code is highly integrated with biz code and denpend on spring-rsocket, so it is not convient now to extract them as an rsocket-java example. However, your reply solve my confusion. Before ask the question, I also think that we can't parallel request on the single connection. Your reply strengthened my mind. Maybe let the client create serveral

[2020-08-27 10:06] OlegDokuka commented on #921
It can have a sense. You may look at the new Loadbalance API for that purpose. Or implement your own pooling mechanism.

Also, once we have Aeron / QUIC implementations in place, it is going to be possible to utilize multiple threads to sends frames for those connection types.

Cheers,
Oleh

[2020-08-27 10:34] KaimingWan commented on #921
@OlegDokuka I am not familiar with Aeron/QUIC. I find some doc about quic and know that it is based on udp protocol. Is it mean I can send parallel request to the single client if rsocket have quic implementation?

[2020-08-27 13:14] OlegDokuka commented on #921
Yes.	Kind of. UDP allows frame 	reordering which in theory may be the result of independent frame delivery.

[2020-08-28 06:00] KaimingWan commented on #921
@OlegDokuka Thanks for your replay and solve my question. I will have a try if rsocket implement Aeron/QUIC in the future.  The issue can be closed.

[2020-08-28 10:41] KaimingWan commented on #921
@OlegDokuka Hi, I have another supplementary question. I cached my rsocket object when the rsocket client is started. Everytime I use the same rsocket object to send data. I use TcpClientTransport ot create my rsocket client(with cache). As we know, the netty using nio and can get result in a async way. I test my flowing code and find that If the previous rsocket request is blocked in server, the

[2020-08-28 10:54] OlegDokuka commented on #921
Hi @KaimingWan!

The answer is - never block!
If you block - oflload it to another thread. If you block the Netty thread - all subsequent frames will be blocked as well.

Cheers
Oleh

[2020-08-28 11:27] KaimingWan commented on #921
@OlegDokuka Do you mean not block thread in the server side？There may exists some case that code have bug and cause thread stuck. If the thread is stuck by some unknow reason, all the request over the single tcp connection will not receive any response. Am I right？

[2020-08-28 11:33] OlegDokuka commented on #921
@KaimingWan that is correct.

It is up to the user on how to manage such cases. RSocket only suggest to avoid blocking ops.

There is [BlockHound] (https://github.com/reactor/BlockHound) project which may help detecting any blocking ops in the production code.

Also, you may always write your own interceptor to offload all the calls on the separate scheduler (see the following link https://github.

[2020-08-28 11:37] KaimingWan commented on #921
@OlegDokuka Thanks for your solution. I will try them and give your response later.

[2020-08-30 21:40] vinsguru commented on #920
Never mind. I guess I could use limitRate for this!

[2020-08-30 21:40] #920 closed

[2020-08-31 10:40] KaimingWan commented on #921
Hi @OlegDokuka , finaly I implement a dependent receiver component in the server side which hold a worker thread pool to do the biz for client's request and return the response in a async way. As you said, remove all blocking operations or operations that may cause blocking. Now I can send rsocket request parallely in the client (from the view of application layer) and get result from a future obj

[2020-08-31 11:43] #921 closed

[2020-09-03 07:38] KaimingWan opened #926 "Can I disable the resume ability?"
I check the example TcpPongServer in rsocket-java project and find if specify new Resume when start server, then we can enable resume. However, I do not specify resume to start the server and client. And when I restart server, I can still receive the old resumed connection in the interceptor. Did I missed something important?

[2020-09-03 07:44] OlegDokuka commented on #926
@KaimingWan Resumability is not enabled unless you enable it explicitly using the API dedicated for that.

Not sure what exactly you observed but feel free to provide the full setup with any extra logs!
(FYI. In the `TcpPongServer` example, resumability is enabled only when the `RSOCKET_TEST_RESUME` env variable is set to `TRUE`

Cheers,
Oleh

[2020-09-04 06:13] KaimingWan commented on #926
@OlegDokuka Thanks for your reply. I will do more test to check the mechanism later. Recently, my code works well. I close the issue. If I have some conclusion, I will reopen issue and do the supplement.

[2020-09-05 11:16] KaimingWan commented on #926
Hi @OlegDokuka , recently I did some test and found some interesting thing about rsocket's connection. Flowing case A code is my method to get a rsocket requester object which is used to send data. This method will be invoked by other class in parallel. By the way, the method is in a singleton class hold by spring and I create a final private sync object in the class. In case A's code, I use the s

[2020-09-05 11:32] OlegDokuka commented on #926
Unfortunately, I cannot. It is your code, and you are the primary author who can easily guess what is going there.

Along, I doubt on saying what the issue you observe since you presented a custom code that does reconnection logic in case of connection is shut down is.

What I can recommend for sure is looking at the built-in reconnect feature (https://github.com/rsocket/rsocket-java/blob/master/r

[2020-09-05 13:02] KaimingWan commented on #926
@OlegDokuka Thanks for your advice. I will try the inner reconnection mechanism and see the effect next week.

[2020-09-06 12:24] dawud-tan commented on #375
@yschimke is it possible to use rsocket-java in Android below 21? The doc says that multiDexEnabled should be set to true, when setting minSdkVersion to 20 or lower.

[code]

[2020-09-06 12:32] yschimke commented on #375
Not sure, haven't tried.  If it works for you please update here.

With rsocket-java and Spring reactor, Android support is best effort.

See https://github.com/reactor/reactor-core/issues/2227 which relates to a critical dependency of rsocket-java

[2020-09-06 12:33] yschimke commented on #375
You can also try https://github.com/rsocket/rsocket-kotlin/ not sure what the answer is here

[2020-09-06 17:03] OlegDokuka commented on #375
@dawud-tan better to raise an issue at https://github.com/rsocket/rsocket-kotlin/ mentioning required Java version, etc

[2020-09-07 11:02] KaimingWan commented on #926
Hi @OlegDokuka  I solved the issue. I enable the debug log mode and check the reactor-netty's debug log and finally get the result. Because I do some blocking opeartions in the netty nio thread, the nio thread can't process initiled connection in the pooledConnectionProvider compeletly. All the connection's close are delayed until the nio thread is not busy. So in my logs I see all the connection

[2020-09-07 11:48] klopfdreh opened #927 "Migration rsocket 1.0.0-RC6 to 1.0.2 breaks functionality"
## Expected Behavior
The implementation of 1.0.2 should work the same as 1.0.0-RC6

## Actual Behavior
When I start the ServerStarter and directly after that the ClientStarter - the publisher subscribes, but no request is sent to the server when subscriber.onComplete(); is called.

The client server roundtrip should work like before (master branch)

The changes I did to migrate from 1.0.0-RC6 to 1

[2020-09-07 11:50] klopfdreh commented on #927
As of https://github.com/rsocket/rsocket-java/issues/628 with 1.0.0-RC6 the code was working.

[2020-09-08 10:28] #926 closed

[2020-09-10 20:07] #735 closed

[2020-09-14 11:57] rstoyanchev commented on #927
@klopfdreh I think this is related to the use of a custom `Publisher` that is not respect back pressure and [publishes](https://github.com/klopfdreh/rsocket_playground/blob/458786e034f7e67735f7431d747f1ee6188512a6/src/main/java/de/klopfdreh/rsocket/playground/ClientController.java#L29) before demand.

If I re-work that a bit to use a Flux:
[code]
where `createPayload` in `ClientController` is:
[co

[2020-09-14 12:50] klopfdreh commented on #927
Hey @rstoyanchev,

thanks a lot for the help here. My question regarding this would be, why this worked in 1.0.0-RC6. Was there a code rewriting that causes the change of behavior?

The publisher is given as ClientController to the socket
[code]

and as far as I understand should `subscriber.onNext` process the next payload. `subscriber.onComplete` then should cause the whole server roundtrip to b

[2020-09-14 13:03] rstoyanchev commented on #927
@klopfdreh yes there were changes and even if the previous version was more lenient, the fact remains that your have a custom Publisher that does not behave according to Reactive Streams [rules for a Publisher](https://github.com/reactive-streams/reactive-streams-jvm#1-publisher-code) where a Publisher cannot call onNext before there is a request for more elements through the `Subscription` given

[2020-09-14 13:44] klopfdreh commented on #927
Thanks a lot for clarification!

[2020-09-14 14:05] #878 closed

[2020-09-14 14:32] klopfdreh commented on #927
@rstoyanchev The rewritten code works like a charm. I just wanted to know what exactly the issue was and as I read the documentation it is more clear to me. 👍

I guess this issue can be labeled as a question and I am going to close it with this comment.

The rework can be seen here:

https://github.com/klopfdreh/rsocket_playground/pull/3/commits/b8bf00c6d6666415fdfc46037ce0db17813d6846

[2020-09-14 14:32] #927 closed

[2020-09-14 17:21] ghostidentity opened #930 "AbstractPooledDerivedByteBuf$PooledNonRetainedSlicedByteBuf"
Hi guys,

Im facing weird issue on intellj IDE, starting the cilent application from IDE works fine but executing it from jar file generated an error.

[code]

Java version: openjdk 11.0.8 2020-07-14
OS: Ubuntu 18
Project Type: Modular

[2020-09-14 17:23] OlegDokuka commented on #930
@ghostidentity transferred this issue to the appropriate repository

[2020-09-14 17:26] OlegDokuka commented on #930
@ghostidentity better to open that issue at https://github.com/spring-projects/spring-framework since this is not related to RSocket-Java anyhow and most likely related to how spring resolves codes in the packaged vs non-packaged state

cc/ @rstoyanchev

[2020-09-24 14:53] #865 closed

[2020-09-24 14:53] #887 closed

[2020-09-28 15:39] mkheck opened #935 "Add ability to mock an RSocket connection for better isolation & testability"
Add ability to mock an RSocket connection within unit tests to isolate functionality to one end of an RSocket connection for testing.

## Motivation
Without the ability to mock an RSocket connection in unit tests, unit tests effectively become integration tests. The (current) necessity to create both RSocket client and server within a unit test adds a large amount of indirectly-related code that f

[2020-09-28 15:44] spencergibb commented on #935
See https://github.com/spring-cloud/spring-cloud-contract/issues/1173

[2020-09-28 17:14] marcingrzejszczak commented on #935
If we're just talking about simple mocking it out then that's not enough. It would be great to have an option to teach this mock how to behave, store the mock definition in a file that can be shared. That means that the stubbed RSocket server should have an API to reach it and tell it how to behave. Having a http://wiremock.org but for RSocket would be fantastic.

[2020-09-30 08:18] #779 closed

[2020-09-30 08:28] OlegDokuka commented on #930
closing this issue because of no activity. @ghostidentity feel free to reopen it if anything

[2020-09-30 08:28] #930 closed

[2020-09-30 08:31] OlegDokuka commented on #485
closing this as superseded by #878

[2020-09-30 08:31] #485 closed

[2020-09-30 08:43] OlegDokuka commented on #755
@freelancer1845 as of now `position` an `impliedPosition` is based on the frame size for each observed frame https://github.com/rsocket/rsocket/blob/master/Protocol.md#implied-position. Historically happened that instead of counting frames number, we started calculation the position on every frame size instead. In Java, to guess frame size, we use `readableBytes(),` which may work incorrectly if t

[2020-09-30 08:43] #755 closed

[2020-09-30 08:44] OlegDokuka commented on #766
@antonbashir can you please look at the latest changes to see whether your recommendations are still applicable to the current one?

[2020-09-30 08:46] OlegDokuka commented on #580
close this as superseded by @878

[2020-09-30 08:46] #580 closed

[2020-09-30 09:04] OlegDokuka opened #936 "Add Backpressure support on the connection level"
As of now `DuplexConnecton` has a pretty straightforward mechanism for sending frames, however, it may be useful in many cases to follow the connection level backpressure so the sender will be protected by overwhelming itself.

Such a capability should be configurable by each specific transport and should be the details of implementation. However, to enable such a capability, the DuplexConnection

[2020-10-01 10:16] antonbashir commented on #766
@OlegDokuka Thanks! Currently main part of this issue done, so i think we can close this.

[2020-10-01 10:50] OlegDokuka commented on #766
Awesome! Thanks for the update. Closing this one!

[2020-10-01 10:50] #766 closed

[2020-10-03 17:45] jexp opened #940 "Dependencies for 1.1.0-M02 missing from Maven Central?"
## Expected Behavior
The readme states that 1.1.0-M01 / M02 have only mavenCentral dependencies.

## Actual Behavior

Dependency resolution fails with:

[code]
The last version of project reactor on maven central is: 3.3.10.RELEASE

## Steps to Reproduce

use this in your pom.xml

[code]

## Possible Solution

Possibly point out a maven repo (the jfrog one didn't help) that has those deps, for the

[2020-10-03 17:47] jexp commented on #940
Hmm according to the reactor repo, they only publish stable versions to maven central and otherwise recommend

`maven { url "https://repo.spring.io/milestone" }`

https://github.com/reactor/reactor-core#getting-it

[2020-10-03 17:49] OlegDokuka commented on #940
@jexp while the 1.1.0 is in the `milestone`/`rc` phases, you will need to depend on the spring milestones to use an appropriate version of the reactor, apologies for that inconvenience which is going to be fixed once the rsocket-java became a `release` one

[2020-10-03 18:36] jexp commented on #940
Right no problem there. Just need to point it out in the readme :)

[2020-10-06 10:32] rstoyanchev commented on #910
For now the low hanging fruit is to declare an "Automatic-Module-Name" in the MANIFEST just like [Reactor](https://github.com/reactor/reactor-core/commit/f8a2dac16903265a00b6e50ee1a69c0cb72b8f57) and [Netty](https://github.com/netty/netty/pull/7245/commits/f35555df2848a41c934f2e366bbc7816deed10fd) have done.

I propose using a filename convention which is also what Java's [ModuleFinder picks](http

[2020-10-06 17:32] rstoyanchev commented on #914
This should be resolved now.

[2020-10-08 15:06] rstoyanchev opened #943 "Upgrade to Reactor 2020.0 RC2"

[2020-10-12 13:37] #943 closed

[2020-10-12 17:09] #940 closed

[2020-10-22 15:00] pckeyan commented on #716
@OlegDokuka I am testing this example, I observe that load is not going to Server 1 and if I add a new server node, I have to reassign the producer. Can you please comment?

[2020-10-23 09:08] xiazuojie opened #947 "Infinite loop due to thread safety of MpscUnboundedArrayQueue.poll"
As its name (Multi Producer Single Consumer) indicates, [MpscUnboundedArrayQueue](https://github.com/rsocket/rsocket-java/blob/dc85fa7013f15491ba74ca8d9ad2820924e7dfbc/rsocket-core/src/main/java/io/rsocket/internal/jctools/queues/BaseMpscLinkedArrayQueue.java#L255) is not thread-safe when polling. If multiple threads are polling from it, those threads may end up in infinite loop [here](https://git

[2020-10-23 12:57] OlegDokuka commented on #947
@xiazuojie I just noticed that you report that issue for 1.0.0-RC6, can you please check that this one is still an issue for 1.0.2 and 1.1.0-SNAPSHOT?

[2020-10-23 13:01] xiazuojie commented on #947
it's still an issue in the latest master branch.

[2020-10-23 13:04] OlegDokuka commented on #947
I mean we still use a single consumer queue, but in the latest implementation, it should not be possible to run in that case when you dispose an UnboundedProcessor which is the successor to MpScUnboundedQueue.

[2020-10-23 13:09] xiazuojie commented on #947
Let me give it a check. I'll report back later

[2020-10-23 13:10] OlegDokuka commented on #947
Although the mentioned tests reproduce the issue, it does not represent how we use MpscQueue inside rsocket. Indeed, we had this issue of racing `dispose()` which causing `queue.clear()` with `queue.poll` but that should be addressed in 1.1 for sure.

[2020-10-26 11:57] rstoyanchev commented on #910
Moving to backlog to allow more time for feedback.

[2020-10-26 12:01] rstoyanchev opened #951 "Upgrade to Reactor Dysprosium-SR13"

[2020-10-26 12:02] rstoyanchev opened #952 "Upgrade to Reactor 2020.0.0"

[2020-10-26 16:18] #951 closed

[2020-10-27 12:15] #952 closed

[2020-10-27 12:49] #633 closed

[2020-10-27 12:49] #822 closed

[2020-10-27 12:55] OlegDokuka commented on #786
should be closed by #953

[2020-10-27 12:55] #786 closed

[2020-10-27 12:58] OlegDokuka commented on #716
@pckeyan is it the same test? Do you use the new loadbalance API?

[2020-10-27 14:02] pckeyan commented on #716
@OlegDokuka Thank You. I used the same [example](https://github.com/rsocket/rsocket-java/blob/master/rsocket-examples/src/main/java/io/rsocket/examples/transport/tcp/loadbalancer/RoundRobinRSocketLoadbalancerExample.java) mentioned above only by changing the count to 10 instead of 10000 in the for loop to verify the distribution and loss. First message is lost always lost and the load is not sent

[2020-10-27 14:23] pckeyan commented on #716
@OlegDokuka And Can you please comment on how I can pass the List of LoadBalanceTarget as reference so that when I add new node or remove a node, it automatically gets updated within `producer`? With reference to same example.

[2020-10-27 14:25] pckeyan commented on #716
@OlegDokuka retry fixed the message but it was processed by another server. First server in the list is unreachable it seems, I will test with my sample and comment here.

[2020-10-27 15:30] OlegDokuka commented on #716
@pckeyan

Please make sure you use the latest rsocket version ( we have just released the 1.1.0 today, which has a few more improvements)

Please be sure that the builder uses `.roundRobinLoadbalanceStrategy()`, by accident the version you might check out, may use the weighted strategy.

[code]

`LoadbalanceTarget` has 2 properties: the `transport` - used to establish a connection to a node; the `

[2020-10-27 15:31] OlegDokuka commented on #716
@pckeyan feel free to open a new issue if you spot any other problems related to the new implementation

[2020-11-02 09:21] #915 closed

[2020-11-02 09:42] OlegDokuka opened #954 "Improve JavaDocs for Loadbalancing"

[2020-11-02 09:44] OlegDokuka opened #955 "Improve Tests for WeightedLoadbalance Stratagy"
We need to add tests for stats calculation and ensure that math behind the algo is properly tested

[2020-11-03 11:43] #898 closed

[2020-11-03 12:04] OlegDokuka commented on #869
With the test, we can not reproduce it in 1.1 but still see it appearing from time to time in 1.0.x. Probably, it is not worth fixing in 1.0.x since it does not affect any core functionality and rsocket disposal happens not that frequently.

[2020-11-03 12:04] #869 closed

[2020-11-04 08:43] SerCeMan opened #956 "The channels were never completed on socket disposal prior to rsocket 1.1.0"
Hey, folks!

This might be more of a behaviour question than an actual bug. However, I'm not 100% sure so I would like to clarify the expected behaviour. Consider the following code where the client requests a channel and then closes the connection.

[code]

In the above example, rsocket `1.0.3` prints the following indicating that the subscription was cancelled but the channel did _not_ reach the

[2020-11-04 14:15] OlegDokuka commented on #956
Hi @SerCeMan!

As usual, thank you for reporting that, indeed that a small point for improvement especially when it is a synchronous case.

On the other hand, we propagate error in any case so if it happens to be a disconnected pipeline or a pipeline with something like a `.cancelOn` operator which offloads cancel signal on a different thread, in such scenario, you will see a `CancelledExceptrion`

[2020-11-04 14:22] OlegDokuka commented on #956
closing this one, let me know if you spot anything similar to that case

Oleh

[2020-11-04 22:31] SerCeMan commented on #956
Hey, @OlegDokuka! Thanks! Would you be able to clarify for my understanding of whether the behaviour of cancelling but not completing streams is correct? I'm trying to count the number of channels that went to a particular `RSocket` in a similar way to `io.rsocket.client.LoadBalancedRSocketMono.WeightedSocket.CountingSubscriber`, however, I'm struggling to understand how I can count it reliably si

[2020-11-04 22:46] OlegDokuka commented on #956
Hey @SerCeMan! What do you mean by canceling? Any relevant example? If that in the context of the issue, then there are 2 options for how to handle uncompleted streams:

1. Cancel Them; In case of everything but requestChannel that ends with normal cancellation signal. I the case of `requestChannel` this becomes a little tricky: In case of cancellation requestChannel on the responder side - the st

[2020-11-04 23:22] SerCeMan commented on #956
On the responder side. I'm trying to count channels opened across a single RSocket in a way which is similar to the following class:

[code]

E.g. with the following acceptor.
[code]

When the clients call `client.dispose()`, the `currentCount` doesn't get decremented prior to 1.1.0, however, it seems to count the number of channels correctly in 1.1.0 due to `java.util.concurrent.CancellationExcep

[2020-11-05 07:27] OlegDokuka commented on #956
Gotcha. Let me take a look at 1.0.x to see if there is a bug

[2020-11-05 11:38] rstoyanchev opened #957 "Replace usages of Processors that were deprecated in Reactor 2020.0.0"
There are a few

[2020-11-06 17:54] pckeyan opened #958 "LoadbalancerPool should remove targets which it fails to connect"
I am trying to add the following nodes to the Load balancer as below:

[code]
While in the process of the application start up, one of the node failed and not available.

## Expected Behavior

Load Balancer should gracefully not use the node that is not reachable.

## Actual Behavior

Client application fails to start with following exception:

[code]

## Possible Solution

Loadbalancer should gra

[2020-11-12 23:01] phnxfire commented on #708
Can you point to a sample where RSocket is being used with Aeron?

[2020-11-13 20:20] OlegDokuka commented on #708
@phnxfire we have https://github.com/rsocket/rsocket-transport-aeron, but it is outdated as of now. We are planning to resurrect this implementation in the closest month

[2020-11-18 12:27] lkolisko commented on #887
I recently started to run into the following exception for a requestStream call on the client. It seems somehow related to changes fixed to address this issue. But I am struggling to root cause if this is wrong usage or framework issue. Is there any guidance on where to look?

[code]

[2020-11-18 12:36] OlegDokuka commented on #887
@lkolisko in your case it is a little bit different issues and not related to that one.
I will appreciate it if you can open a new ticket and explain how we can reproduce that one.

Cheers,
Oleh

[2020-11-18 14:01] lkolisko opened #959 "reactor.core.Exceptions$OverflowException: The receiver is overrun by more signals than expected (bounded queue...)"
Using RSocket REQUEST_STREAM to implement a query where results are streamed back to the client. The client sends REQUEST_N frame 512. It is successfully receiving results. Once the client successfully receives >256 results, it requests an additional 256. The communication works fine. FrameLogger shows expected receiving and sending frames.  After some time the following exception is thrown on the

[2020-11-18 14:05] OlegDokuka commented on #959
Looks like it is possible with fusion enabled. I will try to arrange something similar with the `.publisheOn` operator to see if this reproduces

[2020-11-18 22:40] Cesarla opened #960 "CancellationException: Inbound has been canceled on channel-based communication"
Hi,

After upgrading  from `rsocket-java:1.0.2` to `1.1.0` I am experiencing cancel-signals not being propagated, but instead being captured by the default onErrorDropped.

Here is a stack-trace:
[code]

I see that there was a [commit](https://github.com/rsocket/rsocket-java/commit/2e84405090e585e320e53873cac2b3d80c0c17fc) affecting the `RequestChannelResponderSubscriber`, but I am not sure if it

[2020-11-19 04:08] hadix-lin opened #961 "RSocketResponder does not remove Subscriber from sendingSubscriptions when response is empty"
io.rsocket.core.RSocketResponder#handleRequestResponse

[code]

set isEmpty=false in hookOnNext, but there is no code to set it to true afterwards.   ```sendingSubscriptions.remove(streamId, this)``` in hookOnComplete has no chance to be executed. cause the subscriber object cannot be recycle.

Why not put ```sendingSubscriptions.remove(streamId, this)``` into hookFinally?

[2020-11-19 04:15] linux-china commented on #961
Then link is:  https://github.com/rsocket/rsocket-java/blob/d047c59809dd65db86ebd3d76924e692b402c6e5/rsocket-core/src/main/java/io/rsocket/core/RSocketResponder.java#L402

or remove directly  in hookOnComplete like logic for requestStream

[code]

[2020-11-19 06:58] rstoyanchev commented on #961
It does look like `sendingSubscriptions.remove` should be called in `hookOnComplete` in any case. Perhaps the condition should be `(isEmpty && sendingSubscriptions.remove(streamId, this))`. WDYT @OlegDokuka ?

[2020-11-19 07:01] OlegDokuka commented on #961
Looks like a bug. We have to call remove inside hookOnNext for sure

[2020-11-19 07:44] OlegDokuka commented on #960
Hi @Cesarla!

Thank you for trying the new 1.1.0 version!

Yes, you are right, this commit should fix your bug, thus I would really appreciate if you can check if logs appear in 1.1.1-SNAPSHOT

Cheers,
Oleh

[2020-11-19 08:53] Cesarla commented on #960
Hi @OlegDokuka, I have tried, but the `1.1.1-SNAPSHOT` is actually released under [1.1.1-SNAPSHOT-SNAPSHOT](https://oss.jfrog.org/artifactory/webapp/#/artifacts/browse/tree/General/oss-snapshot-local/io/rsocket/rsocket-bom/1.1.1-SNAPSHOT-SNAPSHOT) and I am not able to download it from 'https://oss.jfrog.org/oss-snapshot-local'.

[2020-11-19 08:56] OlegDokuka commented on #960
@Cesarla fixed. Should be available under `1.1.1-SNAPSHOT` shortly (~15 mins)

[2020-11-19 09:55] koldat commented on #959
It is happening for us on more places. So far did not found any workaround. How to disable fusion?

[2020-11-19 11:40] koldat commented on #959
@OlegDokuka why is in handleRequestStream/handleChannel the assumption that the receiver queue has bounded size 1? I would understand it in handleRequestResponse, but not in Flux variants.

io.rsocket.core.RSocketRequester.handleRequestStream(Payload)

    final UnicastProcessor<Payload> receiver = UnicastProcessor.create(Queues.<Payload>one().get());

Handle frame function can consume network fra

[2020-11-19 11:49] OlegDokuka commented on #959
@koldat there is strict reactive streams relationships. If you requested N elements, you clearly stated that you are ready to receive N elements. That said, there is no reasons for us (rsocket core logic) to cache N elements anywhere before your events handler. That is why, to avoid any redundant allocations we use a queue of a single element since we expect no values will be enqueurd at all

The

[2020-11-19 12:08] koldat commented on #959
@OlegDokuka I am not sure I described that properly.

Ofcourse I know that N requested elements are ready to be consumed. But the problem is that there is also asynchronous effect. So downstream can consume, but it can take a time. Our application uses usual backpressure (512 elements) and normal operators.

As I said issue is fixed when queue is unbounded, because in rare case it hits the conditi

[2020-11-19 12:17] OlegDokuka commented on #959
here is the point. Your `backpressure` operator is responsible for storing up to 512 elements, RSocket has no clue about your request. it just transparently transforms your request N into a binary frame and ensures that that frame is decoded back upon receiveal into the same requestN method invocation on your subscription on the receiver side.

The problem is that Reactor is a smart framework and

[2020-11-19 12:48] OlegDokuka commented on #959
On the other hand, we have `subscribeOn` between UnicastProcessor and your logic. SubscribeOn should disable fusion. Thus now I'm at the point of `I don't have a clue what is going on there`.

@lkolisko apologies for the confusion. Let me reproduce that issue locally and then I can provide you with more updates. For now please, use either 1.0.2 or 1.1.0

[2020-11-19 13:09] Cesarla commented on #960
I am still getting the same error with `1.1.1-SNAPSHOT`:
[code]

[2020-11-19 13:11] OlegDokuka commented on #960
@Cesarla In general that is an expected dropped error unless you have a specific use-case in which this should not happen. Can you please clarify how this one can be reproduced?

[2020-11-19 14:22] koldat commented on #959
I am working with Lukas on this issue. We use spring-boot unfortunately and I am not sure we can upgrade to 1.1.0 and it brings some incompatibilities on onterfaces. On the other hand we tried 1.0.2 and it did not help. We placed ".hide" almost everywhere without any effect as we cannot go under "subscribedOn" in handleRequestStream. The only fix that helped is to use unbounded queue in handleRequ

[2020-11-19 14:41] koldat commented on #959
The change (unbounded vs. one())  was introduced in 18050edda0dff73682d6643e8aca9c5a89ffbd51 after 1.0.2. Hmm... We will try again if it is really happening even for 1.0.2.

[2020-11-19 16:10] OlegDokuka commented on #959
@koldat @lkolisko It should not happening in 1.0.2. We will do our best to land a fix for that ASAP and do 1.0.4

[2020-11-19 16:16] koldat commented on #959
You are right, we have just verified that. The issue was that we got same exception text (overrun by more signals than expected) from server side as well thus were confused. So it looked the same, but was not. Very similar problem is also on the other side. When we changes server and client issue was solved.

Thanks a lot for looking into this.

[2020-11-20 09:33] OlegDokuka commented on #959
@koldat one more question. Do you have any custom publishers on the producer side?

[2020-11-20 10:45] koldat commented on #959
We use Spring boot 2.3.5. Flux we return is flatmap:

    public Flux<MetadataMetricQueryMatch> query(Mono<MetadataMetricQueryReactiveRequest> request, RoleBasedSession session) {
        return request.flatMapMany(query ->  metadataManager.executeAsFlux(session, query));
     }

where inner flux is using and fromIterable:
        return Flux.using(() -> new AtomicReference<>(new DatabaseIteratorC

[2020-11-20 11:08] OlegDokuka commented on #959
@OlegDokuka Anything special on the consumer side, e.g. custom subscriber, etc?

[2020-11-20 11:14] koldat commented on #959
It is failing in two different cases:
1. stream - We use api -> BaseSubscriber
2.channel - We use api -> windowUntil and flatMap

api call is built like this for stream:
       rSocket.flatMapMany(socket -> socket.requestStream(
            DefaultPayload.create(encodeMessage(request, mapper), encodeMetadata()))
            .map(data -> decodeMessage(data, mapper, type)))
            .onErrorMap(a

[2020-11-20 11:19] OlegDokuka commented on #959
Yup. Looks like it is not related to the business logic at all

[2020-11-25 20:32] #961 closed

[2020-12-14 13:35] vsaji opened #964 "How to tell RSocket to read data stream by Java 8 Stream which backed by Blocking queue"
I have the following scenario whereby my program is using blocking queue to process message asynchronously. There are multiple RSocket clients who wish to receive this message. My design is such a way that when a message arrives in the blocking queue, the stream that binds to the Flux will emit. I have tried to implement this requirement as below, but the client doesn't receive any response. Howev

[2020-12-15 07:04] yschimke commented on #964
Dupe of https://stackoverflow.com/questions/65273027/how-to-tell-rsocket-to-read-data-stream-by-java-8-stream-which-backed-by-blockin

Let's answer over there instead of an in issue tracker.

[2020-12-15 07:04] #964 closed

[2020-12-18 12:32] vsaji opened #965 "Need a handler method in RSocket to receive a notification upon a successful connection"
## Motivation
https://stackoverflow.com/questions/65304060/how-to-detect-if-rsocket-connection-is-successfull/65336056?noredirect=1#comment115542708_65336056

I'm unable to capture RSocket event that tells me the sever connection is successful. There are handlers for notifying connection drops and errors i.e doOnError, doOnTermination etc, why cannot we have method to notify a successful connectio

[2020-12-18 13:16] OlegDokuka commented on #965
Hi @vsaji!

RSocket-Java is built around Project Reactor and use Reactive Types offered by Project Reactor at all the places.

For example, when you do `RSocketConnector.connectWith(someClientTransportHere)` you receive as a result a `Mono<RSocket>`.

Once you subscribe to `Mono<RSocket>` the underlying mechanism initiates a new connection to the specified peer and once the connection is opened, i

[2020-12-19 16:43] kevinten10 opened #966 "How do RSocket issue lease to multiple clients?"
I could create a server lease to a single client as follows：

[code]

But how do I issue a lease to multiple clients connected to that server?

Otherwise my queue will be written multiple times by multiple clients, resulting in an overflow of the service.

I can't find the details in the public documents and materials.

Your help was very much appreciated.

And I ask for help on stackoverflow: htt

[2020-12-19 16:49] OlegDokuka commented on #966
Hi @kevinten10!

Thank you for asking!
Greate new for you! We are working hard to improve the current lease API and provide you with a straight forward way of lease issuing to multiple Requesters.

Please track the progress here #885! Feel free to use a snapshot from that repo and try the API out! Any feedback is more than appreciated. Also, you may find a set of examples on how to control multipl

[2020-12-20 02:21] kevinten10 commented on #966
@OlegDokuka Thanks for your answer!

I read this commit #885 .

Looking forward to a more complete `lease` mechanism.

This will enable `lease` to be truly applied in a distributed environment.

I will further explore the use of `lease`.

Best regrads.

[2020-12-20 09:08] kevinten10 commented on #966
@OlegDokuka By the way

Whether to consider providing default implementation of common indicators for `lease`, such as **queue capacity**, **cpu indicators**, etc.

It can avoid repeated development.

[2020-12-20 09:15] OlegDokuka commented on #966
@kevinten10 I will consider that, however, the actual advanced implementation is out of library scope. But feel free to build out something and if it is not that complex, we can definitely consider porting it into the core library.

Cheers,
Oleh

[2020-12-27 01:36] vsaji commented on #965
Solution is updated here.
https://stackoverflow.com/questions/65304060/how-to-detect-if-rsocket-connection-is-successfull/65336056?noredirect=1#comment115542708_65336056

[2020-12-27 01:36] #965 closed

[2020-12-27 01:40] vsaji opened #969 "Why RSocket connection retry is using multiple (different) threads every time"
I have the below program that connects to a Spring boot rsocket server running on localhost:7999.
I have configured the connector ```Retry.fixedDelay(Integer.MAX_VALUE, Duration.ofSeconds(5))```
As you can see the the RSocketRequester is Mono so it should hold a single connection.
When the connection fails and the Retry begins, I see that every retry is made from a different thread i.e. as below `

[2020-12-27 09:24] yschimke commented on #969
Duplicate from Stackoverflow

[2020-12-27 09:24] #969 closed

[2020-12-29 03:58] kitkars commented on #966
@OlegDokuka @rstoyanchev

1)
Just curious - currently lease supplier does not seem to know any knowledge on the client side/requester. Is this expected?
For ex: It certain cases it could be useful - to adjust the lease based on the client.

2) can you please refactor this `sender(Function<Optional<T>, Flux<Lease>> leaseSender)` to` sender(Function<<T>, Flux<Lease>> leaseSender)`. Using optional fo

[2020-12-30 14:18] KaimingWan opened #970 "SocketAcceptorInterceptor receive an unexpected payload object rather than receive a setup payload object"
We create a client and server  with reconnection feature.  The server register a interceptor to receive the setup payload and then deserialized for authentication.

Client have another daemon thread called Thread A and send data by rsocket periodically. The sended payload data we call it payload-A.

After server is stopped and we can see the priodically sended data is failed as what we expected. A

[2020-12-30 14:23] OlegDokuka commented on #970
@KaimingWan it looks like you are observing an already fixed bug (please see https://github.com/rsocket/rsocket-java/issues/842).

Can you please check if the same is reproducing with 1.0.3 or 1.1.0?

[2020-12-31 03:41] KaimingWan commented on #970
@OlegDokuka Thanks, I will try to upgrade our rsocket version to check whether this issue will happen again. However, I still have some confusion. I checked the issue #842 and find its problem is the cnf count is 0 when reconnecting. His case seems can be reproduced always. My case have some difference because the issue happen now and then. Can you tell me the bug's mechanism and in what situation

[2020-12-31 05:39] KaimingWan commented on #970
@OlegDokuka I updateed my issue. I checked that my rsocket-core version is 1.0.2 and the mentioned bug is fixed. So I think my probleam is not caused by mentioned bug in #842 . Can you give any idea that where I can set the breakpoint to capture the moment when setupPayload is not an object instance of ConnectionSetupPayload. I can set the breakpoint to check why during reconnection my server will

[2020-12-31 15:49] kitkars opened #971 "Load Balancer - Updating nodes info"
I was looking at this Load Balancing example,. It is good - https://github.com/rsocket/rsocket-java/blob/master/rsocket-examples/src/main/java/io/rsocket/examples/transport/tcp/loadbalancer/RoundRobinRSocketLoadbalancerExample.java

My question is - how to add / remove nodes once we build the rsocket client? Should I rebuilding the rsocket client every time?
Can you please share some examples for

[2020-12-31 15:53] kitkars commented on #971
I noticed that it is `Flux<List<LoadBalanceTarget>>`. It will take care.

[2020-12-31 15:53] #971 closed

[2021-01-04 11:29] KaimingWan commented on #970
@OlegDokuka To get more information. Would you mind telling me where to set the breakpoint when reconnection haapen and the setup payload is set? I now set the breakpoint in RSocketConnector class's method setupPayload and I find I can't capture any case that I receive a ConnectionSetupPayload.

[2021-01-04 11:58] KaimingWan commented on #970
@OlegDokuka Now I set breakpoint in RSocketServer's acceptSetup method. I will give more info if I encounter this issue again.

[2021-01-06 14:07] koldat commented on #959
@OlegDokuka any update on this issue? Using 1.0.2 version we have not met any single issue for last month we were facing almost immediately with 1.0.3 (queue with bounded size == 1). I would still like to use official latest version provided by spring that has also other fixes.

Thanks you very much for your support so far.

[2021-01-06 14:28] OlegDokuka commented on #959
@koldat can we have a call so I can look at your application setup / how you write your dataflow, etc?

Unfortunately, I'm was not able to reproduce the mentioned issue at any of the setups you mentioned so basically I'm stacked with the progress on this.

Cheers,
Oleh

[2021-01-07 14:11] Cesarla commented on #960
Hi @OlegDokuka, as you pointed out the issue was unrelated, I was able to migrate to 1.1.0 without problem,
so closing the ticket.

Thanks

[2021-01-07 14:11] #960 closed

[2021-01-08 17:22] nbabic298 commented on #900
Hi @OlegDokuka ,

I'm using the same code as you mentioned and have @ConnectMapping method on the server side. It seems RSocket is not cached because on each request that connect method gets invoked.

Putting .cache() after .connectTcp("localhost", 7000) works (i.e. connect method is only invoked once) but on server restart reconnect doesn't work (ClosedChannelException).

I'm using Spring Boot 2.

[2021-01-08 17:44] OlegDokuka commented on #900
@uselvvi did you use the `reconnect` I mentioned earlier (no need to use cache at all)

[2021-01-08 17:53] nbabic298 commented on #900
Tnx for answering, yes I used reconnect, here is my client code:

`@Slf4j
@RestController
public class TestController {

    private Mono<RSocketRequester> deviceRSocketRequester;

    public TestController(RSocketRequester.Builder deviceRSocketRequesterBuilder, RSocketProps rsocketProps) {
        this.deviceRSocketRequester = deviceRSocketRequesterBuilder
                .dataMimeType(MimeTypeUt

[2021-01-08 17:59] vinsguru commented on #900
This behavior seems to be correct to me. As **_@ConnectMapping_** is supposed to be invoked for every rsocket request. This is not client-server connection establishment. it is for request level.

[2021-01-08 18:11] nbabic298 commented on #900
Thanks for the explaination, just one more thing if I put `.cache()` after the `connectTcp(..)` then connect method gets called only once and `testRsocket()` method ouputs log statements as many times as I call it from client. Do you have some reasoning what happens in that example? Does that make a request stream or something like that?

[2021-01-08 18:26] vinsguru commented on #900
@nbabic298 My bad. I had deleted my comment immediately as I did not read your question clearly. I did not realize that you responded too soon.

Can you check here? We do not need cache.If you add @ConnectMapping, for every request it will be invoked once the setup is complete.

https://github.com/vinsguru/vinsguru-blog-code-samples/tree/master/rsocket/spring-rsocket

[2021-01-08 18:30] vinsguru commented on #900
@nbabic298  I just checked the SO answer as well. It seems to match with what I have in this repo as well. Check your version. I use 2.3.2.RELEASE.

[2021-01-12 06:53] emax19 opened #973 "RSocket: Local and remote state disagreement"
Enough stable system handles ~5 thousand WS requests per day and the 1%(~50 connections) connections are closing on an error with the next exception: during the resume process, we have a disagreement during the frames removing.

Did someone face this issue? Any idea what's going on?

    15:34:05.998 [reactor-http-epoll-3] ERROR reactor.core.publisher.Operators  - Operator called default onErrorDr

[2021-01-15 14:35] emax19 commented on #973
We have figured out that the issue is produced a little bit oftenly as I described, ~10-30% percent of requests. Our temporary solution is a downgrade to rSocket 1.0.1 version.

[2021-01-20 20:46] OlegDokuka commented on #973
@emax19 since you use the default config, in case of high data intensity, you may overflow the datastore and the stored frames may start dropping. That may lead to failure on the success connection reestablishment.

@emax19 can you please try to set `.storeFactory(t -> new InMemoryResumableFramesStore("client", 500_000))` or event use higher store size. Also, try to set shorter period for keepaliv

[2021-01-20 20:47] OlegDokuka commented on #973
I will keep investigating since the issue may be related to some unclear racing

[2021-01-20 21:01] OlegDokuka commented on #970
@KaimingWan is it still an issue for you? If so, can you try to reproduce that issue with a pure rsocket setup (I mean your example uses spring-messaging rsocket, however, to minimize the possible error surface, I need to make sure that you observe the same problem with vanilla rsocet-java)

[2021-01-20 21:02] OlegDokuka commented on #947
@xiazuojie do you have any updates on whether that issue reproduces with rsocket 1.1.0?

[2021-01-20 21:08] OlegDokuka commented on #762
As it was discussed at one of our [TSC calls](https://github.com/rsocket/tsc/blob/master/meetings/2020-12-02/minutes.md) we agreed that every implementation should decide on whether to handle that via more verbose `requestChannel(payload, publisher)` API or with support of fluent a libraries API which allows intercepting the first payload in the stream (e.g `Flux#swifchOnFirst`)

[2021-01-20 21:08] #762 closed

[2021-01-22 11:59] rstoyanchev opened #974 "Support for Multiple RSocket Handlers"
`RSocketConnector` and `RSocketServer` can be configured with a `SocketAcceptor` that handles all requests. Framework can build on this low level mechanism and decide how to route requests internally. However there is no easy way to have multiple frameworks, e.g. rsocket-rpc-java and spring-messaging, side by side in the same application.

Given the existence of the [Routing Metadata Extension](ht

[2021-01-22 13:38] OlegDokuka commented on #974
Drafter diagram of a possible design of the implementation
![image](https://user-images.githubusercontent.com/5380167/105497677-d6632080-5cc7-11eb-8f4d-444b0c30b333.png)

[2021-01-22 22:12] yschimke commented on #974
Playing devil's advocate - Isn't this the point of the framework code above rsocket?  Should this be part of the base library?

I know it's awkward if rsocket-rpc-java and spring-messaging are peers that are unaware of the other, but seems like something would need to configure how to decide where to delegate calls to.  That logic seems likely to be similar to any framework like spring or rsocket-

[2021-01-22 22:16] OlegDokuka commented on #974
Actually, this logic is in rsocket-rpc as of now, but, after a few discussions, @bsideup and I ended up that rsocket-router logic should sit in a different place than rpc. Thus it is either should be `rsocket-router-java` or `rsocket-java` with submodule `rsocket-router`

[2021-01-22 22:23] yschimke commented on #974
Makes sense.  So I'd change my argument to be that it shouldn't be that routing has pride of place in rsocket-java.  But a module allowing frameworks to coexist, has an attraction.

[2021-01-25 15:18] koldat commented on #959
@OlegDokuka We are still trying to collect more information to help you to resolve this.

So far it looks to me like an issue that is happening to us also with WebFlux. Basically using limitRate (I think you are author) together with schedulers leads to some multithread issue I think. You can see more information on reactor page including simply unit test. When we removed limitRate is at least sta

[2021-01-25 15:21] OlegDokuka commented on #959
Is it the same set of operators you are using with rsocket Java?

[2021-01-25 15:21] OlegDokuka commented on #959
Is it the same set of operators you are using with rsocket Java?

[2021-01-25 15:30] koldat commented on #959
Unfortunately not exactly. But we are using similar combination like this:

[code]

What can happen is that server side does not follow rule, because it emits some value twice. So in very rare cases client throws an exception as we see. Version 1.0.2 maybe just hide the reactor defect (double emit of the same item).

Just brainstorming, have no evidence.... But if it can happen in the unit test wh

[2021-01-25 15:32] OlegDokuka commented on #959
can be a bug in the reactor. I will check that

[2021-01-25 16:24] OlegDokuka commented on #959
@koldat Also, I would appreciate it if you can enable frame logging and your flux logging and share these logs with me. That can helo with debugging as well

[2021-01-26 01:41] vinsguru opened #975 "RSocket LoadBalancing does not seem to work with Spring Boot."
Hi @OlegDokuka

I was looking at this example and it works just fine.

https://github.com/rsocket/rsocket-java/blob/master/rsocket-examples/src/main/java/io/rsocket/examples/transport/tcp/loadbalancer/RoundRobinRSocketLoadbalancerExample.java

I was trying to implement this with Spring Boot. However it seems to always use the first instance it connects to.

I have a project here. I also have provi

[2021-01-26 06:16] OlegDokuka commented on #975
@vinsguru thank you for asking!

Basically, the problem is in configurations. Please look at [this stackoverflow answer](https://stackoverflow.com/a/65268468/4891253) for more details

[2021-01-26 10:28] OlegDokuka commented on #975
In general, to make it working, please make sure, that your flux provides not a List(SingleDestination) but rather a List(Destination1, Destination2)

[2021-01-26 14:45] vinsguru commented on #975
Hi @OlegDokuka ,

I am running 3 instances of the app now.

[code]

The `Flux<List<LoadbalanceTarget>>` will be returning only 2 instances out of 3 from above. Please do note that those 2 nodes will keep changing.

List(localhost:6565, localhost:6566)
List(localhost:6565, localhost:6566)
List(localhost:6565, localhost:6566)
List(localhost:6565, localhost:6566)
List(localhost:6565, localhost:6566)

[2021-01-26 15:57] OlegDokuka commented on #975
@vinsguru the problem is still in configuration

[code]

As it was mentioned in the stackoverflow answer, the `LoadbalanceTarget` has 1 important parameter which is `key` using `key` the RSocketPool is capable of making difference between given targets and identify which target is new and which has already been there. In your setup, you always use the `localhost` as a key, hence for RSocketPool al

[2021-01-26 16:19] vinsguru commented on #975
OMG!!!!!!!!

Sorry @OlegDokuka. The whole time I was thinking I was using unique key. I just changed to `server.getHost() + server.getPort()` for key. It works just great.

Sorry that I wasted your time.

[2021-01-26 16:58] OlegDokuka commented on #975
You are welcome @vinsguru. And no worries!

[2021-01-26 16:58] #975 closed

[2021-02-05 09:32] SerCeMan opened #978 "RSocket channel hangs on 1.1.0"
Hi, RSocket Folks!

I noticed that the outgoing channels for clients connected to rsocket-java on 1.1.0 might never be completed in the case of receiving an error. For instance, consider the following "echo" server.
[code]

The clients connecting to servers running on `1.0.3` and sending a next message followed by an error message, e.g.
[code]

can observe the `requestChannel`'s `Flowable` complet

[2021-02-07 19:01] OlegDokuka commented on #978
closing since that one is invalid and related to incorrect implementation of `requestChannel` at rsocket-js which was working with incorrect implementation for rsocket-java. As you may see there -> https://github.com/rsocket/rsocket-js/blob/master/packages/rsocket-core/src/RSocketMachine.js#L448, Flowable publisher does not propagate an error to the actual downstream subscriber. Due to the [spec](

[2021-02-07 19:01] #978 closed

[2021-02-15 21:06] ayoUbuntu opened #979 "Cannot get RSocketResumableTransport running"

[2021-02-15 21:12] #979 closed

[2021-02-15 21:12] ayoUbuntu commented on #979
moved to rsocket-js

[2021-02-17 12:25] OlegDokuka commented on #959
@koldat @lkolisko do you observe that issue in the combination of 1.0.3 and the latest reactor-core 3.3.14 and the fixed that you just recently added?

[2021-02-17 12:44] OlegDokuka commented on #973
@emax19 can you please enable debug logs for the following classes:

*  `io.rsocket.resume.InMemoryResumableFramesStore`
*  `io.rsocket.resume.ClientRSocketSession`
*  `io.rsocket.resume.InMemoryResumableFramesStore`
*  `io.rsocket.resume.ResumableDuplexConnection`
*  `io.rsocket.resume.ServerRSocketSession`

and share them with us (if possible) to see what is going on when the resumption fails.

[2021-02-17 12:48] OlegDokuka commented on #966
@kitkars sorry for the late answer. This is up to the application logic. Your clients may provide different information at the setup phase and then you may provide this info to the lease manager so it can decide how to treat a particular connection

[2021-02-17 12:49] #966 closed

[2021-02-18 08:09] koldat commented on #959
@OlegDokuka no latest reactor did not help, it is another issue. Problem is still in this queue:

[code]

Issue is that there are two threads. One is requesting and one is dispatching to queue. As request from downstream is higher than one then there is more than one inflight message coming to receiver.

Now imagine you are dispatching to queue(io.rsocket.core.RSocketRequester.handleFrame(int, Fra

[2021-02-18 08:33] OlegDokuka commented on #959
Indeed. I see what you mean. Good catchup 👍

[2021-02-18 10:30] koldat commented on #959
Do you want me to do PR for this or you will handle that? I would simply revert to default create (unbounded). It does not matter much if for tiny a bit of a time there will be couple of elements.

[2021-02-18 10:31] #958 closed

[2021-02-18 10:33] rstoyanchev commented on #958
Superseded by #982.

[2021-02-19 11:16] OlegDokuka commented on #959
@koldat thank you for offering!

Let's keep what we have right and do that differently. Having an unbounded queue behind UnboundedProcessor brings other DoS-related problems (for more info see -> https://github.com/rsocket/rsocket-java/issues/887). Thus, I don't wanna circle back to that problem in 1.0.x again and would rather relax `UnboundedProcessor` (taking into account our execution model whi

[2021-02-19 11:30] koldat commented on #959
#887 makes sense. What I would personally do is to add requestN assertion which is to check if queue is drained and filled with respect to downstream requests. If client does not follow the rules it will throw an exception. It can be maybe even nice operator in reactor. The point is that even if you fix this place the same type of attack can be applied to downstream so that every downstream servic

[2021-02-19 11:47] OlegDokuka commented on #959
Right. The more challenging part is to have Processor API which does that + Single Subscriber Assertion + RequestN assertion though it is apart of rsocket impl. The point here is to avoid any queue on our end. Thus the first trial was implementing UnicastProcessor with Queues.one() but it seems that we have to come back to a custom UnicastProcessor impl again...

Although... there is a simpler way

[2021-02-20 21:35] OlegDokuka opened #984 "Add eager reconnection support for `ReconnectingMono` & `RSocketClient`"
At this moment, the community finds the lazy behavior of the `reconnect` feature unobvious in terms of when the connection establishment happens, and why it is not being reestablished after the disconnection.

Thus, we have to make it configurable and expose explicit Lazy vs Eager connection reestablishment for `ReconnectMono` and `RSocketClient`

The actual workaround at this moment looks like th

[2021-02-22 08:02] rstoyanchev commented on #984
It would be helpful to have a more concrete example of code where it causes confusion.

[2021-02-22 20:40] sergey-mesh opened #987 "add auto reconnection option"
## Motivation

It would be convenient to have two options for setting up a connection: lazy on any first call and automatic when the server is available. For example, chat. It is desirable that the running client automatically connects to the server and shows the server availability as soon as possible.
The first option works great, but for the second you have to make an additional crutch.
Thanks

[2021-02-23 17:11] dsyer opened #988 "Support for graceful shutdown"
Is there a way to wait for RSocket requests to finish before cutting them off at the knees?

We need to add that. Spec has such a feature, however we still does not support it.

[2021-02-24 11:40] rstoyanchev commented on #984
I guess we now have #987 so I'll close this one in favor of that.

[2021-02-24 11:40] #984 closed

[2021-02-26 18:15] OlegDokuka commented on #947
@xiazuojie should be fixed in 1.0.4! Let me know if it works for you as well

[2021-02-26 18:15] #947 closed

[2021-02-26 18:16] OlegDokuka commented on #959
@koldat this issue should be fixed in 1.0.4 release by #985. Let me know if it works for you!

[2021-02-26 18:16] #959 closed

[2021-02-27 16:19] yschimke commented on #973
Think I've got some good reproductions here as well

[code]

[2021-02-27 17:10] yschimke commented on #973
With rsc against socket-demo deployment

[code]

Server logs

[code]

Disconnect not required, the keep alive is enough to trigger this.

[2021-02-28 06:27] yschimke commented on #973
[code]

[2021-02-28 13:25] OlegDokuka commented on #973
Yeah, I'm working on that issue. Should provide some updates soon.

[2021-03-01 19:11] mister11 opened #992 "Spring Boot RSocket high CPU usage after client disconnects"
Origin of this issue is StackOverflow [post](https://stackoverflow.com/q/66415808/3939801) where I showed some code, but I'll add more details here.

## Expected Behavior
After a client is shut down, CPU usage should not increase especially not to >50%.

## Actual Behavior
When using the latest version of Spring Boot and its RSocket support (which pulls rsocket-java version 1.1.0), after a client

[2021-03-02 10:29] OlegDokuka commented on #956
@SerCeMan I remembered the root cause of why it does not work in 1.0.x as you expect it to work. The problem is in https://github.com/reactor/reactor-core/issues/2176. That said, in 1.0.x which depends on reactor 3.3.x, if the exception is racing with cancel, there is a chance that the error will be thrown back. Thus, when we know in advance that the cancel signal was received, we do not send any

[2021-03-02 11:33] KaimingWan commented on #970
@OlegDokuka Ok, I will write an example to show what is going on. But the issue may not happen every time. However, another issue always happen is that the first stream frame log that carry setup payload info is missing when client connect to server. As I expected, the first stream should carry the setup payload and been sent to SETUP_ROUTE( route name is "conn-setup") in my case, but I didn't see

[2021-03-02 11:37] KaimingWan commented on #970
@OlegDokuka Sorry for the late response. The issue happens now and then. Recently I meet the issue again and I put forward the issue here:  https://github.com/spring-projects/spring-framework/issues/26626  .   May be a little more detailed than this issue I created before. I will write an example to show what is going on. But the issue may not happen every time. However, another issue always happe

[2021-03-02 12:28] KaimingWan commented on #970
@OlegDokuka I write a simple example but it seems everything goes well. The first frame carry the setup payload is print out normally. Where to set the break point if I want to debug my real world code.  BTW, my test example is as follow:

[code]
test acceptor is :
[code]

[2021-03-02 15:23] OlegDokuka commented on #970
@KaimingWan we had a chat with @rstoyanchev and it can be that this is spring-messaging issue and the fact that the given DTO can be modified (at least that is what I understood from your comments on the linked issue) which means the spring codecs which coverts given object to ByteBuf may provide a corrupted one.

Thus, not sure it is rsocket-java issue

[2021-03-03 02:36] KaimingWan commented on #970
@OlegDokuka Thanks for your information. In my case, not only the given setup payload is truncated and it is also be replaced by another dto's value. It seems more like an issue caused by concurrency. In my real world code, I try to ensure there is no other send request when rsocket is reconnecting. You said it may caused by spring-messaging's process. Are there any advice about where to set the b

[2021-03-03 02:48] KaimingWan commented on #970
Is keep alive frame have relation with this issue? I debug my code and find the first stream can be printed out.
![image](https://user-images.githubusercontent.com/4374015/109744837-edbdf380-7c0d-11eb-92f9-d96558e87977.png)

[2021-03-03 02:59] KaimingWan commented on #970
I debug my code and especially pay attention to the code from spring-messaging. I find after connected, the spring-rsocket only return a requester object and will not send setup payload to the remote
![image](https://user-images.githubusercontent.com/4374015/109745126-5f963d00-7c0e-11eb-89e7-6d49023b041e.png)
![image](https://user-images.githubusercontent.com/4374015/109745822-65405280-7c0f-11eb-8

[2021-03-03 10:24] derTobsch commented on #960
@Cesarla I am running in the same error. Can you give me a hint how you handled this?

[2021-03-03 10:27] OlegDokuka commented on #960
@derTobsch it is not an error. It is just a log message saying that an exception proactively trying to terminate downstream was dropped. This will be improved in 1.1.1

[2021-03-03 10:35] derTobsch commented on #960
Thanks for your response @OlegDokuka. is it ok to post on this closed issue? Otherwise I would open a new one.
My case is that we use `rsocket-js` in the frontend and `rsocket-java` in the backend and we want to know if someone closes the browser tab or closes the browser. So I am looking why we do not get any information in `doOnTerminate|Cancel|Error` but this information. Do you have a hint for

[2021-03-03 10:36] #970 closed

[2021-03-03 10:38] OlegDokuka commented on #960
I guess what you would like is tracking the connection rather than the fact that logical stream was terminated.

What you need is to hook on `RSocket#onClose()` method which will signal the subscriber when the connection is closed

[2021-03-03 10:44] rstoyanchev commented on #970
@KaimingWan after some more looking, we found the problem. The fix is available in snapshots. Not sure if you're able to confirm the fix with `1.0.4-SNAPSHOT` via https://oss.jfrog.org/artifactory/oss-snapshot-local, that would be very helpful, but either way this should address the issue.

[2021-03-03 11:33] derTobsch commented on #960
Thanks for that input! Of course we want to track the connection and handle the close event.

Are there any examples? I am a little bit lost here right now. Should I add a new `@ConnectionMapping` with a "alive ping" so I can inject the `RSocketRequester` to get the rsocket? Or can I just inject a `RSocket` bean and add a hook on the onClose()?

[2021-03-03 14:47] derTobsch commented on #960
k, I was just on the wrong path. Did it in the frontend. Thanks for your response and time.

[2021-03-03 19:52] OlegDokuka commented on #960
@derTobsch if we talk about spring, you should do the following

[code]

[2021-03-03 19:56] derTobsch commented on #960
Thanks! I already did that, but the think is that I need more information and not only the `terminalSignal`. So with your input and a fresh coffee I thought this is not what I wanted and so I listen to the `onbeforeunload` in js and send the correct message.

[2021-03-03 20:40] koldat opened #994 "Huge performance degradation when fragmentation is enabled"
When one define custom mtu to be used for fragment size it significantly degrades performance. Attached example code sends 1M records with size 5 bytes. Before fix it takes 39 seconds. After fix it takes 5 seconds (same time as with no custom fragmentation). We need to enable it, because Websocket max data size is 64kB and we support both transports.

## Expected Behavior
Fragmentation setup shoul

[2021-03-03 20:44] OlegDokuka commented on #994
@koldat I can suggest migrating to 1.1.x. We are not planning to do ground rework in 1.0.x anymore and planning to do maintenance releases.

However, if you have some performance profiles that show hot places in our code, and if it is not going to be drastic to improve, we can try to do something about it.

[2021-03-03 20:45] OlegDokuka commented on #994
Also, this can be tuned. Have you seen this config -> https://github.com/reactor/reactor-netty/blob/master/reactor-netty-http/src/main/java/reactor/netty/http/websocket/WebsocketSpec.java#L92

[2021-03-03 20:51] OlegDokuka commented on #994
@koldat can you explain in more detail what kind of client-server over rsocket + WebSocket transport you have? Is it RSocket-Java <-> RSocket-Java case?

[2021-03-03 21:14] koldat commented on #994
1. Impact is 39 vs. 5 seconds. I would call it drastic improvement.
2. Current Spring Boot 2.3.x release is still running on old 1.0.x release. That is why I would prefer that compared to custom build.
3. we have Websocket or socket client going through gateway service routing (websocket, socket) going to final service (socket). All is Java and 1.0.2 version.
4. Thank you pointing to websocket con

[2021-03-03 21:23] koldat commented on #994
Still original issue stays. Even if I tune Websocket frame to 16M (it is actually your default that cannot be changed in WebsocketClientTransport) I am in original problem you describe in PR. One frame blocks my connection and others go to queue.

If I enable frame even 1M, I am in original slowdown. As I have described, even if you do not hit the limit sendOne is used which degrades performance f

[2021-03-04 02:59] KaimingWan commented on #970
@rstoyanchev Thanks for your work. Because the issue occur in our real world code, so I can't use the snapshot directly in the production environment. However, I will try to use the snapshot in my develeopment environment and see whether the issue will happen again. Are there any plan about when 1.0.4 release?  BTW, it the following commit fix this issue? Would you mind telling me what is the key

[2021-03-04 07:53] OlegDokuka commented on #970
@KaimingWan The issue was in the `DefaultPayload.create(ByteBuf, ByteBuf)` method, which internally did only `ByteBuf#nioBuffer` which returned access to shared memory without copying it. That said, when given `ByteBuf` is released, the shared NIO `ByteBuffer` can be easily corrupted. That is basically what you have seen. With the #993, we ensured that content is really copied so no corruption sho

[2021-03-04 09:40] rstoyanchev commented on #994
@koldat for future reference, it is not required to create both an issue and a PR. If you submit both, the issue is closed as superseded, so if you start with a PR you can submit only that.

[2021-03-04 09:40] #994 closed

[2021-03-04 15:53] OlegDokuka commented on #992
I did the following threadump, and what I see there is ->
[code]
From the stack trace, we can see that the concatMap tries to discard an infinite sequence from Kotlin which ends up in infinity looping.  Thus, it is not really an RSocket bug but rather a reactor one.

/cc @simonbasle

[2021-03-05 06:04] KaimingWan commented on #970
@OlegDokuka Thanks for your explanation. Are there any plan about when to release 1.0.4, can't wait to use the new version, because the fix is very important for us.

[2021-03-09 14:56] rstoyanchev opened #996 "Add Codec for the Per Stream MIME Type Extension"
There is currently no encoding and decoding support for the [PerStreamDataMimeTypesDefinition](https://github.com/rsocket/rsocket/blob/master/Extensions/PerStreamDataMimeTypesDefinition.md) extension.

[2021-03-09 17:47] ivangfr commented on #987
Hey, I have a similar problem...

I've been working on this project https://github.com/ivangfr/springboot-rsocket-webflux-aop where I use **rsocket**.

The project is composed of `movie-client-shell`, `movie-client-ui`, and `movie-server`. Here is the [Project Architecture](https://github.com/ivangfr/springboot-rsocket-webflux-aop/blob/master/images/project-diagram.png), you can find the diagram t

[2021-03-10 08:41] OlegDokuka commented on #987
@ivangfr in your case you have not added the `.reconnect(Retry...)` bits to your setup, that is why you were not able to reconnect.
Please modify your setup like the following:
[code]

Also, your setup works only for a specific transport, thus changing "on-flight" between websocket and tcp will not work at all, since in that case the client will be still trying to reconnect via the websocket trans

[2021-03-10 09:34] #992 closed

[2021-03-10 14:55] rudy2steiner commented on #996
I'll work on it

[2021-03-10 21:46] ivangfr commented on #987
Thanks @OlegDokuka

It works!

So, I needed to do the following config
[code]

In fact, I don't change the transport on the fly. As I described in the [README](https://github.com/ivangfr/springboot-rsocket-webflux-aop#start-applications), the user needs to pick (during the startup) the profile. It can be `rsocket-tcp`, `rsocket-websocket` or `default`.

So, if `movie-server` is started with `rsock

[2021-03-11 12:12] Cesarla commented on #914
Hi @OlegDokuka, @rstoyanchev  can these improvements be back-ported to rsocket 1.1.X?

[2021-03-11 12:27] OlegDokuka commented on #914
@Cesarla any reproducer to share?

[2021-03-11 14:12] Cesarla commented on #914
It happens while cleaning channel-based communication:
[code]

[2021-03-12 10:44] OlegDokuka commented on #914
yeah. It is actually `IntObjectMap` bug that may send unused values so they are null which endups with NPE

[2021-03-24 18:29] #877 closed

[2021-03-26 10:40] rstoyanchev commented on #996
Superseded by #998.

[2021-03-26 10:40] #996 closed

[2021-03-30 14:20] rstoyanchev commented on #954
Superseded by #1000.

[2021-03-30 14:20] #954 closed

[2021-04-13 22:21] kevmcm commented on #917
Just a +1 - I noticed the same thing while investigating resumability.

[2021-04-15 08:50] joshiste commented on #960
the due date has now passed by for 9 days. What is the current ETA for that release?

[2021-04-16 14:06] OlegDokuka opened #1002 "Jetty Transport Support"

[2021-04-21 06:01] ZouTrankil commented on #771
i have a question!
RSocketConnector buffer default ZeroCopyPayloadDecoder
and it's not easy to configurate it!
All of it has been Final field&Class

[2021-04-22 07:15] yschimke commented on #557
Think this guidance is covered in docs now https://github.com/rsocket/rsocket-java

[2021-04-22 07:15] #557 closed

[2021-04-22 07:16] yschimke commented on #562
Tempted to close this if it hasn't moved in two years.  Would we do this the same way, or solve using Spring abstractions?

[2021-04-22 07:18] yschimke commented on #719
We have some examples now https://github.com/rsocket/rsocket-java/blob/c80b3cb6437046f3ccc79136a66299448f58c561/rsocket-transport-netty/src/test/java/io/rsocket/transport/netty/TcpSecureTransportTest.java

[2021-04-22 07:18] #719 closed

[2021-04-22 07:19] yschimke commented on #729
Since we have examples, closing unless known to be a problem https://github.com/rsocket/rsocket-java/blob/c80b3cb6437046f3ccc79136a66299448f58c561/rsocket-transport-netty/src/test/java/io/rsocket/transport/netty/TcpSecureTransportTest.java

[2021-04-22 07:19] #729 closed

[2021-04-22 07:22] yschimke commented on #910
Are we happy with this approach now?  Seems like something we should be doing given we are coming up to a second LTS post JDK 9

Example from okhttp as well https://github.com/square/okhttp/blob/f8fd4d08decf697013008b05ad7d2be10a648358/mockwebserver-junit4/build.gradle

[2021-04-22 07:23] yschimke commented on #914
Is this still happening?

[2021-04-22 07:44] #562 closed

[2021-04-22 07:53] yschimke commented on #741
Closing this.  It's valid request, but work here would follow on from a spec change here https://github.com/rsocket/rsocket/issues/282

[2021-04-22 07:53] #741 closed

[2021-04-22 07:56] yschimke commented on #767
Valid workaround provided above.

[2021-04-22 07:56] #767 closed

[2021-04-27 12:19] ZouTrankil commented on #771
oop... spring-rsocket-message framecode，not here

[2021-04-27 12:30] #914 closed

[2021-04-27 13:32] rstoyanchev commented on #914
@Cesarla this should be fixed in 1.1.1 snapshots.

[2021-04-29 20:25] #957 closed

[2021-05-05 11:01] rstoyanchev opened #1005 "Upgrade to Reactor 2020.0.7"

[2021-05-05 11:03] rstoyanchev opened #1006 "Upgrade to Reactor Dysprosium-SR20"

[2021-05-11 16:04] #1005 closed

[2021-05-13 14:17] rstoyanchev commented on #910
This is now superseded by the actual changes in #1007.

[2021-05-13 14:17] #910 closed

[2021-05-18 14:25] yamass opened #1009 "Memory Leak related to keepAlive / resume / unreleased ByteBuffers"
We are experiencing a memory leak that we could reduce to a simple example with RSocket. It only occurs when using the resume functionality and seems to somehow be tied to the keepAlive mechanism.

## Expected Behavior
No memory leak.

## Actual Behavior

We are seeing a lot of these log messages:
[code]
We also see the of-heap memory usage constantly increase, up to the point were we get OutOfMem

[2021-05-24 09:29] OlegDokuka opened #1010 "Add JCStress for requester and responder Operators"
At the moment we have a number of concurrency tests in the tests codebase but we need to have a more stable source of truth and tooling designed to uncovering racing issues.

[2021-05-24 10:59] #1006 closed

[2021-05-24 13:50] OlegDokuka commented on #1009
@yamass this should be fixed in master now. Can you please check on the latest 1.1.1-SNAPSHOT and respond back if it works as expected. Thanks

[2021-05-25 08:37] yamass commented on #1009
Looks good to us. Awesome! Thanks you very much!

[2021-05-25 08:44] #1009 closed

[2021-05-26 05:39] atshow opened #1011 "Rsocket object supports obtaining local address and remote address"
I'm using spring boot rsocket to develop microservices. Now I have a requirement to get the local address and remote address of the connection. I find that I can't get the local address and remote address from the rsocket object. Can we learn io.netty.channel.channel to add localAddress and remoteAddress methods to the rsocket object

[2021-05-26 11:45] atshow commented on #1011
I have an idea to add two interfaces to the rsocket object, as shown below
[code]

[2021-05-31 09:31] yamass commented on #1009
@OlegDokuka Can you already predict when the 1.1.1 release will approximately be ready?

[2021-05-31 09:32] OlegDokuka commented on #1009
@yamass it is this week. Approximately on Wednesday

[2021-05-31 14:29] atshow commented on #1011
I submitted a PR
#1013

[2021-06-01 08:53] OlegDokuka commented on #973
@yschimke @emax19 It is highly appreciated if you can try the artifact from #1014 and check if it fixes the problem completely.

Thanks in advance

[2021-06-01 09:52] #1011 closed

[2021-06-01 23:59] yschimke commented on #973
Where does the PR snapshot end up?

[2021-06-04 19:01] OlegDokuka commented on #973
@yschimke the build is still flaky but luckily because of other tests 🤣😭

[2021-06-07 20:38] maxim-bandurko-lsvt commented on #831
@mmaask It depends on what exact level is needed to implement headers inside actual spring boot. I have very draft sample only for ws level that I implemented using my custom override built, because this class is still private:
https://github.com/spring-projects/spring-boot/blob/main/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/rsocket/RSocketW

[2021-06-09 05:31] OlegDokuka commented on #973
closing this since **all** builds are stabile

[2021-06-09 05:31] #973 closed

[2021-06-09 22:46] linux-china opened #1018 "RSocket Java SDK 1.1.1: Operator called default onErrorDropped"
After introduce RSocket Java  SDK from 1.1.0 to  1.1.1, a simple server will throw exception after client disconnected.

[code]

Exception on server side by `rsc --request --route=xxxx --data=Foo --debug tcp://localhost:42252`

[code]

On the requester's side,  after `rsocket.dispose()` and above exception will be thrown.

[2021-06-10 08:43] OlegDokuka commented on #1018
hey @linux-china!

That is should not be harmful and can be disabled with `Hooks.onErrorDropped(() -> {})`
Do you think it is noisy? We can improve it for sure.

Best,
Oleh

[2021-06-10 19:28] linux-china commented on #1018
I think it's some noisy. If a new guy wants to try the demo, and he will think the exception as error.   Even we have the document about `Hooks.onErrorDropped(() -> {})` and I think he will not try to check the document.

[2021-06-11 06:22] atshow opened #1019 "QUIC Transport Support"
We know QUIC has become the IETF standard, and netty supports QUIC . Do we have any plans to support it?

[2021-06-11 07:07] OlegDokuka commented on #1019
Hey @atshow!

In short - we do plan!
In general - we wait for reactor-netty to support that!

Stay tuned!
Best,
Oleg

[2021-06-11 07:08] linux-china commented on #1019
I have raised  the issue https://github.com/reactor/reactor-netty/issues/1463

[2021-06-11 18:09] MichalVavrikMuJ opened #1020 "CancellationException: Disposed with Spring Boot 2.5.1"
Hello, I created Hello World to test bi-directional channel and while with Spring Boot 2.5.0 it works fine, today I upgraded to 2.5.1 and I am getting CancellationException: Disposed. Downgrading to 2.5.0 fixes the problem.

## Expected Behavior

2021-06-11 19:48:32.576 DEBUG 18936 --- [ctor-http-nio-7] reactor.netty.ReactorNetty               : [id:1468d010-1, L:/127.0.0.1:7000 ! R:/127.0.0.1:595

[2021-06-12 17:47] OlegDokuka commented on #1020
Hi @MichalVavrikMuJ!

What you see in logs is

[code]

which clearly states **Dropped Error** which (as I understand from the logs as well) does not hurt any of the functionality and can be easily disabled by adding `Hooks.onDroppedErrors(() -> {})` to your app.

Closing this since this is a duplicate of #1018

[2021-06-12 17:47] #1020 closed

[2021-06-12 19:50] MichalVavrikMuJ commented on #1020
Thank you @OlegDokuka.

[2021-06-28 03:03] making commented on #1018
Is this behavior due to the client(`rsc`)'s misbehavior? Or is it a server-side thing?

[2021-08-02 15:04] a701440 opened #1022 "Potential memory leak with DefaultRSocketClient not READY"
RSocket version 1.1.0

I am still investigating the issue, but it appears that there may be a memory leak with DefaultRSocketClient subscribers array
(ResolvingOperator.subscribers). When rsocket operations like "fireAndForget" or "requestResponse" are issued they are added to the array of subscribers (I assume waiting for the READY state). If these operations also use a timeout and are cancelled

[2021-08-02 16:29] OlegDokuka commented on #1022
Hey, @a701440!

You check that issue with 1.1.1 please?

Thanks

[2021-08-02 19:13] a701440 commented on #1022
So far I could not reproduce in a test on both 1.1.0 and 1.1.1.

I think ResolvingOperator.add and ResolvingOperator.remove are not atomic though.
They take a copy of the subscribers array. Only swap ref is atomic, but not the modifications.

So it's likely that there will be array corruption under load?

[2021-08-02 20:09] OlegDokuka commented on #1022
we had a bug in 1.1.0 related to the `DefaultRSocketClient` impl but it was fixed in 1.1.1, thus, I can only recommend migrating to 1.1.1 and let us know if this issue is still happening at your prod runtime

[2021-08-02 20:10] OlegDokuka commented on #1022
a bit of references -> https://github.com/rsocket/rsocket-java/pull/1008/files#diff-dc96112bec654b2fc960d08a7ca32d9d5094996ed327737679dbbcf59ce74b98L156

[2021-08-03 21:22] a701440 opened #1023 "BaseDuplexConnection does not handle exceptions in the doFinally"
public BaseDuplexConnection() {
    onClose().doFinally(s -> doOnClose()).subscribe();
  }

when exception is thrown in doOnClose it propagates to the Reactor unhandled exceptions hook.
Example of such exception is below:

reactor.core.Exceptions$ErrorCallbackNotImplemented: java.util.concurrent.CancellationException: Disposed
Caused by: java.util.concurrent.CancellationException: Disposed
	at io.

[2021-09-13 15:35] rstoyanchev opened #1025 "Limit max time for initial SETUP or RESUME frame to be received"
The spec says:

The server should have a configurable limit that determines how long to wait for the SETUP or RESUME frame to materialize or close the connection otherwise. This timeout should probably have some default value that is enforced out of the box but can be customized.

**Note:** originally reported in the Spring Framework issue tracker, as https://github.com/spring-projects/spring-fram

[2021-10-04 14:57] LifeIsStrange opened #1026 "Support returning ApplicationError with cause"
Rsocket define two ApplicationError constructors, which match the standard Java Exception interface:

[code]

My use case is trivial and extremely common, I have a Spring webflux RSocket route that return a Flux<Model>
however in case where validation fail, we need to throw an error.
The error inherit ExceptIon(message, cause) where cause is a Throwable Exception that contains useful data about th

[2021-11-09 10:53] OlegDokuka commented on #1022
closing since seems to be fixed

[2021-11-09 10:53] #1022 closed

[2021-11-09 15:56] OlegDokuka commented on #1018
should be fixed with https://github.com/rsocket/rsocket-java/commit/1f7191456f2961d1d29f682fb609c7d0783ef9a2

[2021-11-09 15:56] #1018 closed

[2021-11-09 17:43] linux-china commented on #1019
@OlegDokuka  do you have any demo for RSocket on QUIC?   https://github.com/reactor/reactor-netty/releases/tag/v1.0.12

[2021-11-09 17:48] OlegDokuka commented on #1019
@linux-china not at the moment. That requires ground rework of the transport API that we have right now. I have touched the ground in [rsocket-js](https://github.com/rsocket/rsocket-js/blob/dev/packages/rsocket-core/src/Transport.ts) rework, but this has to be ported to java impl. Also, I presented the basic architecture in this slides -> https://www.icloud.com/keynote/0XbQI-VRGW0CPBBRVE_79BvOA#RS

[2021-11-09 21:27] #1025 closed

[2021-11-26 16:08] AtticusLv opened #1030 "Any plan for integration with opentracing?"
As RSocket is supporting openzipkin b3 propagation, is opentracing tech stack on the supported list of RSocket😺

[2021-11-26 16:52] spencergibb commented on #1030
Probably a more general extension request not specific to java. https://github.com/rsocket/rsocket/blob/master/Extensions/Tracing-Zipkin.md

[2021-11-30 03:50] making commented on #1030
@AtticusLv [The OpenTracing propagation format specification](https://github.com/opentracing/specification/blob/master/rfc/trace_identifiers.md) remains in the "Draft" state, and OpenTracing has been merged into OpenTelemetry and is no longer active.
I don't think this format will be supported in the future.
Maybe, you can request [W3C Trace Context](https://www.w3.org/TR/trace-context/) support i

[2021-12-03 12:20] OlegDokuka commented on #1030
Is not it something supported by so called spring-observability in future? I expected we going to integrate with that once that project is in the preview stage.

[2022-01-15 13:38] abuijze opened #1033 "MetaData Push rejects meta data in Payload when using block()"
## Expected Behavior

Regardles whether someone uses `rsocket.metadataPush(...).block();` or `rsocket.metadataPush(...).subscribe(...);`, the behavior (besides the blocking aspect) should be identical.

## Actual Behavior

When using the `block()` method, the operation results in a `java.lang.IllegalArgumentException: Metadata push does not support metadata field`. The `subscribe()` method does pr

[2022-01-24 05:29] AtticusLv commented on #1030
Thanks for the reply. We'll fulfill opentracing just like this https://github.com/rsocket/rsocket/blob/master/Extensions/Tracing-Zipkin.md .

Ticket is closed

[2022-01-24 05:29] #1030 closed

[2022-01-26 12:45] #955 closed

[2022-02-03 08:13] hjohn commented on #825
Was this done? Because the back pressure mechanism doesn't seem to work for me at all in 1.1.0.  A request-stream where the server is sending a (potentially) infinite amount of data as fast as the system allows is being buffered on my client which goes OOM.  A `limitRate` on either side is not doing anything to alleviate this. This was working relatively well in previous versions, specifically 1.0

[2022-02-09 21:13] hjohn opened #1037 "Slow Producer in combination with RSocket is not sending any data until request met"
## Expected Behavior
When a client requests 100 items from a RSocket `MessageMapping` but the producer is producing these at a slow pace (1 per second) I expect these to be sent out to the client in a timely fashion, one at a time.

## Actual Behavior
The behavior I'm observing is that with RSocket in between the producer and subscriber some buffering is occurring until the request of 100 is met (

[2022-02-09 21:50] OlegDokuka commented on #1037
Hey @hjohn!

Unfortunately, given the code, I can recommend nothing.
First of all `BatchEventSubscriber` is not a Reactor or RSocket class. Thus I can just guess what is the behavior implemented inside. Secondly - doing `Thread.sleep` is definitely a bad idea ( I would suggest replacing element delay with a dedicated operator `.delayElement`)

[2022-02-10 07:54] hjohn commented on #1037
The hint of not using `Thread.sleep` was sufficient; I always wondered how one would deal with a generator that is more than just a "test" source and is a bit slow to produce its items (or can even block).  Adding a `subscribeOn` to move it to the bounded elastic pool solves the issue.

[2022-02-10 07:54] #1037 closed

[2022-02-10 09:33] leccyril opened #1038 "Exception generated in server when client is closed"
when client is connected to server and close, server get an exception not wanted :

reactor.core.Exceptions$ErrorCallbackNotImplemented: java.util.concurrent.CancellationException: Disposed

## Expected Behavior

maybe a warn, or a way to catch exception, indeed, maybe client close connexion or kill application and we don't want server to have lot of error in a normal execution ?

## Actual Behavi

[2022-02-10 09:44] #1038 closed

[2022-02-13 13:34] leccyril opened #1039 "Reconnect client automatically on server when server stop"
I have a question and i read a lot of doc or forum but i dont find a concrete example.

I have one need

Client send telemetry datas periodically as an agent or deamon to server, (datas available from server saved in database...), and when server crash, client have to reconnect automatically on server.... (specific thing, server can send command to client to close it)

2 ways to do it,

1 create a

[2022-02-13 18:38] OlegDokuka commented on #1039
hey @leccyril.

looks like your issue is a duplicate of #987

[2022-02-20 16:17] Blockost commented on #1018
I'm still seeing the stacktrace in `rsocket-core@1.1.1`. In which release is this supposed to have been fixed ? 🤔

[2022-02-20 17:04] OlegDokuka commented on #1018
it is fixed with 1.1.2 wich is not yet released

[2022-03-04 08:01] wxq1990 opened #1040 "client receive error when using socks5 proxy"
[code]

## Error Log
2022-03-04 15:58:36.172 ERROR 4740 --- [actor-tcp-nio-1] c.p.c.a.r.client.RSocketClientAcceptor   : [RSocketClient] sendingSocket doOnError

io.rsocket.exceptions.InvalidSetupException: SETUP or RESUME frame must be received before any others
	at io.rsocket.exceptions.Exceptions.from(Exceptions.java:58) ~[rsocket-core-1.1.1.jar:na]
	at io.rsocket.core.RSocketRequester.lambda$t

[2022-03-15 16:31] simonbasle opened #1041 "Use `Context.putAll(ContextView)` rather than the deprecated variant"
## Motivation
Reactor-Core `3.5.0` snapshots have started, in which some deprecated APIs are being removed.
One of these APIs is `Context#putAll(Context)`.

Currently, rsocket-java makes use of this API in a single place which is enough to make it binary incompatible with reactor-core 3.5.0-SNAPSHOT. In turn, this prevents integration of that version of Reactor into Spring Framework 6.0.0 snapshot

[2022-03-18 10:04] OlegDokuka commented on #987
just a link to another example which shows the need for this feature (see #1039)

[2022-03-18 10:04] #1039 closed

[2022-03-18 10:11] OlegDokuka commented on #1033
close in favor of existing PR (#1034)

[2022-03-18 10:11] #1033 closed

[2022-03-18 10:21] OlegDokuka commented on #956
@SerCeMan should I close this one? Or do we expect this to be fixed in 1.0.x?

[2022-03-18 10:25] rstoyanchev commented on #1026
@LifeIsStrange thanks for raising this.

I think we need to change this so that the error details in the ERROR frame are explicitly chosen by the application. Automatically using the message of a `Throwable` or its cause is problematic since it is likely to reveal implementation details that aren't meant to be sent remotely.

What we can do is enhance `RSocketException` to accept error data in add

[2022-03-18 10:52] SerCeMan commented on #956
Hey, @OlegDokuka! I think this can be more of a gotcha rather than a bug, so can probably be closed.

[2022-03-19 10:57] OlegDokuka commented on #956
@SerCeMan thanks

[2022-03-19 10:57] #956 closed

[2022-03-25 09:20] #1041 closed

[2022-03-28 16:37] rstoyanchev opened #1045 "Client SocketAcceptor can't access ConnectionSetupPayload if compression is on"
If compression is enabled on client and server, the client acceptor fails with `ArrayIndexOutOfBoundsException` if it tries to access properties of `ConnectionSetupPayload`.

Here is the diff with changes to the [WebSocketAggregationSample](https://github.com/rsocket/rsocket-java/blob/master/rsocket-examples/src/main/java/io/rsocket/examples/transport/ws/WebSocketAggregationSample.java) to demonst

[2022-03-29 20:08] OlegDokuka commented on #1019
@linux-china I was planning to release QUIC support in 1.2.x once the transport api is reworked to offer proper abstraction for transports which has a built in multiplexer/demultiplexer (e. g. QUIC or http 2 or http 3).

However, we can always offer an experimental preview support earlier. Nice work!

[2022-04-10 16:48] mkrzywanski commented on #1018
I have upgraded to `1.1.2` manually but I get same exception upon cancelling the the rsocket `channel` flux from my tests. https://github.com/mkrzywanski/rsocket-reactive-chat/blob/1dc6b6835b1e05c29049c04e85207847a53e3f59/chat-backend/src/test/java/io/mkrzywanski/chat/app/MessageControllerTest.java#L123. I am not sure if this is same issue as described here or I am doing something else wrong.

[2022-04-10 18:20] OlegDokuka commented on #1018
@mkrzywanski it is a different one. Feel free to create a separate issue with the mentioned reproducer

[2022-04-10 18:50] mkrzywanski opened #1047 "java.util.concurrent.CancellationException: Disposed when disposing flux from channel communication in tests"
I have created a sample application which uses `channel` style communication. Unfortunatelly when cancelling the subscription from the tests I receive an exception :
<details>
  <summary>
    stacktrace
  </summary>

[code]
</details>

## Expected Behavior
The exception is not thrown on channel subscription cancellation.

## Actual Behavior
Exception is thrown.

## Steps to Reproduce
Sample applic

[2022-04-10 18:58] OlegDokuka commented on #1047
@mkrzywanski can your try to add to your main method a line with `Hooks.onOperatorDebug` to see the full stack trace of the exception

[2022-04-10 19:16] mkrzywanski commented on #1047
Since it appears in tests, I have added it in my `@BeforeAll` method but the stacktrace has not changed, it remains the same. Also the exception seems to be logged multiple times from different threads.

Adding `Hooks.onErrorDropped(throwable -> {});` makes it disappear tho, but this is not a way to go I believe.

[2022-04-10 19:18] OlegDokuka commented on #1047
@mkrzywanski exception stack trace may help in anyways. Also, can you try to reproduce the same just with a pure rsocket to reduce the problem surface

[2022-04-10 19:24] mkrzywanski commented on #1047
I can give it a try, but I am not that familiar with this rsocket api yet as I started using it today.

[2022-04-12 10:18] mkrzywanski commented on #1047
It seems that the error is caused when cancelling the `Flux` returned from mongodb `changeStream` feature. I tried several configurations with and without security/mongodb change stream and only not returning mongodb `changeStream` flux from my message mapping helped.

[2022-05-06 09:48] rstoyanchev opened #1048 "Support close in RSocketClient that notifies of the result"
`RSocketClient` implements `Disposable` which provides a way to initiate a shutdown. However, there is no good way to hold for the result, and it is important in some cases to wait for that. For example, in components that expose start/stop lifecycle methods and could be started and stopped multiple times. Likewise in tests to ensure resources are released before continuing.

By comparison `RSocke

[2022-06-04 14:09] cheatmenot commented on #935
+1

[2022-06-14 13:17] mdindoffer opened #1050 "RSocketRequester and RSocketResponder leak Reactor subscriptions when disconnecting"
## Expected Behavior
RSocketRequester and RSocketResponder should dispose of all associated resources when terminating.

## Actual Behavior
RSocketRequester and RSocketResponder do not dispose of internal Flux subscriptions, creating a leak.

## Steps to Reproduce
1. Start a `RequesterResponderLeakReproducerServer` https://gist.github.com/mdindoffer/c0e65bd9075ca7bdc8b639ebbf2c0fde#file-requesterr

[2022-06-24 14:54] Exnadella opened #1053 "Request for Maven Artifact"
We request for a Maven Artifact to be published for the Rocket-Java.

[2022-07-04 22:01] kdvolder opened #1054 "Where is the 'reference doc' ?"
When I report a issue, there's a prompt about 'Documentation issues' as reporting issues with the 'reference docs' or the 'api Java doc'. But as to the reference docs... I am not even sure they exist. If they do exist... couldn't find them. Places where I looked:

- the 'https://rsocket.io/' website. This seems more like a language agnostic 'marketing' site that is more about convincing people (wh

[2022-07-19 10:18] OlegDokuka commented on #1050
hello @mdindoffer!

First of all, is there any memory leak that causes a problem?

**To explain my question given the above context:**
GC collects the mentioned subscription, since neither RSocket Requester, nor Responder is stored on the server after the connection is closed. That said, even though the disposable created by -> `connection.receive().subscribe(this::handleFrame, e -> {})` is unstor

[2022-08-05 08:24] chirkov86 opened #1055 "Document the ability to disable KeepAlive"
It is not clear if it is possible to disable KeepAlive behavior for a connection and if yes how to do that.
I would expect that it is possible by providing a client config like:
[code]
and the corresponding code in the [io.rsocket.core.RSocketRequester](https://github.com/rsocket/rsocket-java/blob/master/rsocket-core/src/main/java/io/rsocket/core/RSocketRequester.java#L101)

The documentation says

[2022-08-08 14:11] sdack-cloud opened #1058 "resume not supported"
Process: com.example.rsocket, PID: 27203
    UnsupportedSetupException (0x2): resume not supported
        at io.rsocket.exceptions.Exceptions.from(Exceptions.java:60)
        at io.rsocket.core.RSocketRequester.lambda$tryTerminateOnZeroError$4(RSocketRequester.java:313)
        at io.rsocket.core.-$$Lambda$RSocketRequester$rwbq8EQ-eZ8va-mvaHgd0inROSU.get(Unknown Source:2)
        at io.rsocket.co

[2022-08-09 00:13] sdack-cloud commented on #1058
Retry exception causes Android program crash

2022-08-09 08:11:46.957 8849-9075/com.example.rsocket E/TAG: Error
2022-08-09 08:11:46.974 8849-9075/com.example.rsocket E/TAG: Finally

    --------- beginning of crash
2022-08-09 08:11:47.011 8849-9069/com.example.rsocket E/AndroidRuntime: FATAL EXCEPTION: DefaultDispatcher-worker-1
    Process: com.example.rsocket, PID: 8849
    reactor.core.Excepti

[2022-08-10 13:19] lkolisko opened #1059 "Deadlock on RSocketRequester lock when merging output of rsocket channels into another channel"
I am running into a deadlock between close and cancel when multiple rsocket channels output goes through FluxMerge reactor operator with output to a single rsocket channel. Is there any guidance on how to avoid the issue or investigate further?
Thanks in advance.

## Expected Behavior

+ No deadlock

## Actual Behavior

+ Thread epoll-10 is in deadlock with thread epoll-12

[code]

[code]

## Step

[2022-08-16 07:54] #1059 closed

[2022-08-16 07:56] OlegDokuka commented on #1059
@lkolisko thanks for finding this! Really helpful. Fixed and should been released in 1.1.3 next month

[2022-08-16 07:58] OlegDokuka commented on #1058
@sdack-cloud which rsocket version are you using?
Can you also prepare a small application that can reproduce that in an isolated environment?
Also, it is unclear what is the server setup which handles your connection.
Please provide a bit more info so we can help to resolve your issue.

Thanks

[2022-08-19 13:30] OlegDokuka commented on #1050
@mdindoffer as it turned out, the issue it selves is related to reactor netty and should be fixed with [#2441](https://github.com/reactor/reactor-netty/pull/2441) and 1.1.3 release

[2022-08-22 03:10] sdack-cloud commented on #1058
### Android

rsocket
v: 1.1.3

### Server
spring-rsocket-sample

### result

An exception occurred while connecting

[2022-09-02 08:36] rstoyanchev opened #1064 "Validate number of messages received"
The publishers created by `RSocketRequester` for inbound streams do not validate the number of messages received, which is fine for behaved clients since back pressure is built into the protocol, but generally publishers should perform basic checks to protect downstream subscribers and create a boundary of trust.

[2022-09-02 11:29] rstoyanchev opened #1065 "Ability to limit number of open requests at transport level"
[Lease frames](https://rsocket.io/about/protocol#lease-semantics) allow a responder to control the total number of requests from the other end, but it is an optional feature, and there should also be a way to limit the total number of requests at the transport level.

For the implementation, subscribers created by `RSocketResponder` will need a callback on `DuplexConnection#sendFrame` to notify th

[2022-09-05 14:38] agusevas opened #1066 "CompositeByteBuf memory allocation for Frame messages"
## Motivation

I have been evaluating the RSocket and did some profiling. It looks like creating Frame message many `ByteBuf` buffers are used (i.e. header, payload, frame size). Those buffers are composed using `CompositeByteBuf`. The `ByteBuf` can be reused, but the `CompositeByteBuf` are always created as new ones. Such `CompositeByteBuf` allocation doesn't take much memory, but sending many Fr

[2022-09-08 02:38] maxim-bandurko-lsvt commented on #831
@mmaask Well, I finally came to the moment that need to implement this Cookie/Session auth, and first way I did how I explained year ago in my comment above, but it turned to be not so nice in terms of implementation.

Biggest "stone" was https://github.com/spring-projects/spring-boot/issues/18549  with not public `RSocketWebSocketNettyRouteProvider`. So had to follow the same way out that @FWinkl

[2022-09-08 17:31] maxim-bandurko-lsvt commented on #831
@mmaask  Actually, decided to finish with implementation and  do auth per connection.

So:

1. `RSocketServerCustomizerCustom`:
[code]

2. `SocketAcceptorInterceptorCustom`:
[code]

It replaces existing `WebsocketDuplexConnection` wrapped with `WebsocketDuplexConnectionCustom`. And there you can do any Auth logic using headers or setup payload, and cache the session state value (can be any object)

[2022-09-08 17:50] maxim-bandurko-lsvt opened #1068 "Ability to store session object inside RSocketRequester chain"
Hello.

Would be very nice to add to somewhere inside `RSocketRequester` the `AtomicReference<Object>` type field that will cache the session object for reuse, especially it will be very convenient to obtain value from it inside `MessageMapping`s at Spring Boot.

I am coming from this: #831  and had implemented a basic wrapper around `WebsocketDuplexConnection` as to cache this value. Not a big de

[2022-09-08 18:20] maxim-bandurko-lsvt commented on #1068
Forgot to add, it is `Object` type because it can be anything that may be needed. For example, `number`, instance or even Mono Publisher that will supply the needed instance from session storage. I think that it will be very useful, as it will allow finally to have sessions insider RSocket and more on that, sessions can use Spring Security part and have same sessions to both RSocket and Spring Boo

[2022-09-09 08:05] OlegDokuka commented on #1066
@agusevas thanks for your investigation!

I think the best way to go is to create a similar issue at the netty project and reference this one!
We can contribute to netty if needed

[2022-09-09 08:06] OlegDokuka commented on #1064
closed by #1067

[2022-09-09 08:06] #1064 closed

[2022-09-11 08:05] sdack-cloud opened #1069 "About JWT authentication and authorization"
环境：
server：id 'org.springframework.boot'  version '2.7.2'
    implementation 'org.springframework.boot:spring-boot-starter-oauth2-resource-server'
    implementation 'org.springframework.boot:spring-boot-starter-security'
    implementation 'org.springframework.security:spring-security-rsocket'
    implementation 'org.springframework.security:spring-security-messaging'
    implementation 'org.spri

[2022-09-13 07:48] sdack-cloud opened #1070 "How to set SETUP setupRoute"
spring version: 2.7.2
rsocket: 1.1.2
### spring Server

[code]

###  spring client. RESULT : OK

[code]
---

###  rsocket client RESULT: Error

[code]

rsocket client.  Cannot map to @ConnectMapping("conn")

[2022-09-13 09:58] chaoyoung commented on #959
There are many such issue in our production environment.

dependency: spring-boot:2.3.12.RELEASE, resocket:1.0.5, reactor-core:3.3.17

`public Flux<Void> voiceChat(RSocketRequester requester, @Header String callId, @Payload final Flux<byte[]> payloads) {
         payloads.subscribeOn(callRxScheduler, false)
        .onBackpressureBuffer(100, rxOnBufferOverflow, BufferOverflowStrategy.DROP_OLDEST)

[2022-09-13 10:09] chaoyoung commented on #959
It does not work for me, rsocket:1.0.5

dependency and context: https://github.com/rsocket/rsocket-java/issues/959#issuecomment-1245178222

[2022-09-14 01:12] sdack-cloud commented on #1069
Destination '' does not support REQUEST_RESPONSE. Supported interaction(s): [SETUP, METADATA_PUSH]

The problem seems to be that the route does not map the path accurately
Even if the security is removed

@MessageMapping("abc")

v: "rsocket-composite-metadata": "^1.0.0-alpha.3",
    "rsocket-messaging": "^1.0.0-alpha.3",
    "rsocket-websocket-client": "^1.0.0-alpha.1",

[2022-09-14 08:41] #1048 closed

[2022-09-14 11:38] #1045 closed

[2022-09-14 11:38] OlegDokuka commented on #1045
fixed with #1046

[2022-09-14 11:40] OlegDokuka commented on #1050
delayed due to ongoing investigation in reactor-netty

[2022-09-14 16:11] ekuleshov-idexx commented on #1045
Thank you @OlegDokuka and @rstoyanchev

[2022-09-18 02:37] #1069 closed

[2022-09-18 02:37] #1070 closed

[2022-10-11 10:11] mdindoffer commented on #1050
Any news regarding this?

[2022-11-01 11:56] Svenskunganka opened #1077 "SendUtils onDiscard handler class cast exception"
I'm using RSocket Java with Spring Webflux and RSocket JS in the front-end, using `REQUEST_STREAM` with an infinite Kafka source. The returned Flux receives quite a lot of small messages and does quite a bit of filtering and buffering. [The relevant code in `SendUtils`](https://github.com/rsocket/rsocket-java/blob/e31038f04e8bfc7b9c3a9a2b3a12fd578ed02a40/rsocket-core/src/main/java/io/rsocket/core/

[2022-11-02 10:50] OlegDokuka commented on #1077
@Svenskunganka! Sounds relevant!

Feel free to contribute if you see the direct solution, otherwise, I will investigate it!

Best,
Oleh

[2022-11-02 12:10] Svenskunganka commented on #1077
Hi Oleh!

If my possible solution is acceptable I can definitely contribute it! But if you perhaps know of another way this could be solved without needing to perform an `instanceof` check for every discarded object that might be a better route to explore.
From my limited experience the only thing I can think of is using e.g `Mono.using()`/`Flux.using()` when creating a `Payload`.

[code]

Kind re