[2019-02-14 22:36] nebhale opened #582 "Add ExtensionFrame Flyweight"

[2019-02-14 22:38] nebhale opened #583 "Add Zipkin Tracing Flyweight"

[2019-02-14 23:04] smaldini commented on #569
fixed by the PR above

[2019-02-14 23:04] #569 closed

[2019-02-14 23:04] nebhale commented on #576
This or #576

[2019-02-14 23:04] nebhale commented on #576
This or #582.

[2019-02-15 07:31] robertroeser commented on #580
After looking at the code this change is going to need to be a little different. In the request (RSocketClient java) the stream id is also used to correlate the where frames go. I think what I'm going to do is update the FrameHeaderFlyweight to do two things. To make this work with other transports that provide there own stream ids. Firstly I'm going to provide a method let you replace the current

[2019-02-27 14:01] OlegDokuka commented on #514
I discovered the same issue while debugging https://github.com/scalecube/reactor-aeron/tree/develop/reactor-aeron-tools from @scalecube team.

I guess the transports possibilities should drive the source backpressure and we should not propagate original request frame from the requester. That will allow us to keep `UnboundedProcessor` un-overwhelmed.

This issue is critical because doing `.subscrib

[2019-02-27 19:25] robertroeser opened #588 "Add [openjdk11] to Travis build matrix"
Adding openjdk11 to the Travis build is causing a build error. Need to add openjdk11 back to travis build and fix the issue.

[2019-02-27 21:26] zapphyre opened #589 "cannot connect to remote socket"
your example works, but I can not conect to some remote server:

[code]

produces:
[code]

[2019-02-28 06:10] OlegDokuka commented on #589
@zapphyre, thank you for this issue. Fixed by #590 and merged into develop branch. You can find it in the latest snapshot

[2019-02-28 06:10] #589 closed

[2019-02-28 12:37] zapphyre commented on #589
thanks for fixing!
when release?

[2019-02-28 13:30] OlegDokuka commented on #589
Not sure. For now you can workaround it by adding additional / at the end of your link

[2019-02-28 14:24] zapphyre commented on #589
with trailing '/' I get:
[code]
can you check, please?

[2019-03-04 23:37] rstoyanchev opened #592 "requestChannel never completes if server cancels"
Given the code below, the client hangs with the following output:

[code]

[code]

I think the scenario is invalid because the server cancels the input stream and then continues to produce output, but still the client probably shouldn't hang.

[2019-03-05 08:30] OlegDokuka commented on #592
Looking into that

[2019-03-05 11:41] #592 closed

[2019-03-08 13:58] rstoyanchev commented on #592
Thanks for the fix. There is no target milestone, 0.11.18 is it?

[2019-03-14 15:34] robertroeser opened #597 "cancel in synchronized block in LimitableRequestPublisher"
LimitableRequestPublisher calls cancel instead a synchronized block. The call to the cancel method should be moved outside synchronized block. Here is a link to the code where this is happening:
https://github.com/rsocket/rsocket-java/blob/develop/rsocket-core/src/main/java/io/rsocket/internal/LimitableRequestPublisher.java#L136

[2019-03-14 15:35] #514 closed

[2019-03-14 16:50] OlegDokuka commented on #597
@robertroeser I fixed that in upcoming perf optimization PR. Will send it today. Needs to add JMH benches for all of them

[2019-03-18 21:15] yschimke opened #599 "Resume enabled stream is hanging"
Server

[code]

Client

[code]

Port Forwarder

[code]

[2019-03-18 21:16] yschimke commented on #599
Without

[code]

[2019-03-18 21:32] yschimke commented on #599
One third attempt hung later

[code]

[2019-03-19 14:51] mostroverkhov commented on #599
With latest snapshot of rsocket-java (as previous version had changes which possibly led to hang streams) and above setup I was not able to reproduce this: linux, ran ~ 2 dozen times. I am wondering if It is possible to have setup without proxies & CLI to more easily pinpoint possible cause.

[2019-03-19 15:47] yschimke commented on #599
@mostroverkhov it's failing for me after 100k to 400k records.  I'm happy to retest with a released version.  I'm using a snapshot of questionable provenance

[2019-03-19 17:31] mostroverkhov commented on #599
@yschimke If this is reproduced for you with latest rsocket, I will setup no-proxies/external deps long running test with multiple streams. Also, is my understanding correct that stream stalls w/o actual connection drop - by just running with resumption option enabled?

[2019-03-19 18:29] yschimke commented on #599
Stalls with no connection drop. Just by enabling resume.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-21 18:34] rstoyanchev opened #601 "A way to "plug" RSocket into a Reactor HttpServer that's configured and managed externally"
Currently `ServerRSocketFactory` is used to both initialize RSocket and start the underlying server which is done by passing a `ConnectionAcceptor` to the configured `ServerTransport`.

For existing server setups like the Spring Boot "webflux" starter which already configures and starts a Reactor Netty `HttpServer`, it would be useful to be able obtain that `ConnectionAcceptor` and then effectivel

[2019-03-21 20:25] yschimke commented on #599
I checked jstack, no blocked threads by locking, or queue operations etc.  Just client and server both waiting for next event over the connection.

[2019-03-21 23:16] robertroeser commented on #339
#558

[2019-03-21 23:16] #339 closed

[2019-03-21 23:16] #463 closed

[2019-03-21 23:17] #453 closed

[2019-03-21 23:18] #338 closed

[2019-03-21 23:18] #490 closed

[2019-03-22 03:32] OlegDokuka opened #602 "Investigate resumability compatibility between java and js implementations"
At the moment js client does not compatible with java receiver with resumable transport enabled

[2019-03-22 09:45] pmackowski opened #603 "CloseableChannel#dispose ignored"
I am trying to shutdown a receiver `RSocketFactory.receive()` through `CloseableChannel#dispose` method but it seems not to be working. Here is a test that I expect to pass:

[code]

[2019-03-22 14:06] pmackowski commented on #603
Possibly `dispose()` on this [rSocketServer](https://github.com/rsocket/rsocket-java/blob/develop/rsocket-core/src/main/java/io/rsocket/RSocketFactory.java#L521) should do the trick.

[2019-03-22 17:50] mostroverkhov commented on #599
There is integration test for this (also with disconnects), but It stopped at something close to 100k messages - will run It longer while checking java/js resumption interop. Stalled streams may be caused by missed frames on concurrent `Processor` writes, or wrong `requestN` calculations.

[2019-03-23 10:09] pmackowski commented on #603
Implemented a quick fix as it is a must-have functionality for me (I am currently working on rsocket-raft implementation). Please take a look [here](https://github.com/rsocket/rsocket-java/compare/develop...pmackowski:603_closeable_channel_dispose). Maybe you will find it useful in some way.

[2019-03-25 01:33] robertroeser commented on #603
both sides have an rsocket-server so we don't want to return that to the user. Closing the channel should shut it down. If its not we should look into that.

[2019-03-25 05:30] pmackowski commented on #603
Thank you for quick reply.
My intention is not to expose anything to the user. Let me describe the problem in the pseudocode.

**On server 1**
[code]
**On server 2**
[code]

I expect `Server 1` to stop sending payloads to `Server 2` after two minutes.

[2019-03-25 08:20] OlegDokuka commented on #603
Indeed, currently, a server is getting disposed once all streams are down but not at the dispose function call. This is a bug I guess. Will have a look shortly

[2019-03-25 23:16] zapphyre opened #605 "Connection failed"
with:
[code]
I'm getting:
[code]

on `requestStream.(..)` Frame type from the top of the error increases.

rsocket-core: LATEST
rsocket-transport-netty: LATEST

[2019-03-26 06:29] OlegDokuka commented on #605
Hi @zapphyre, it does not seem that Kraken API has implemented RSocket integration. Unfortunately, RSocket is a protocol which cant just magically work with anything. It requires that both parties are following the same rules. Since Kraken WS API does not have proper integration, it causes the mentioned above exception. Please write to Kraken support if you are interested in having RSocket integra

[2019-03-26 06:29] #605 closed

[2019-03-26 07:19] zapphyre commented on #605
I didn't realize that.
then some more descriptive message would fit..

[2019-03-28 22:42] linux-china commented on #562
@yschimke  I want to attach some information into peer RSocket and get them back in later operation.
For example,  during setup, and I attached ip, id and other information on sendingRSocket, then in requestResponse, and I want to retrieve these information.  the code like following:
[code]

Before sending the payload to peer RSocket, create a sendingRSocketContext and attach to Mono.
[code]
is th

[2019-03-28 23:51] OlegDokuka commented on #562
@linux-china Hey buddy! I guess you want to implement something like that -> https://github.com/CollaborationInEncapsulation/reactive-pacman/blob/master/game-server/src/main/java/org/coinen/reactive/pacman/controller/rsocket/SetupController.java#L43

https://github.com/CollaborationInEncapsulation/reactive-pacman/blob/master/game-server/src/main/java/org/coinen/reactive/pacman/controller/rsocket/s

[2019-03-29 00:07] linux-china commented on #562
@OlegDokuka  yes. it's correct. could we make it default by RSocket-Java without a new SocketAcceptor?

[2019-04-09 03:35] rstoyanchev opened #613 "Missing onComplete from requestChannel"
We've some periodically failing tests. I modified one of the rsocket-java samples to demonstrate. It sends 10 messages, expects them echoed back, followed by onComplete. It repeats this in a loop up to 1000 times. Once in a while it fails to get onComplete after the 10 items are echoed back.

[code]
I don't know if the expectation is valid but it seems to work that way most of the time. I want to

[2019-04-09 17:36] OlegDokuka commented on #601
Implemented by #612 #600

[2019-04-09 17:36] #601 closed

[2019-04-09 18:47] spencergibb commented on #613
I think I get a similar thing every so often in ci builds.

[2019-04-11 21:44] robertroeser opened #615 "Exception while re-assembling Fragment"
When fragmentation is enabled, depending on the size of the payload and MTU, there is a refCnt exception prevent fragmentation from completing.

[2019-04-12 18:38] #615 closed

[2019-04-13 20:17] robertroeser opened #617 "keep alives don't honor time from client"
The keep alives no long honor the what is being sent in a setup payload - they always timeout after 90,000 milliseconds.

[2019-04-15 23:07] robertroeser commented on #613
#618 should fix this issue

[2019-04-18 18:36] jareddellitt opened #622 "Load balancer doesn't recover from supplier pool going down to 0 instances"
I've been attempting to use the `LoadBalancedRSocketMono` class by providing it a `Publisher<Collection<RSocketSupplier>>` that may deliver zero to many suppliers at any given point. I wanted to prove that if we lost all instances of a service, the load balancer would recover when new instances came online.

In its current form, the load balancer will default to returning a `FailingRSocket` if the

[2019-04-18 20:02] #622 closed

[2019-04-26 21:55] michaelom opened #625 "decoupling of Reactor implementation"
The `rocket-core` artifact depends on Spring Reactor:

[code]

This is a pesky dependency for projects that use rxjava2, vertx or akka-streams.

I was wondering
- if the core module could remain vendor neural and depend only on `org.reactivestreams:reactive-streams`
- the Reactor dependency could be moved to a dedicated 'rsocket-reactor' module.

[2019-04-26 22:22] michaelom commented on #625
FYI: RxJava has a documentation section describing different approaches how to deal with exposes APIs:
https://github.com/ReactiveX/RxJava/wiki/Reactive-Streams#public-apis-of-libraries

[2019-04-26 22:41] smaldini commented on #625
Our thinking has slightly evolved from 4 years ago when this was posted by Ben there and especially on rsocket side it brings us quite a few benefits to depend on reactor, which you can easily interop with any of the libraries mentioned above. The same people behind the guidelines you mentioned, rsocket, rxjava and reactor make this project.

We designed both rxjava2 and reactor with the same core

[2019-04-26 22:45] smaldini commented on #625
Unless we have a clear benefit, we don't have plans in the immediate future to operate that change so I'm closing for the time being.

[2019-04-26 22:45] #625 closed

[2019-04-28 19:05] Mee42 commented on #617
Is there any temporary workaround for this? I keep getting
[code]

[2019-04-29 07:11] OlegDokuka commented on #617
This is bug in the 0.12.2 version. We are working on it. Please use 0.12.1-RC2/RC3 for now

[2019-04-30 04:59] robertroeser commented on #617
@Mee42 - This is pull request should fix it - https://github.com/rsocket/rsocket-java/pull/624

You can try it with with 0.12.2-RC3-SNAPSHOT in the jcenter oss snapshot repository.

[2019-05-05 08:39] uglycow opened #626 "npe when RSocketClient cleanUp"
the stacktrace

[code]

version info :
[code]

didn't figure out how to recreate the error yet.

[2019-05-05 21:03] robertroeser commented on #626
There was bug that was fixed with a patch for 0.11:
https://github.com/rsocket/rsocket-java/releases/tag/0.11.17.2

Can you try this version and see if the issue goes away?

[2019-05-07 04:37] ilterpehlivan commented on #603
Hi,

I am also having the same issue, in my test case I am trying to stop Rsocket server and reinitialize it to be able to see LoadbalancerMono client behaviour. However Rsocket server is never disposing

closeableChannel.dispose()
rsocket.dispose()

But service is never going down even though I wait more than 2 seconds

Any estimate when this might be fixed ?
Thanks

[2019-05-07 19:24] robertroeser commented on #603
@OlegDokuka - can you help out here?

[2019-05-08 18:07] #588 closed

[2019-05-10 14:59] klopfdreh opened #628 "Unexcepted outcome while using requestChannel"
Hell everyone,

first of all thanks a lot for the java implementation of RSocket. First some side notes:

RSocket version: 0.12.2-RC2
My example project: https://github.com/klopfdreh/rsocket_playground
Scenario: requestChannel

My output looks like this:

Server:
[code]

Client:
[code]
The first two lines of the client are information that are going to be sent to the server.
The last line is the r

[2019-05-14 07:07] mostroverkhov commented on #588
above change breaks build on `develop` due to javadoc related bug `javadoc: error - The code being documented uses modules but the packages defined in https://docs.oracle.com/javase/8/docs/api/ are in the unnamed module.` https://travis-ci.org/rsocket/rsocket-java/builds/530167617

[2019-05-15 21:50] GusevAnton opened #633 "LoadBalancedRSocketMono loose sockets on server restart"
I have more than one server applications and I'm using LoadBalancedRSocketMono.
If I restart one of them, then all request will forward to a single node.

I've found the exception here, because new socket have zero values.
[code]
the call is in WeightedSocket
[code]
I think we don't need execute this method when we restart server node.

[2019-05-16 01:23] linux-china opened #634 "LoadBalancedRSocketMono refresh problem after new Collection<RSocketSupplier>"
Steps as following:

* create a rsocketSupplierProcessor with initial RSocket cluster information
* create LoadBalancedRSocketMono from rsocketSupplierProcessor
* invoke  rsocketSupplierProcessor.onNext()  to  update RSocket cluster information

LoadBalancedRSocketMono will not work after cluster information updated. Maybe refreshSockets() not invoked after cluster updated.

[code]

[2019-05-16 04:15] robertroeser commented on #634
Is this a duplicate of #633 ?

[2019-05-18 15:15] yschimke commented on #599
Working with latest released version

[2019-05-18 15:15] #599 closed

[2019-05-18 15:16] yschimke commented on #523
This is working fine for rsocket-cli, so closing for now.

[2019-05-18 15:16] #523 closed

[2019-05-18 15:16] #526 closed

[2019-05-18 15:20] yschimke opened #637 "Resume working for connection but not a stream"
Reproducible with the rsocket-cli project

[code]

kill and restart socat

[code]

[2019-05-18 15:40] yschimke commented on #637
I'm on io.rsocket:*=0.12.2-RC2

https://github.com/rsocket/rsocket-cli/blob/master/versions.props#L13

[2019-05-18 15:53] yschimke commented on #637
I suspected it could be backpressure related, I was streaming the dictionary line by line as fast as possible. So without a connection, it's possible I was overwhelming things on the server side while there was no IO to slow things down.

But the interval timer isn't working either.

[code]

[2019-05-18 15:54] yschimke commented on #637
Also I can see that the server is maintaining the stream, since in the twitter example it isn't doing the unsubscribe which happens on cleanup.

[2019-05-18 16:09] yschimke commented on #637
Since it is working with rsocket-java test, but failing with rsocket-cli, which is less well maintained; I'm happy to treat this as rsocket-cli bug until proven otherwise.

[2019-05-18 16:30] mostroverkhov commented on #637
This needs investigation with non CLI java only setup - same client, server handler etc. I will be able to check this monday evening

[2019-05-20 10:00] #617 closed

[2019-05-20 14:19] mostroverkhov commented on #637
@yschimke I quickly updated resume example to something similar what CLI does above - can you give It a try?

[2019-05-20 14:41] yschimke commented on #637
Will do tonight

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-20 19:31] yschimke commented on #637
Not sure what you observed, but it reconnected for me, but ultimately I ended up with looping content which surprised me.  Couldn't see that in the branch changes either.

[2019-05-20 19:37] mostroverkhov commented on #637
It loops because there is `repeat` in file source - otherwise test stops very quickly to test how disconnects influence resumption. If this reconnects successfully for you (as It does for me) , and does not hang, then I suggest to look for issues inside rsocket-cli

[2019-05-20 19:42] yschimke commented on #637
Yep, thanks, will do.

It's absolutely flying through once it warms up.  Thanks for humoring me!

[2019-05-20 19:42] #637 closed

[2019-05-20 19:50] yschimke commented on #637
cli -> your server = resume works.

[2019-05-21 08:22] lksvenoy-r7 opened #640 "Server dies on keep-alive ack timeout"
The rsocket server dies on keep-alive ack timeout. I've tried adding onErrorResume, but to no avail. How can I prevent the server from closing its socket on error?

**Error**
[code]

**Version:  0.12.2-RC2**

**Server Code**
[code]
Any help would be greatly appreciated

[2019-05-21 08:24] robertroeser commented on #640
@mostroverkhov  can you take a look at this?

[2019-05-21 08:31] lksvenoy-r7 opened #641 "Missing onComplete in requestStream and requestChannel with fragmentation"
When using fragmentation, the onComplete signal is sometimes missing with requestStream and requestChannel. This has been observed using many different fragmentation values (from 64 and up), and the behaviour is different locally than it is when using it over internet.

**Expected Behaviour:** When fragmentation is enabled, granted there are no errors, the entire payload is received by the client

[2019-05-21 08:42] mostroverkhov commented on #640
Our internal testing showed RSocketServer may become unresponsive in certain situations -
this should be fixed in upcoming `0.12.2-RC3` release, It contains sets of improvements on both RSocketServer and keep-alives. You can try latest snapshot `0.12.2-RC3-SNAPSHOT` from `https://oss.jfrog.org/oss-snapshot-local`

[2019-05-21 08:44] lksvenoy-r7 commented on #640
@mostroverkhov Is this related to the fact that terminate, called on keep-alive ack timeout, closes the underlying server connection? Just curious https://github.com/rsocket/rsocket-java/blob/71915d4f0c16f1107b8b09f9555eff4bfe07e499/rsocket-core/src/main/java/io/rsocket/RSocketServer.java

[2019-05-21 08:45] lksvenoy-r7 commented on #640
@mostroverkhov I'll give 0.12.2-RC3 a shot! Thank you, and thank you all for this amazing project :)

[2019-05-21 08:56] mostroverkhov commented on #640
@lksvenoy-r7 keep-alives are not optional, and connection must be closed if KEEP-ALIVE frames were not seen for a long time. On 0.12.2-RC2, you can try set high value for keep-alive timeout when creating `ClientRSocketFactory` - this would not be helpful if RSocketServer becomes unresponsive

[2019-05-21 09:00] lksvenoy-r7 commented on #640
@mostroverkhov Am aware of this. This issue happened when putting the server under significant load. However, would it not make more sense for the server to drop client connections, rather than shut down the server connection?

In my case, the service renders a state where the only way to recover is to restart the box, and this is the issue I am trying to prevent.

I understand keep alives are opt

[2019-05-21 09:11] robertroeser commented on #640
@mostroverkhov  Weren't changes have been made in develop to how keep-alives are handled vs 0.12.2-RC3? I seem remember running into something similar.

[2019-05-21 09:16] mostroverkhov commented on #640
@robertroeser Yes, that changed after 0.12.2-RC2 (current develop) - that's what I meant by ` It contains sets of improvements on both RSocketServer and keep-alives`

[2019-05-21 09:18] lksvenoy-r7 commented on #640
@robertroeser @mostroverkhov I may be misunderstanding this code then, but looking at https://github.com/rsocket/rsocket-java/blob/71915d4f0c16f1107b8b09f9555eff4bfe07e499/rsocket-core/src/main/java/io/rsocket/RSocketServer.java on line 130, it does appear, to me atleast, that the underlying server connection is disposed on keep-alive ack timeout, which for me seems like strange behaviour. Why wou

[2019-05-21 09:23] mostroverkhov commented on #640
@lksvenoy-r7 The RSocketClient and RSocketServer are actually `requester` and `responder` on one side of connection - naming here is confusing. Closing connection leads to closing `requester` and `responder` on connection, but not server started with `ServerRSocketFactory`.

[2019-05-21 09:26] robertroeser commented on #640
@mostroverkhov I think there was a ticket someone to rename RSocketClient to RSocketRequester and RSocketServer to RSocketResponder - they are only used internally you should just go ahead and update them.

[2019-05-21 12:32] lksvenoy-r7 commented on #640
@mostroverkhov @robertroeser I've tested with 0.12.2-RC3-SNAPSHOT and am now experiencing different problems. While the socket didn't die instantly, the EC2 instance the service was running on has frozen.

![Screen Shot 2019-05-21 at 13 17 18](https://user-images.githubusercontent.com/46895578/58095631-5d92f380-7bcb-11e9-874f-74f8e74a19a9.PNG)

I ran a significant number of requests against the ma

[2019-05-21 12:55] lksvenoy-r7 commented on #613
See https://github.com/rsocket/rsocket-java/issues/641 as I am observing this issue in 0.12.2-RC2 (not locally, but externally)

[2019-05-21 13:14] mostroverkhov commented on #640
@lksvenoy-r7 looks like code is still run with 0.2.12-RC2, according to stacktraces ( io.rsocket.keepalive.KeepAliveConnection was removed). Can you check project dependency graph / lockfiles if It actually built with `0.12.2-RC3-SNAPSHOT` ?

[2019-05-21 13:23] lksvenoy-r7 commented on #640
@mostroverkhov Yes I think you're right, sorry about that. I'll get back to you once I've resolved it.

[2019-05-21 13:43] lksvenoy-r7 commented on #640
@mostroverkhov Ok so I managed to successfully put 0.12.2-RC3-SNAPSHOT on the instance. With this version, it doesn't work at all. I get no results back, and the connection is quickly closed. There are also no informative error logs. When hitting the socket, CPU usage initially increases (indicating it is being hit) but then the CPU usage drops to defaults and the service is now no longer possible

[2019-05-21 13:46] lksvenoy-r7 commented on #640
Here's rsocket-cli debug output when trying to hit the service after it has been hit once

[code]

[2019-05-21 14:03] lksvenoy-r7 commented on #640
@mostroverkhov I've replicated this issue a couple of times now, and did a packet capture to look at the issue as well. It turns out that, looking at the tcpdump, the socket connection does not go further than switching protocols.

It looks something like this

[code]

[2019-05-21 14:04] mostroverkhov commented on #640
@lksvenoy-r7 We need more info about your setup - RSocket-java currently on `develop` was verified with rather comprehensive soak test, so closed connection is unexpected. What version of reactor-netty/bom is used? version of `netty-tcnative` if present. Ideally dependency graph/ lockfiles would help ultimately resolve the issue.
rsocket-cli is built with some earlier version, and while It usually

[2019-05-21 14:11] lksvenoy-r7 commented on #640
@mostroverkhov No worries, here's a dependency graph. If you need anything else let me know.

[code]

[2019-05-21 14:28] mostroverkhov commented on #640
@lksvenoy-r7 `reactor-netty:jar:0.8.2.RELEASE` and netty deps are too old - some recent changes on rsocket-java netty transport need `0.8.8.RELEASE` - correct versions can be pulled in with their bom `io.projectreactor:reactor-bom:Californium-SR8`. I'd also check for newer spring-boot version pulling above versions

[2019-05-21 14:40] lksvenoy-r7 commented on #640
@mostroverkhov Thank you so much, bumping reactor-netty did indeed resolve that problem. I'll test this version more and get back to you if it has solved the original issue or not.

[2019-05-21 15:27] lksvenoy-r7 commented on #640
@mostroverkhov It seems to be much, much more resilient now. I actually managed to run out of ENIs in amazon, so haven't been able to do all the testing I've wanted so far. I'll report back on the issue tomorrow and let you know if it resolves it or not, it seems like it does. Thank you for your help.

[2019-05-21 16:14] lksvenoy-r7 commented on #640
@mostroverkhov I've done some testing, and seems fine with the exception of memory usage. The service never seems to release memory, and ends up unresponsive over time. Would you like to close this issue and make a new issue for this?

[2019-05-21 16:31] mostroverkhov commented on #640
Open new one, with details how RSocket created/used: decoder type, streams rate limiting, number of concurrent streams, whether RSockets are closed etc.

[2019-05-21 17:34] mostroverkhov commented on #640
@lksvenoy-r7 Ah, I missed you have posted part of RSocket related code - because zero-copy payload decoder is used, all *incoming* (except SETUP frame) Payloads has to be released, otherwise buffers are leaked. This relates to both `requester` RSocket and `responder` RSocket, for payloads received as response stream from requester RSocket, and single `Payloads` in handlers

[2019-05-21 18:11] lakrsv commented on #640
@mostroverkhov Hello, different account.

I explicitly release the payload in a .map() operation as the first action in a finally block for turning the payload into my domain object. The only payloads I don't release (because I don't think it makes sense and I'm not sure how I would go about it) are the ones I create for sending to the client.

[2019-05-21 18:12] yschimke commented on #637
Changed the cli to use a slower interval timer (1/sec) source and it's all good.  I think the stream from a file source just overwhelms the server when there is no connected client.  Not convinced things are in a good state after that point.  But it's working end to end in the happy resume path.

Thanks for the help.

[2019-05-21 18:31] mostroverkhov commented on #637
Maybe try add `.limitRate(n)` on receiving side? Then on disconnect there will be at most N items in resume cache.

[2019-05-21 18:46] jareddellitt commented on #634
I think this is the same thing I addressed in #623.

[2019-05-22 11:23] lksvenoy-r7 commented on #640
I've upgraded the instance I was testing on, and it seems remarkably stable. I am fetching gigabytes of data over the socket with no problems, with the exception of heavy load causing keep-alives to not go through, killing the connection occasionally. (This is probably my own fault) I am closing this ticket as the most recent snapshot fixes my problems. Am very much looking forward to it being rel

[2019-05-22 11:23] #640 closed

[2019-05-28 06:35] robertroeser commented on #641
Haven't gotten a chance to look at this in depth but there is a change this could be related to some structural changes in 0.12.2-RC2. Have you had a chance to try this with 0.12.2-RC3?

[2019-05-28 06:37] robertroeser commented on #634
@jareddellitt @linux-china 0.12.2-RC3 is out

[2019-05-28 06:38] robertroeser commented on #628
@klopfdreh - Hi RC3 is out. There were some changes in RC2 that get shifted back to RC3. Can you try again?

[2019-05-28 06:40] robertroeser commented on #633
Hi - we just released 0.12.2-RC3 that contained a fix for the load balancer.

[2019-05-28 06:44] GusevAnton commented on #633
Hi! Ok, i’ll check. Thank you!

[2019-05-28 08:21] klopfdreh commented on #628
Hey @robertroeser - Sure! I am going to test it later this day. Thanks for your response. 👍

[2019-05-28 08:53] lksvenoy-r7 commented on #641
I haven't gotten a chance to look at this yet as I am too busy at this moment, but I'll update this ticket once it becomes relevant again. I had previously enabled it to fix an issue where my payload was too big, but this issue went away in a later update so fragmentation was no longer necessary for us.

[2019-05-28 19:31] klopfdreh commented on #628
Hi @robertroeser - I just tested the code with RC3 - same outcome. Maybe it is a fault of my code and I would be very pleased if you could just check it and maybe help me to find out the issue? I would be very pleased.

[2019-05-28 20:10] linux-china commented on #634
@robertroeser  yes, it works for me with 0.12.2-RC3  :)

[2019-05-29 06:44] #634 closed

[2019-05-29 06:45] robertroeser commented on #641
Ok - thanks for checking - @mostroverkhov is looking into this - we'll let you know.

[2019-05-29 17:51] GusevAnton commented on #633
Hi! I've tested again, and unfortunately caught the same result.
The first node doesn't catch request after restart.

[2019-05-29 22:25] robertroeser commented on #628
Hi @klopfdreh ,

@mostroverkhov will take a look

Thanks,
Robert

[2019-05-29 22:25] #626 closed

[2019-05-31 14:30] mostroverkhov commented on #628
@klopfdreh I think [here](https://github.com/klopfdreh/rsocket_playground/blob/c7e5dd99759db13f70da50b630bd8d2c829a5a6f/src/main/java/de/klopfdreh/rsocket/playground/Server.java#L38) subscription has to be delayed until request `Publisher` is completed - then your implementation should produce expected results - something like
[code]

[2019-05-31 14:30] #628 closed

[2019-05-31 17:46] klopfdreh commented on #628
Thanks a lot for the help! I am a little bit confused about that, because I thought that when the subscription is applied the server is listening untit onComplete is called on client side. Can you explain why the delay is requiriert?

Thanks again for your time and help!

[2019-06-01 07:08] OlegDokuka commented on #628
First of all - everything happens asynchronously and in your case concurrently (reactive streams have requestN behavior so there are no guarantees that this call will be done in the same thread as Publisher was generated.

The above statement leads to the fact that you are using inappropriate collection which is non-thread safe at all (you are lucky it worked at all);

Then, RSocket requestChannel

[2019-06-01 07:36] #399 closed

[2019-06-01 07:37] #311 closed

[2019-06-01 07:37] #286 closed

[2019-06-01 11:01] klopfdreh commented on #628
Thanks a ton for this awesome explanation! Helps a lot!

[2019-06-05 05:52] robertroeser commented on #641
@lksvenoy-r7 did you get a chance to try @mostroverkhov fix?

[2019-06-10 14:16] MavoCz opened #647 "ByteBuf.release() was not called before it's garbage-collected"
Hi, we are using last version of RSocket-java (0.12.2-RC3) with RSocket-rpc  and when moving large amount of data with request -> stream, we sometimes get exception below. We are using websocket transport with fragmentation set on both server and client to 65535.

Recent access records:
Created at:
	io.netty.buffer.PooledByteBufAllocator.newDirectBuffer(PooledByteBufAllocator.java:339)
	io.netty.b

[2019-06-10 16:23] mostroverkhov commented on #647
Thanks for the report, we will look into this

[2019-06-10 19:01] mostroverkhov commented on #647
Can you try `0.12.2-RC4-SNAPSHOT` from `https://oss.jfrog.org/artifactory/oss-snapshot-local/` - It has some fragmentation improvements

[2019-06-12 18:18] MavoCz commented on #647
Thanks, I will try new version.

I just noticed that 0.12.2-RC4 was released, but it is not present in maven central. Is that a bug?

https://mvnrepository.com/artifact/io.rsocket/rsocket-core

I would prefer the released version

[2019-06-12 18:58] robertroeser commented on #647
yeah - bintray is being difficult :/

[2019-06-12 20:06] robertroeser commented on #647
@MavoCz - I got the release working - should be available now

[2019-06-13 05:11] #470 closed

[2019-06-13 05:20] mostroverkhov commented on #470
closed by https://github.com/rsocket/rsocket-java/pull/650

[2019-06-13 12:04] xiazuojie opened #652 "LoadBalancedRSocketMono not in sync with io.rsocket.client.RSocketSupplierPool"
LoadBalancedRSocketMono#activeSockets and RSocketSupplierPool#leasedSuppliers are not in sync.

1. After invoking io.rsocket.client.RSocketSupplierPool#handleNewFactories to provide new RSocketSuppliers, items in LoadBalancedRSocketMono#activeSocket are not immediately removed even if they are no longer among the new RSocketSuppliers.
2. io.rsocket.client.LoadBalancedRSocketMono#quickSlowestRS may

[2019-06-13 13:37] CodeMason opened #653 "Is using Aeron stable with RSocket?"
The **readme** states that Aeron is available for use, however from looking at the [issues](https://github.com/rsocket/rsocket-java/issues/309) and at [stackoverflow](https://stackoverflow.com/questions/50061488/how-do-i-create-a-file-sending-client-server-with-rsocket), the comment `I wouldn't recommend using the Aeron implementation currently.` bothers me.

So before spending the engineering eff

[2019-06-13 20:24] GusevAnton opened #654 "Dead server node invocation LoadBalancedRSocketMono"
If I create
[code]
and start only one node, then some requests will balance to dead nodes.
Sometimes all requests goes to only dead nodes, and nothing on alive.

[2019-06-17 07:35] #652 closed

[2019-06-17 09:50] xiazuojie commented on #654
related to https://github.com/rsocket/rsocket-java/issues/652

[2019-06-17 17:54] mostroverkhov commented on #480
implemented in https://github.com/rsocket/rsocket-java/pull/648

[2019-06-17 17:54] #480 closed

[2019-06-17 17:55] #492 closed

[2019-06-20 06:12] robertroeser commented on #653
Aeron+RSocket isn't production worthy right now - I have an an update but we haven't really found the need to use Aeron right now. What's your use-case?

[2019-06-20 13:34] CodeMason commented on #653
We're using aeron to push huge amounts of data between servers, and are interested in RSocket features.

[2019-06-25 09:36] MavoCz commented on #647
Hi, thanks. We have upgraded to RC4 and have not seen the bug since then. Will let you know if it reoccurs.

[2019-06-25 09:48] #647 closed

[2019-06-28 08:45] Zeymo opened #656 "How to get remote address in application-level"
Application want remoteAddress or haproxyAddress to metric or analyze,but I can't find any api or field to get it

[2019-06-28 09:26] yschimke commented on #656
Please ask on stackoverflow and I’ll answer there. You can post a link here

[2019-06-28 14:32] #656 closed

[2019-06-28 16:17] robertroeser commented on #654
@GusevAnton is this issue fixed via #652 ?

[2019-07-05 15:23] fvigotti commented on #603
using ` 0.12.2-RC4`  seems that `dispose()` on a connection created with
[code]
( even when used at start, without opened connections )
is completely broken, isDisposed return true, but the server accept & reply to incoming connection someone know if there is a workaround to use while the bug is fixed ? (I'm not enough expert in the library to implement myself )
thank you

[2019-07-08 11:36] mostroverkhov commented on #603
This is intended way of how reactor-netty handles server dispose - existing connections are not getting closed. Can be worked around with something like https://github.com/rsocket/rsocket-java/tree/bugfix/server-dispose

[2019-07-08 15:01] fvigotti commented on #603
Thanks  @mostroverkhov  but at the moment I'm not inclined to use a forked branch of dev in a production software, I was looking for something like a kill-switch for a netty/rsocket library to introduce somewhere,  I need to dispose connections mainly for my integration tests inside the app..
also as I said, no just **existing** connetions continue as nothing happened ( and the socket doesn't clos

[2019-07-12 13:23] rwinch opened #661 "RSocketInterceptor does not have access to metadataMimeType and dataMimeType"
# Summary

Payload provides the ability to access the metadata and the data, but users cannot read these values without knowing the corresponding mime types. Payload should contain the mime types so users can read the metadata and data values.

# Background

I'm working on RSocket & Spring Security support. I’d like to create an RSocketInterceptor to wrap the RSocket with security concerns (authen

[2019-07-15 12:17] aaronchenwei opened #663 "Tuple3ByteBuf issue"
We are currently have a rsocket use case that we are requesting with both metadata and data. Hence our metdata and data bytebuf is processed by `DataAndMetadataFlyweight` through `rsocket-core`.

We just noticed that rsocket server side received message with data overriding metadata section. We traced the issue to class `Tuple3ByteBuf`

https://github.com/rsocket/rsocket-java/blob/fa5f179986b56cf5

[2019-07-15 17:32] robertroeser commented on #663
Your metadata and data are length 1?

[2019-07-16 01:29] aaronchenwei commented on #663
@robertroeser

Thanks for asking the question.

Let me give you more information about our issue.

Our test payload is created for example like below. The payload is sent through client's setupPayload method call.
[code]
- data is "foobar" with length 6
- metadata is "bar" with length 3

`ByteBufPayload.create` would create `PooledUnSafeDirectByteBuf` for data and metadata separately.

`SetupFrame

[2019-07-16 10:39] dpfg opened #664 "Question: workarounds for missing cold resumption"
Hello everyone,

I've being evaluating RSocket for my next project where many clients will be connected to a couple of servers. RSocket seems quite nice: simple, but functional.
In my case servers can go down periodically so clients should automatically reconnect when server is up. Basically, I don't care about lost messages. What is critical is to resume transmission. If I understood correctly ou

[2019-07-16 17:41] mostroverkhov commented on #664
Hi, cold resumption is not available yet, and should be implemented in library - there is no way to workaround this. Cold resumption is trickier than warm one, given streams themselves can be cold (e.g. transferring large file as messages stream) or warm (e.g. notifications). Here, in addition to resuming with already sent items of stream, we need to restore `Responder` with proper state. same app

[2019-07-16 18:02] robertroeser commented on #664
@dpfg hi - are you asking if there is a way to automatically reconnect when your application restarts?

[2019-07-16 18:08] robertroeser commented on #661
We didn't do this before because there is only one time type for the data and metadata at connection time - it doesn't change. The payload should be always the be same mime-type to be handled properly. In the case where might need something else we added the composite metadata extension.

[2019-07-16 19:13] rwinch commented on #661
Thanks for the response  @robertroeser. I'm not sure I understand.

I'm confused because "this before" implies the reasoning for the past. However, "there is only one time type" implies there this is still true.

Perhaps I'm reading into it too much but I'm just curious if you are saying that it wasn't done before, but now it should be changed or that it still doesn't need to change?

[2019-07-16 19:15] robertroeser commented on #661
Cleaned up the sentence - We didn't do this before because there is only one type of mimetype for data and metadata at connection time - it doesn't change.

[2019-07-17 01:43] rwinch commented on #661
@robertroeser Thanks for the response. It's probably better that I state the problem rather than try to propose a solution.

I'm creating an `RSocketInterceptor` to handle security concerns. It needs to work as an interdependent component. It will need to parse the metadata to obtain the user credentials for authentication. It will also need to parse the metadata to obtain the route so it can perf

[2019-07-17 18:49] dpfg commented on #664
@robertroeser this is exactly what I was looking for. Thank you!

[2019-07-17 18:49] #664 closed

[2019-07-18 00:03] linux-china opened #665 "Add resumeToken() in ConnectionSetupPayload class"
Please add resumeEnabled() and resumeToken() in ConnectionSetupPayload class

[code]

resumeEnabled() and  resumeToken()  already implemented in  ConnectionSetupPayload class.

[code]

[2019-07-18 21:33] GusevAnton commented on #654
Sorry for late answer.
Now it balancing only two nodes from four. And after turning off two balanced nodes, others will not use. But it seem's base problem disappeared.

[2019-07-19 03:48] xiazuojie opened #666 "Stream ID overflow instead of re-use"
According to [spec](http://rsocket.io/docs/Protocol#stream-identifiers),
when "max Stream ID has been used (2^31-1), the Requester MAY re-use Stream IDs" by "wrapping and restarting at ID 1 for client, and ID 2 for server".

Current [Java implementation](https://github.com/rsocket/rsocket-java/blob/21c39bdaa60c6a916e3288048b268f2b756dd5e7/rsocket-core/src/main/java/io/rsocket/StreamIdSupplier.java

[2019-07-19 03:48] xiazuojie commented on #666
related to https://github.com/rsocket/rsocket-js/issues/40

[2019-07-19 05:19] robertroeser commented on #666
This should fix the issue - see #667

[2019-07-19 05:25] robertroeser commented on #663
Yes this is a problem - with the Tuple3ByteBuf - everything should more like ` System.arraycopy(threeBuffer, 0, results,  oneBuffer.length + twoBuffer.length, threeBuffer.length);`
Otherwise it won't start at the right offset.

[2019-07-22 21:03] jasphall opened #668 "ConnectionSetupPayload hasMetadata() returns true when requester doesn't send any metadata"
Hi,
I've got a problem with hasMetadata() method in ConnectionSetupPayload class. When a requester doesn't specify setup payload I would expect no metadata from the responder perspective. Instead when I call hasMetadata() on the responder side it returns true (despite there is no data).

Is that expected behavior or did I do something wrong?

I wrote some code to illustrate a problem. I have a Soc

[2019-07-25 11:23] rstoyanchev opened #670 "Upgrade to Reactor Dysprosium"
When trying to upgrade `spring-messaging` to `rsocket-core` version `1.0.0-RC1` from `0.12.2-RC4` I started getting consistent JVM crashes in all integration tests. This is with JDK `1.8.0_222-b10`.

I noticed if I build `rsocket-core` with Dysprosium and use that instead, then `spring-messaging` tests are back to green. I don't know why but given Reactor Dysprosium should be ready in time for RSo

[2019-07-25 17:41] robertroeser commented on #670
Sounds good - can you submit a pull request to upgrade RSocket to Dysprosium?

[2019-07-25 19:57] #670 closed

[2019-07-31 11:29] piotr-signalfx opened #675 "Simple TCP server-client test does not work in 0.12.2-RC3 and up"
Hi,

Starting from 0.12.2-RC3 the following simple test case does not work:
[code]

The output I get looks as follows:
[code]

[2019-07-31 12:10] mostroverkhov commented on #675
Hello @piotr-signalfx ,

just ran example against `0.12.2-RC4` tag and head of `develop` w/o any issues.
In provided snippet `RSocket.requestResponse` stream is not subscribed to -
[code]

so I modified It a bit

[code]
and again had no issues with above code versions.

If you are using `0.12.2-RC3`, I suggest to update to newer version, otherwise we need more info to reproduce this.

[2019-07-31 12:42] piotr-signalfx commented on #675
Changing the code snippet I provided as follows:
``` System.out.println(pong.block());```
Issue is still reproducible

[2019-07-31 12:43] piotr-signalfx commented on #675
With your version of the code:
[code]

[2019-07-31 12:44] piotr-signalfx commented on #675
1.0.0-RC1, same issue

[2019-07-31 12:54] piotr-signalfx commented on #675
For comparison 0.12.2-RC2:
[code]

[2019-07-31 17:48] piotr-signalfx commented on #675
Here is my test case: https://github.com/piotr-signalfx/rsocket-test-case

[2019-08-01 05:41] mostroverkhov commented on #675
@piotr-signalfx spring boot starter pulls in outdated `reactor-netty` dependencies: changing `2.1.3.RELEASE` to `2.1.6.RELEASE` should fix reproducer. Importing `reactor-netty` BOM of at least `Californium-SR8` should help also.

[2019-08-01 07:27] piotr-signalfx commented on #675
Thank you for a prompt response. I can confirm that bumping spring-boot to 2.1.6.RELEASE resolves the issue. Thanks a lot for your help.

[2019-08-01 07:27] #675 closed

[2019-08-01 18:02] #668 closed

[2019-08-01 18:05] #665 closed

[2019-08-02 02:50] aaronchenwei commented on #663
Verified with version `1.0.0-RC2`. The issue mentioned here has been resolved.

Thanks a lot for your quick fix. @robertroeser

[2019-08-02 11:39] rstoyanchev commented on #661
@rwinch can you also update the title to reflect the problem?

[2019-08-02 11:40] rstoyanchev commented on #661
I've sent https://github.com/rsocket/rsocket-java/pull/676 with a proposal to address this.

In addition, based on the way `RSocketInterceptor` is applied, we have found it is not possible to pass security context down the processing chain through the Reactor Context, which is a major issue for security. I believe the proposal will resolve that problem too because decorating `SocketAcceptor` allow

[2019-08-02 17:24] #663 closed

[2019-08-02 17:24] robertroeser commented on #666
fixed with release 1.0 RC2

[2019-08-02 17:24] #666 closed

[2019-08-04 06:54] SerCeMan opened #679 "AssertionError occurred during closing rsocket"
Hi, RSocket team!

I noticed that some of my tests fail with this error periodically during clean-up. Unfortunately, I don't have a stable test case to reproduce this. As far as I'm aware, all of the interactions with rsocket are finished by the time I call `dispose()`. Do you have any advice on how I can debug this?

[code]

[2019-08-05 10:28] OlegDokuka commented on #679
Seem to be a bug! Will take a look at that. Thanks for the reporting.

[2019-08-06 12:44] yehohanan7 commented on #540
@joshfix I have the same problem, did you manage to get it working? could you please post here the snippet of your final code

[2019-08-06 13:50] joshfix commented on #540
@yehohanan7 My brain tends to purge after about 2 weeks of not working on something :)  I do believe things were working as expected using `LoadBalancedRSocketMono` as of v0.11.15.  I responded privately with some code examples.

[2019-08-19 11:43] rwinch commented on #661
Thanks for the PR @rstoyanchev! gh-676 now makes it easy to access the mimetypes through the use of the plugin mechanisms.

[2019-08-19 11:43] #661 closed

[2019-08-28 18:32] rwinch opened #686 "REJECTED_SETUP sometimes produces Exceptions$ReactiveException instead of RejectedSetupException"
Sometimes when an exception occurs in `SocketAcceptor` the Exception is `RejectedSetupException` (expected). However, it appears about 10% of the time the error is `Exceptions$ReactiveException: java.lang.Throwable: closed connection` (not expected). A complete stacktrace can be found below:

[code]

A test to reproduce the issue can be found below:

[code]

[2019-09-02 01:57] linux-china opened #688 "Update rsocket-bom packaging to pom"
Now rsocket-bom is jar type, not pom type on http://central.maven.org/maven2/io/rsocket/rsocket-bom/1.0.0-RC3/

The following dependency declaration under dependencyManagement does not work.

[code]

[2019-09-02 09:48] OlegDokuka commented on #688
@linux-china Yeah. I noticed that. Just fixed in RC4 snapshot. Should be better

[2019-09-02 09:48] OlegDokuka commented on #688
https://oss.jfrog.org/oss-snapshot-local/io/rsocket/rsocket-bom/1.0.0-RC4-SNAPSHOT/rsocket-bom-1.0.0-RC4-20190902.064842-5.pom

[2019-09-02 10:09] OlegDokuka commented on #688
fixed in #55b847b

[2019-09-02 10:09] #688 closed

[2019-09-03 02:09] Liyixin95 opened #692 "There is no need to return a long in TupleXByteBuf.calculateRelativeIndex"
The values right of the equal are `int` ,so the result will be `int`  if there wasn't any cast.Just like the code below :

The `oneReadIndex ` and `index` are both `int`, so the `relativeIndex ` will be `int` too,but `relativeIndex ` was defined as a `long` and the return value was a `long `too.The right code would be :

But I read all the call of this method.Both of them cast the return value to

[2019-09-15 09:15] dsibilio commented on #602
Was this issue ever verified? Does is still stand?

I'm working on an RSocket demo project (https://github.com/dsibilio/rsocket-demo) with a Java receiver and a Js client with WebSocket as transport.
Whenever I replace the app.js file to implement resumability (following the example here: https://github.com/rsocket/rsocket-js/blob/master/packages/rsocket-examples/src/ResumeExample.js), I can't con

[2019-09-15 23:46] robertroeser commented on #602
@mostroverkhov can you take a look as you are familiar this

[2019-09-16 01:09] OlegDokuka commented on #602
I guess the fix was merged into the muster but the muster was never realised since that time

[2019-09-16 07:09] robertroeser commented on #602
@OlegDokuka do we need a new release of rs-js then? or do you mean rs-java?

[2019-09-16 07:14] mostroverkhov commented on #602
This needs new release which would also include other feature for which there is pending request change in RSocket spec. RSocket-js build does not seem to publish snapshot binaries, so demo should reference RSocket-js head of `master`.

[2019-09-16 07:27] robertroeser commented on #602
@mostroverkhov rsocket-java?

[2019-09-16 07:37] mostroverkhov commented on #602
Release of rsocket-js

[2019-09-17 23:15] maxim-bandurko-lsvt opened #693 "Maven: Could not resolve dependencies for io.rsocket:rsocket-core:jar:1.0.0-RC3"
Hello.

There is an issue with dependencies at Maven:

SEVERE: Failed to execute goal on project: Could not resolve dependencies for project. Failed to collect dependencies at io.rsocket:rsocket-core:jar:1.0.0-RC3: Failed to read artifact descriptor for io.rsocket:rsocket-core:jar:1.0.0-RC3: Failure to find io.projectreactor:reactor-bom:pom:Dysprosium-M3 in https://repo.maven.apache.org/maven2 was

[2019-09-17 23:22] robertroeser commented on #693
Hi @maxim-bandurko-lsvt

Glad to help - where are you getting this error? Is it  an error in a local build?

Thanks,
Robert

[2019-09-17 23:51] maxim-bandurko-lsvt commented on #693
Hello @robertroeser

Error comes when trying to copy all dependencies.  Like:
mvn dependency:copy-dependencies

It is because POM for reactor-bom-Dysprosium-M3 release not exists any more and is still inside dependency.

Downloading from central: https://repo.maven.apache.org/maven2/io/projectreactor/reactor-bom/Dysprosium-M3/reactor-bom-Dysprosium-M3.pom

Thanks!

[2019-09-18 00:08] robertroeser commented on #693
@smaldini maybe you can help? This is a milestone release I believe so your might need to add repository for the build to work.

[2019-09-18 01:45] spencergibb commented on #693
Yes, https://repo.spring.io/milestone

[2019-09-18 02:32] linux-china commented on #693
@maxim-bandurko-lsvt    please add following on your pom.xml

[code]

[2019-09-18 15:26] maxim-bandurko-lsvt commented on #693
@linux-china Worked well, thank you!

[2019-09-18 15:26] #693 closed

[2019-09-23 13:16] kkojot opened #694 "Could not find artifact io.projectreactor:reactor-bom:pom:Dysprosium-M3 in central"
I've created a new maven project with the following dependencies:

[code]
and I can't build it, because it gives me an error:
[code]
As the error says, it looks like the `Dysprosium-M3` artifact is missing in the central repository.
https://search.maven.org/search?q=g:io.projectreactor%20AND%20a:reactor-bom&core=gav

Do I need to add some other dependency to run the project?

[2019-09-23 13:19] mostroverkhov commented on #694
This needs spring milestones repository until latest reactor-core is released https://github.com/rsocket/rsocket-java/issues/693

[2019-09-23 13:23] kkojot commented on #694
Thank you. As said in #693 we need to add in pom.xml

[code]
 and it works.

[2019-09-23 13:23] #694 closed

[2019-09-24 07:23] hban opened #695 "NPE in client if server is terminated"
I'm testing with echo example, modified to use TCP transport. Server is ran in one process, and client in another, continuously sending requests.

If I forcefully kill the server process, client will throw NPE.

[code]

Nothing actually break (AFAICS), but this does feel like a bug to me.

I can create a simple project to reproduce this if needed.

[2019-09-26 21:03] jeisea opened #700 "Unhandled pong from IE11 causes connection to die"
Issue: IE11 sends a pong every 30 seconds which is unhandled and eventually the application tries to decode the pong frame and fails. This kills the connection from ie11 to the server.

Simple demo app to reproduce the issue:
https://github.com/jeisea/violet-demo
Node web app.

Spring boot rsocket server in the zip.

[2019-09-27 13:03] alek-sys commented on #540
@joshfix thanks for digging into this. Would you be able to share a working example please? I'm playing with different options to use `LoadBalancedRSocketMono`, but still can't get to re-connect automatically.

[2019-09-27 18:34] violetagg commented on #700
This is the exception that appears when I reproduce the issue

[code]

It goes through this code
https://github.com/rsocket/rsocket-java/blob/develop/rsocket-transport-netty/src/main/java/io/rsocket/transport/netty/server/WebsocketRouteTransport.java#L80
And such handler is not added to the pipeline
https://github.com/rsocket/rsocket-java/blob/develop/rsocket-transport-netty/src/main/java/io/rsock

[2019-10-14 15:37] mmihael opened #705 "How to detect termination from server on javascript browser client?"
I'm using java rsocket lib for server and javascript rsocket browser lib for client.

Now, what I want to understand, is how to terminate the connection on the server during the connection setup request.

I have an implementation of SocketAcceptor interface that will check connection setup payload for some token to validate the connection.

If that token is invalid I want to terminate the connecti

[2019-10-14 15:58] OlegDokuka commented on #705
@mmihael Hi Mihael! Try simply return `Mono.error(new SomeExceptionHere())` which basically terminate the connection sending an error frame to a client

[2019-10-14 16:42] OlegDokuka commented on #705
I'm closing this ticket but feel free to ping me in case of anything

[2019-10-14 16:42] #705 closed

[2019-10-16 17:41] #679 closed

[2019-10-16 17:41] #686 closed

[2019-10-16 18:01] mostroverkhov commented on #695
closed by #706

[2019-10-16 18:01] #695 closed

[2019-10-22 23:55] #700 closed

[2019-10-23 04:54] jeisea commented on #700
Awesome. Thanks!

[2019-10-24 05:49] shazin opened #708 "There is no support for UDP in rsocket-netty-transport"
Currently there is only support for TCP and Websocket for RSocket. It is very good to have UDP support as well because many applications use this protocol.

[2019-10-24 17:48] linux-china commented on #708
@shazin   you can use RSocket with Aeron.  https://github.com/scalecube/rsocket-transport-aeron Some APIs change from RSocket and Aeron, and it can not be compiled.  I have a modified version https://github.com/linux-china/rsocket-transport-aeron   I think after RSocket 1.0, and Aeron support will be released soon.

[2019-11-06 03:01] Zeymo opened #711 "Dynamic MTU"
In different net-situation usually want different MTU. In wifi or 4G we want set MTU 10 * 1024 and in weakness 3G or 2G set MTU to 1024 . It's relate to MTU level or Application-chunk-level ？If MTU ,  how to adjust MTU in Runtime

[2019-11-06 10:28] Zeymo opened #712 "No keep-alive acks in the process of receiving data"
use requestChannel to upload large file  in a weak network environment which **upstream package 50% is lost** , no keep-alive acks in the process of receiving data when using 1.0.0-RC5

resume is disabled ,  when enable resume also throw Exception cos's missmatch position

server log
[code]

cilent log
[code]

client code
[code]

server code
[code]

[2019-11-06 11:21] OlegDokuka commented on #711
He @Zeymo! Thanks for asking the question!

I do not think it possible right now, and I think it does not make any sense. Let me explain why:

Every time your network type has changed (e.g., 2g->3g->4g), under the hood, you are losing your underlying connection (correct me if I'm wrong). It means then you would need to reestablish your, for instance, TCP connection (which could be done automagical

[2019-11-06 11:44] Zeymo commented on #712
Frame => Stream ID: 0 Type: KEEPALIVE Flags: 0b10000000 Length: 14

Flag: 0b10000000 is correct value ?

isn't it ignore flag?
[code]

[2019-11-06 11:46] OlegDokuka commented on #711
Also, in the context of RSocket MTU means the maximum size of `ByteBuf` sent over the wire ( it means that your payload is going to be split into a several `ByteBuf`s and flushed out to the network )

[2019-11-06 11:46] OlegDokuka commented on #711
I'm closing this issue for now. Feel free to reopen if you got more questions!

Regards,
Oleh

[2019-11-06 11:46] #711 closed

[2019-11-06 11:48] OlegDokuka commented on #708
Hi @shazin!

Due to specification, RSocket should be run on top of **reliable** transport, which means that UDP can not work there well! Therefore there RSocket-Aeron (mentioned by @linux-china ) which can help in improving the apps' performance!

I'm closing this issue for now but feel free to let us know if you got anything else related!

Regards,
Oleh

[2019-11-06 11:48] #708 closed

[2019-11-06 11:59] Zeymo commented on #711
thx for ur time

[2019-11-06 12:44] Zeymo commented on #712
Frame => Stream ID: 0 Type: KEEPALIVE Flags: 0b10000000 Length: 14

this KEEPALIVE is respond to client requester or send KEEPALIVE as requester ?

I can't see any receiving KEEPALIVE with 0b10000000

[2019-11-06 12:53] mmaszkie opened #713 "rsocket-load-balancer first request always ends up with error"
Hi,
I have a problem with rsocket-load-balancer. I have one instance of client application and 2 instances of server application. They are communicating via RSocket (request/response interaction model) using rsocket-load-balancer on the client side. Unfortunately first request always ends up with an error on the client side.

Scenario:
- I start server applications and then client application,
- d

[2019-11-07 05:43] Zeymo commented on #712
how to disable KEEPALIVE ?  IMON data is transforming mean connection is not idle so  KEEPALIVE is not in-need

[2019-11-08 08:57] nicpuze commented on #713
I have a similar problem with you. When the client side starts up, it finds that LoadBalancedRSocketMono#activeSockets is sometimes unavailable, so I want to get availability through LoadBalancedRSocketMono#availability()  and wait for WeightedSocket to be generated asynchronously, but sometimes, availability() finds null elements in activeSockets and throws java.lang.NullPointerException

[2019-11-11 16:49] franzbecker opened #714 "rsocket-bom includes unreleased artifacts"
The BOM published by this project (https://search.maven.org/artifact/io.rsocket/rsocket-bom/1.0.0-RC5/pom) includes unpublished artifacts:

[code]

I think this should be removed. This is currently a problem for us because we apply everything that is there in the Spring BOM to a dependency set in order to scan for security vulnerabilities.

[2019-11-12 20:52] pckeyan opened #716 "Load Balancer not refreshing newly added nodes."
I am working on a use case to bring up server nodes that gets added to `LoadBalancedRSocketMono`. Server nodes when they come up or goes down will register itself to a collection which is streamed to `LoadBalancedRSocketMono`. But `LoadBalancedRSocketMono` works only on the first registered server node when the `create` method was called. Below is the sample snippet. I was raising this question in

[2019-11-13 05:30] ronenhamias commented on #653
@CodeMason
as part of our research to implement reactor aeron we where also interested to implement rsocket aeron. https://github.com/scalecube/rsocket-transport-aeron

one issue we found with integrating Rsocket with Aeron is the use of netty byte buffers currently there is no way in rsocket implementation to introduce an alternative byte buffer.
this restriction forces to copy the byte buffers f

[2019-11-13 06:43] #602 closed

[2019-11-13 06:48] OlegDokuka commented on #653
Hey @ronenhamias!

The main reason for coping with BB is to have the power of refcounting and subsequent ability to deal with multithreading (which is less possible for Aeron buffers (correct me if I'm wrong)). Thus, I'm curious how do you solve that in rector-aeron and how do you cope with multithreading, the asynchronous reactor in your case?

Regards,
Oleh

[2019-11-13 18:39] pckeyan opened #717 "Load Testing randomly throws UnsupportedOperationException"
I am performing a load test on a LoadBalancer with two server nodes. Randomly I am finding the below exception: Please let me know if I am performing anything wrong here.

[code]

Sample Client Code:

[code]
Server Code below:
[code]
I call the Client using GNU Parallel utility tool:

[code]

[2019-11-14 04:20] ronenhamias commented on #653
Hey @OlegDokuka! :)

the reasons are clear and netty is great probably for most of use cases. netty BB is a powerful thing. on the other hand aeron does not know anything about netty BB so if someone see a need/have an aeron use-case then the restriction of using netty BB with argona BB causes **additional copy** just for the sake of fitting aeron to rsocket abstractions. in such case this someone

[2019-11-14 15:29] #714 closed

[2019-11-19 14:43] OlegDokuka commented on #717
Hello, @pckeyan!

Thanks for opening the issue!
Can you please provide a version of RSocket as well as a demo repository/project/gist where you have a full version of the project which reproduces your issue.

So far, the given stacktrace is useless cuz it does not provide the cause of it and the source you have provided does not explain how you configure RSocket Server/Client.

Regards,
Oleh

[2019-11-19 14:44] OlegDokuka commented on #712
@Zeymo can you please verify whether the #718 fixes your problem.

Regards,
Oleh

[2019-11-19 18:46] pckeyan commented on #717
Hello @OlegDokuka,

I am using RSocket 1.0.0-RC5. I have updated the question with Sample Client and Server Code along with a bash script to load test. Please let me know if you need any.

Regards
Karthik

[2019-11-19 23:32] codependent opened #719 "Document use of TLS with RSocket"
Sample project available on Github: https://github.com/codependent/rsocket-tls/

The full context of this problem can be found on [StackOverflow](https://stackoverflow.com/questions/58944152/rsocket-not-working-when-secured-with-tls-server-java-lang-unsupportedoperatio).

The problem is that without TLS on the server/client, the communication works perfectly, but after securing them it fails.

Her

[2019-11-20 01:22] Zeymo commented on #712
woah, I will try later this week

[2019-11-20 03:53] linux-china commented on #719
* Generate rsocket.p12 keystore file.  you can use mkcert to generate  rsocket.p12
[code]

* Put rsocket.p12 under the resources directory

* Add following dependency:

[code]

* TCP SSL Uri handler:   TcpSslUriHandler.java as following:

[code]

* create  UriHandler SPI file   "META-INF/services/io.rsocket.uri.UriHandler" with following content

[code]

*  write your code as normal

[code]

[2019-11-20 17:01] pckeyan commented on #717
All I can achieve is blocking calls, Can you please advise how I can do non-blocking to achieve high throughput?

[2019-11-20 17:09] pckeyan commented on #719
Try sending the Client Cert as below for 2 way SSL; it works for me:

[code]

[2019-11-20 17:21] OlegDokuka commented on #717
@pckeyan looking into your case

[2019-11-20 21:31] codependent commented on #719
Hi @pckeyan In my case I’d rather have only server authentication. The point is in my sample the secure TLS channel seems to be correctly stablished, the client request reaches the acceptor but for some reason it ends up throwing that exception...

[2019-11-21 11:54] #581 closed

[2019-11-21 11:54] #597 closed

[2019-11-22 09:20] Zeymo commented on #712
@OlegDokuka I try this patch but same error occur again

	at io.rsocket.RSocketRequester.lambda$tryTerminateOnKeepAlive$9(RSocketRequester.java:539)
	at io.rsocket.RSocketRequester.tryTerminate(RSocketRequester.java:552)
	at io.rsocket.RSocketRequester.tryTerminateOnKeepAlive(RSocketRequester.java:536)
	at io.rsocket.keepalive.KeepAliveSupport.tryTimeout(KeepAliveSupport.java:110)
	at io.rsocket.k

[2019-11-22 09:51] Zeymo commented on #712
@OlegDokuka I try this patch and same error occured again

[2019-11-25 09:14] OlegDokuka commented on #719
@codependent working on the example for you

[2019-11-25 10:09] codependent commented on #719
@OlegDokuka Thank you!!

[2019-11-25 18:37] pckeyan commented on #719
@codependent I tried without client certs but at least it expects trustmanager to be configured or OS to present the default trustmanger. I am not sure how we set the DefaultSSLFactory settings to netty via RSocket. @OlegDokuka might have an answer. Below code works without client certs:

[code]
Server should not enable ClientAuth.

[2019-11-26 07:49] codependent commented on #719
I've updated the sample with @pckeyan latest suggestion. The use of the trustmanager is equivalent to setting this on the client, but I think the tm is a better approach:

[code]

In any case, I keep getting the same errors :S

[2019-11-26 12:15] OlegDokuka commented on #712
Alright. Found the issue, working on the fix

[2019-11-26 14:34] OlegDokuka commented on #717
@pckeyan was not able to reproduce the issue locally. Here is the project under the test - https://github.com/OlegDokuka/rsocket-issue-717.

Feel free to share more insights.

Also, a little bit on the LoadBalance RSocket behavior:

Once you try to select an RSoceket for a call, there is a chance that the **slowest** rsocket will be closed and recreated again (https://github.com/rsocket/rsocket-ja

[2019-11-26 19:34] pckeyan commented on #717
@OlegDokuka Thanks and Appreciate your time. I configured my application like your sample. I use the TLS - two way SSL. If I make even the count to 2, it fails. It works only for one call. I am getting the below error. Please advise.
[code]

[2019-11-26 19:44] OlegDokuka commented on #717
Oh yeah) That was not mentioned in the issue) @pckeyan, can you please share the SSL setup you have?

Regards,
Oleh

[2019-11-26 20:02] pckeyan commented on #717
@OlegDokuka My apologies, I think I found the problem, One of my connections is using a block() which I removed seems to be working. Let me test for large numbers and will update you.

[2019-11-26 20:45] pckeyan commented on #717
@OlegDokuka When I bump up to 5000 with or without SSL, I am getting the `Connection Reset by Peer` exception. Please find the repo for my exact work I am using to test this without SSL. Please help me how we can fix it.

https://github.com/pckeyan/rsocket-model.git
https://github.com/pckeyan/rsocket-load-balancer.git
https://github.com/pckeyan/rsocket-sample-server.git
https://github.com/pckeyan/

[2019-11-26 21:15] OlegDokuka commented on #717
@pckeyan, Connection Reset by Peer is expected behavior. As I said earlier, LoadBalancedRSocket closes the slowest RSocket when it does not meet the setup SLA -> https://github.com/rsocket/rsocket-java/blob/develop/rsocket-load-balancer/src/main/java/io/rsocket/client/LoadBalancedRSocketMono.java#L359.

Feel free to tune params using the following method https://github.com/rsocket/rsocket-java/blo

[2019-11-28 12:29] bogdansolga opened #720 "RSocket vs HTTP performance"
I have done some research on the performance of RSocket vs HTTP for a service-to-service communication of [FHIR](http://hl7.org/implement/standards/fhir/) resources. According to the initial results, the RSocket performance seems to be lower (or, at most, equal) to the one provided by HTTP (using REST).

The full details of the research and the performance issues are thoroughly detailed in [this](

[2019-11-28 12:47] OlegDokuka commented on #720
Hello, @bogdansolga!

**Briefly looking into the configuration, I may immediately say that the benchmark is inappropriately formed and obviously will give an incorrect result.**

What I can say directly is that at this [point]( https://github.com/bogdansolga/rsocket-performance-testing/blob/master/requester/src/main/java/com/example/rsocket/requester/service/AbstractCommunicationService.java#L53)

[2019-11-28 12:59] bogdansolga commented on #720
Thank you _very_ much for your comments and help, @OlegDokuka!

Sure, I will close the StackOverflow post and I will kindly ask you to continue the discussions here. I will also add the `.cache()` to the config and see if there are noticeable results.

[2019-11-28 13:04] OlegDokuka commented on #720
@bogdansolga
NP. Let me know when you have any updates,

Regards,
Oleh

[2019-11-28 13:12] OlegDokuka commented on #717
@pckeyan
I'm closing the issue.

Fill free to reopen it once you observe any related issues

Regards,
Oleh

[2019-11-28 13:12] #717 closed

[2019-11-28 13:51] bogdansolga commented on #720
@OlegDokuka - I have added the caching of the `Mono<RSocketRequester>` and the performance seems to have improved a little, as you righteously indicated. However, with the current setup, the RSocket performance seems to be just marginally lower than the HTTP performance.

Here are some numbers - the averages of 20 service-to-service calls, each one performed for various payload sizes (the `stringS

[2019-11-28 14:13] OlegDokuka commented on #720
Alright, let me check out the code and play with it a little more!

I will be back to you later today or tomorow

[2019-11-28 14:20] bogdansolga commented on #720
@OlegDokuka - here's an update and a good news: after having a look in your project, I have replaced the String serializing and deserializing with the byte `SerializationUtils.serialize()` and `SerializationUtils.deserialize()` and the numbers have slightly improved:

[code]

I will further research the code and tweak the `OutputStream` sizes, hopefully I can further improve the numbers. Please le

[2019-11-28 14:22] OlegDokuka commented on #720
I mean, looking at the code, I still doubt it is correct since most of the time is spent on the serialization/deserialization. I will play with your code to ensure we can measure the performance of the communication and not the performance of other things

[2019-11-28 14:28] bogdansolga commented on #720
I am trying to measure the times spent in the communication of a big payload between two services, so that we can conclude if RSocket is better suited as a communication protocol in the context of a large distributed system, which entails a lot of service-to-service communication of [FHIR](http://hl7.org/implement/standards/fhir/) resources.

The overall intent - find out if RSocket provides huge

[2019-11-28 15:37] rstoyanchev commented on #720
@bogdansolga,

It's not clear what kind of hardware/infrastructure are you running these benchmarks on, but that is a very important aspect of any benchmark. Even if all things are equal, running client and server and/or multiple processes on a single machine can give false results.

You're configured for "zero copy" (direct memory) but your `Decoder` implementations do not release data buffers. T

[2019-11-28 19:56] bogdansolga commented on #720
@rstoyanchev - thank you _very_ much for your advice / pointers. I was aware about some of them, I wasn't aware about the others.

A few comments and further questions from my side:
- regarding the infrastructure that the actual code will run in - it will run in a Cloud Foundry environment, where the requester and responder will be implemented by different parties
- regarding

  - I wasn't aware t

[2019-11-29 02:49] pckeyan commented on #717
@OlegDokuka Can you please let me know what are the lower and upper bound values and how it is used for me to configure? I am not able to find any documentation except code level doc. Please advise for my scenario.

[2019-12-05 16:16] pckeyan opened #725 "Document use of LoadBalancedRSocketMono parameters"
This question related to https://github.com/rsocket/rsocket-java/issues/717 and @OlegDokuka recommendation.

I am using the LoadBalancedRSocketMono to load balance my servers. I use to get the `Connection Reset by Peer` exception. Based on recommendation, I am planning to play with the below parameters, but I am not able to find document for values, its significance and low/upper limits etc. I do

[2019-12-05 19:22] pckeyan commented on #717
@OlegDokuka After adding Two Way SSL to the sample you provided https://github.com/OlegDokuka/rsocket-issue-717. Calls failed in block(). I changed the client as below:
[code]
Now I get response back only if the `CALLS_COUNT=1`. If I increase to 10, I see failures of `io.netty.handler.codec.DecoderException: java.lang.IllegalArgumentException: promise already done: DefaultChannelPromise@869d7cd(fa

[2019-12-05 19:52] OlegDokuka commented on #717
@pckeyan let me check that quicly

[2019-12-06 16:27] pckeyan commented on #717
@OlegDokuka Seems like non-blocking calls is having the issue of establishing the SSL handshake. For my use case it is a blocker. Can we reopen this issue?

[2019-12-09 17:23] pckeyan opened #729 "TLS start failing for non-blocking calls"
I am working on a use case similar to https://github.com/OlegDokuka/rsocket-issue-717. This example works fine for non-SSL. Once I introduce two way SSL, calls start failing on or after `CALLS_COUNT=7` with reference to code. Two Way SSL works fine for blocking calls which supports throughput of ~3000 tps. I am aiming for more as this number can be achieved using non-blocking HTTP calls. I am susp

[2019-12-11 00:11] vdshb opened #730 "RSocketFacrory.start() returns Mono<Rsocket> which is reconnect on each usage"
RSocketFacrory.start() returns Mono<Rsocket> which returns new RSocket instance with new connection on each usage.

Shouldn't it keep established connection and return it whenever possible until connection closed?

E.g. I have simple spring client with rSocket and controller:

[code]

[code]

With this approach rSocket creates new connection for each request and doesn't uses multiple streams insid

[2019-12-11 08:29] OlegDokuka commented on #730
Personally, I would recommend caching the created `RSocket` instance like the following:

[code]

However, such usage has its own downside. For example, if your connection gets closed for any reason, then you will not be able to reconnect using the given `Mono` anymore.

Right now I'm working on a version of `ReaconnectingRSocket` which will take care of such things (#685), but it is not here yet,

[2019-12-11 21:53] vdshb commented on #730
Thank you for your response!

With this info I've manage to make a hacky but sustainable Spring configuration which is reconnected only when previous connection is lost.

Maybe someone finds it useful until official solution released:
[code]

[2019-12-11 21:53] #730 closed

[2019-12-17 09:10] linux-china commented on #576
@robertroeser  if possible to have draft design for frame extension.  for example,  an interface for Frame handler and payload handler functional interface specification.

[code]

[code]

[2019-12-17 13:28] OlegDokuka commented on #576
@linux-china I will take a look at what could be done

[2019-12-19 10:05] yschimke commented on #576
One handy pattern from the Scrooge Thrift compiler, when it doesn't understand elements in a thrift frame, it still allows pass through.  So for example a thrift struct gets a new field added, or a new enum value is added which is unknown to the server based on it's deployed thrift IDL.  It is still allowed to introspect that element and pass through when the server is a proxy for example.

Not su

[2019-12-19 11:14] OlegDokuka commented on #576
I guess it would work only in case of proxying on the level of the state machine (frame handler which interprets all the frames)

[2019-12-24 09:22] jg513 opened #732 "Tuple2ByteBuf getBytes maybe use wrong index?"
https://github.com/rsocket/rsocket-java/blob/c6b3d64f9b5e8db7e6203d9518739671739db657/rsocket-core/src/main/java/io/rsocket/buffer/Tuple2ByteBuf.java#L165

[code]

The last line `index` should be `dstIndex`?

[2019-12-24 11:26] OlegDokuka commented on #732
Hey @jg513!

First of all, thank you for mentioning that.
I have already addressed that issue in #731.
Feel free to check the functionality from that brunch.

Regards,
Oleh

[2019-12-27 20:21] codependent commented on #719
Hi @OlegDokuka, could you have a look at this?

[2020-01-03 20:18] laxika commented on #712
@OlegDokuka Any news about the fix. I got the same issue, unfortunately. :S

[2020-01-09 12:56] nikitsenka commented on #720
Would be great to see some official Webclient vs RSocket performance comparison report or tests examples which can be used as a good use case for how to use RSocket properly to get real benefits.

[2020-01-13 12:40] segabriel opened #733 "ZERO_COPY and memory leaks"
Hello guys!
I got started updating to the latest rsokcet version and try to use `ZERO_COPY`. But time to time I catch memory leaks.

Here is my gists example --> https://gist.github.com/segabriel/b8a6a189ff89a9560a279cd97cc4a8fe

I used the following versions:

[code]

<details>

<summary>An example of exception:</summary>

[code]

</details>

[2020-01-15 11:19] EvanGuoBin opened #734 "RSocket server randomly throws java.lang.IllegalArgumentException when using ssl"
Hi, I’m using spring messaging and ssl handler has been enabled. However, the server randomly throws exception below:
[code]

It has bothered me for a long time. When I debug into the source code, I just found that:
![image](https://user-images.githubusercontent.com/42926958/72429218-65db1700-37ca-11ea-874e-822808f068dd.png)

When `toReturn` is null, `composeFirst` will be invoked and `toReturn` w

[2020-01-16 09:56] NizGh commented on #656
What was the solution? thanks.

[2020-01-16 11:14] NizGh opened #735 "Ability to intercept requests and access channel information such as remote address"
As in webflux we can retrieve the remote address from serverWebExchange.getRequest().getRemoteAddress(), what are alternatives to extract connection/channel information in rsocket?

[2020-01-17 17:19] linux-china commented on #735
Now  you can get the remote address by tricky way.

* TcpDuplexConnection has a  connection attribute with reactor.netty.Connection type, and you can use   connection.channel().remoteAddress() to get remote address
* Write a DuplexConnectionInterceptor plugin on server to intercept DuplexConnection,  if  duplexConnection is instance of WebsocketDuplexConnection or TcpDuplexConnection, and you can

[2020-01-29 11:57] bpetrovbg opened #737 "RSocket resume session/stream after connection is lost"
I am using RSocket channel and trying to implement resume functionality, in case the connection to the server is lost. After trying different combinations of resume(), resumeSessionDuration(), resumeStreamTimeout() and resumeCleanupOnKeepAlive() /documentation: https://javadoc.io/static/io.rsocket/rsocket-core/1.0.0-RC3/io/rsocket/RSocketFactory.ServerRSocketFactory.html#resume--/ on the server an

[2020-02-03 19:21] ebfhub commented on #653
I might be wrong, but I think you can do this.
Note that the UnsafeBuffer should belong to the thread calling offer(), and can be reused after offer() returns.

[code]

[2020-02-05 21:56] mostroverkhov commented on #734
Library is using buggy custom `TupleByteBuf` implementation for outgoing frames, and unfortunately there is no option switch back to `CompositeByteBuf`. Any version after 0.12.2-RC4 until at least 1.0.0-RC5 is affected.

[2020-02-05 22:04] mostroverkhov commented on #733
Logs show buffers are leaked on the receiving side, and there is race between cancellation (`blockFirst`) and received stream on client so messages could be dropped by Reactor - maybe try release them with
`Hooks.onNextDropped(ReferenceCountUtil::safeRelease);`

[2020-02-05 22:15] mostroverkhov commented on #737
@bpetrovbg there is runnable [example](https://github.com/rsocket/rsocket-java/blob/develop/rsocket-examples/src/main/java/io/rsocket/examples/transport/tcp/resume/ResumeFileTransfer.java) that can be use das starting point. Generally you should enable resume and configure session duration (`RSocketFactory.resume(), resumeSessionDuration()`) on both sides, and set resume strategy on client.

[2020-02-06 00:04] mostroverkhov commented on #733
(noticed intent was to update *actual* software)
For reasons outlined at the bottom of https://github.com/rsocket/rsocket-java/pull/739 It is better to stick with 0.12.2-RC4 (unless you want to hate your life) until next version is released and known to be stable.

[2020-02-06 08:18] OlegDokuka commented on #733
@segabriel I have tried to run this sample but the issue was not reproducing on my machine™️. I suspect it is indeed somewhere in the hooks

[2020-02-06 10:24] OlegDokuka commented on #734
Yes. I have to admit that there is such a noisy bug. The idea behind TuppleBB is to reduce number of allocation which gives about 10-15 percent performance win. I'm going to try to fix that but this week but for now, going to step back to compositebytebuf just to fix that bug

[2020-02-07 11:30] OlegDokuka commented on #653
@ebfhub do you have any samples of usage of mentioned BB?

I'm really curious to see how it is used in any project to fully understand whether we can adopt that as well with no subsequent issues related to asynchronous propagation of the given instance

Regards,
Oleh

[2020-02-07 15:50] pckeyan opened #740 "GA RoadMap"
Team,

We are looking to use RSocket in production for which it should be a GA. Can you please let us know the roadmap to GA? And will the SSL issues opened here will be solved before? Please advise.

Thank You
Karthik

[2020-02-07 15:59] OlegDokuka commented on #740
Hey!

We are about to release the spec. It will take a couple of weeks to amend the latest changes.
It means, that we are working on bugfixes and will be doing a release of RSocket-Java near the same time as spec has out.

From the feature-side, what is left right now is to finalize couple of issues related to the spec changes and fix bugs related to fragmentation.

Apart, work is going on other i

[2020-02-07 16:05] pckeyan commented on #740
Thank You @OlegDokuka. I will watch this space and following you and your team on SM.

Please highlight if you want me to follow specifically related to rsocket-java. We plan to stick to rscoket-java and not rpc. Thanks again for your help.

Regards
Karthik

[2020-02-07 16:23] OlegDokuka commented on #740
1) Fragmentation does not work is it should work
2) We have an issue with TupleByteBuf so that is the root cause of all SSL issues and looks like I have to rollback to CompositeByteBuf again but it is a loss in performance (about 10-15%)
3) Reworking stream call to state-machine as it is done in CPP (https://github.com/rsocket/rsocket-cpp/tree/master/rsocket/statemachine)
4) Finalizing Reconnectin

[2020-02-07 16:50] whyoleg commented on #740
So, when it will be ready, how you will know, that it will be aligned with spec?
I've opened that question long time ago here [TCK](https://github.com/rsocket/rsocket/issues/274).
I received, that you @OlegDokuka are working on something. Is there some progress? May be something already exists, but private?
I've asking, because of my own kotlin(multiplatform in future) implementation [here](https:

[2020-02-07 17:37] OlegDokuka commented on #740
@whyoleg yes. It is on the road map. So far local test, but I will be working right after the release. TCK is good but it does not bring any value to the final users. Therefore it is the next step.

If you have anything in mind or any work in progress, I'm open to run a discussion but I don't have enough time to work on that right now .

[2020-02-07 17:52] whyoleg commented on #740
@OlegDokuka Thx!
For now, I don't have enough time to work on rsocket (working on other kotlin library, but will start in near future). Also, I'm still waiting for stabilization of rsocket spec and rsocket-java, because now, it's really changing. And also I'm waiting for reworked multiplatform io library (seems will be ready in March-April), it also will lead to big amount refactoring. So I believ

[2020-02-07 20:04] pckeyan commented on #740
Thanks So much @OlegDokuka, I will follow above mentioned topics.

[2020-02-07 20:34] ebfhub commented on #653
Sorry, only in an internal project. Following through offer(), the passed buffer is copied into another before returning, i.e. on the return from offer() you can reuse that buffer.
e.g.
            termBuffer.putBytes(termOffset + HEADER_LENGTH, srcBuffer, srcOffset, length);

On the receive side, the  ByteBufWrappingDirectBuffer would need to be used synchronously (which we do.)

[2020-02-09 01:12] OlegDokuka commented on #653
Gotcha. Actually, I can imagine just minor limitation on such a transport which requires to deserialize before sending on another thread which should be fine

[2020-02-09 04:15] SerCeMan opened #741 "Defining behaviour for error data payloads"
Hey, Folks!

As far as I can see, rsocket allows for sending arbitrary payloads inside the error frame, [`Error Data`](https://github.com/rsocket/rsocket/blob/master/Protocol.md#error-frame-0x0b), as long as it's encoded in UTF-8. At the moment, rsocket-java encodes the exception message into the `Error Data` field.
https://github.com/rsocket/rsocket-java/blob/3f5b30448777b631af0de96aff9639096639a

[2020-02-09 07:25] OlegDokuka commented on #741
I totally agree that the string representation of the error message is more than useless.

Unfortunately, spec limits body to -> (https://github.com/rsocket/rsocket/blob/master/Protocol.md#error-frame-0x0b)

So far, I propose to add your input here -> https://github.com/rsocket/rsocket/issues/282

[2020-02-12 09:10] xiazuojie opened #742 "Netty channel hangs after sending a payload of size > 16 MB"
The max allowed size of a frame is 16 MB (according to [this](https://github.com/rsocket/rsocket-java/blob/3f5b30448777b631af0de96aff9639096639a0fc/rsocket-core/src/main/java/io/rsocket/frame/FrameLengthFlyweight.java#L12)). If a payload is larger than 16 MB, encoding it to a frame will fail with an exception ["Length is larger than 24 bits"](https://github.com/rsocket/rsocket-java/blob/3f5b304487

[2020-02-12 09:25] OlegDokuka commented on #742
I will take a look at that.

Is not that a reactor-netty bug?

cc/ @violetag

[2020-02-12 09:32] xiazuojie commented on #742
The feature used to be in rsocket-java (SendPublisher) , later moved to reactor-netty. I think it's more about RSocket Java not properly handling payloads > 16MB.

[2020-02-12 09:33] violetagg commented on #742
Not seen so far.

[2020-02-12 16:11] pckeyan commented on #740
Expecting #716

[2020-02-16 16:45] kacper-emersoft opened #743 "Whitelist client IP address"
As per title, is there any way to whitelist client IP address?

[2020-02-16 17:54] spencergibb commented on #743
Whitelist typically means always allow, is there something blocking your ip address. Can you explain what problem you are experiencing and why you believe a whitelist is needed?

[2020-02-16 18:02] kacper-emersoft commented on #743
I have created a rsocket server and few clients. I want to restrict access to my rsocket server that only clients with given IP address should be able to connect to my server. . Is it possible to achive that on rsocket server level?

[2020-02-17 06:13] OlegDokuka commented on #743
I think rsocket has no relation to that. Usually, such a configuration happens on the infrastructure level.

Are there any reasons to put it on the rsocket level?

[2020-02-17 06:16] kacper-emersoft commented on #743
I agree that infrastructure level is a good place to handle this. I was just wondering if such feature can be obtained on setup phase. If no. I'm fine with it. Thanks!

[2020-02-17 06:37] OlegDokuka commented on #743
Theoretically, your client can include its IP address, however, in many cases, it is impossible to do.
You can imagine:

* A Docker container calling another docker container.
* A client calling another over a local, in-memory transport (so, technically there is no any opened port at all)
* A client is connected to a server over a transport that does not support IP-transmitting

So, in general, th

[2020-02-18 16:59] linux-china commented on #743
@kacper-emersoft   you can build one interceptor  to verify whitelist clent IP.   https://github.com/rsocket/rsocket-java/issues/735

[2020-02-18 18:19] kacper-emersoft commented on #743
@linux-china Thanks for great tip! Two questions regarding implementation:
1. As far as I can see, connection field is private. Is there any other way than access it via reflection?
2. How to react in my DuplexConnectionInterceptor in case of IP missmatch? Throw an exception?

[2020-02-18 18:31] linux-china commented on #743
you can use reflection reflection to access connection field

Yes. you can send an error with REJECTED_SETUP to requester.

[code]

The example code as following(not tested):

[code]

[2020-02-18 20:06] kacper-emersoft commented on #743
@linux-china It is almost working.
Connection is not rejected immediately. Client does not get any error while connecting. He receives 500 error only after calling requestResponse (or any other exchange method). I can't find "not in whitelist" message aswell. This is what client is getting:
[code]
Anyway to drop connection immediately with meaningfull rejection reason printed on client side?

[2020-02-18 21:46] linux-china commented on #743
you can use onErrorResume operator to make a new request.  But you should remove this closed rsocket from your list, and it's a features of load balance.  The following code just for refer.
[code]

[2020-02-18 21:52] kacper-emersoft commented on #743
What I was asking about is how to get an error on client side immediately after connecting? Right now I need to make a request to know that connection was closed. I would love to get reject upon initial connection try

[2020-02-18 22:03] linux-china commented on #743
[code]

[2020-02-19 08:18] kacper-emersoft commented on #464
@mostroverkhov as per discussion in #743 I have tried to similar solution and seems it is not working as expected
[code]
Connection is closed but client doesn't receive error. He receives connection closed exception but only after requesting a payload exchange. I would expect to receive error on client side immediately before (or within) setup phase.

[2020-02-19 19:21] kacper-emersoft commented on #743
@linux-china After your advices I started digging for other interceptors. I found a `SocketAcceptorInterceptor` where you can pass a custom `SocketAcceptor`.
This is what I came up with. Ugly as hell because most of the fields are private so I was forced to use reflections. But it is working as expected. Client is immediately rejected in setup phase.
[code]

It is working because implementation of

[2020-02-20 09:33] OlegDokuka commented on #743
As I said, it works only because it is TCP based connection. It will not work in case of all other options. The same could be done on the TCP transport setup with no hacks. Use Reactor-Netty TcpServer / TcpClient, provide your connection handler and that is it. DuplexConnection is an abstraction for any Layer 4 transport so exposing API such as address may lead to many unclearnesses.

[2020-02-20 12:16] kacper-emersoft commented on #743
I totally agree that this is more hack than target solution.
I'm using a Spring Boot Reactor Starter in my project and unfortunately I can't see a way to inject my custom connection handler to TcpServer you have mentioned.

[2020-02-20 12:17] kacper-emersoft commented on #743
closed by mistake - sorry

[2020-02-26 22:20] sleoniy commented on #492
Still going on...

[2020-02-26 23:09] OlegDokuka commented on #492
Working on fix

[2020-02-28 10:45] xiazuojie opened #745 "Deadlock with LoadBalancedRSocketMono and RSocketSupplierPool"
I've found a deadlock with LoadBalancedRSocketMono and RSocketSupplierPool.

It may happen when RSocketSupplierPool.handleNewFactories() and LoadBalancedRSocketMono.select() run concurrently.

LoadBalancedRSocketMono.select() may try to get a RSocket from RSocketSupplierPool, which involves invoking RSocketSupplierPool.isPoolEmpty(), which lockes RSocketSupplierPool.

RSocketSupplierPool.handleNew

[2020-02-28 12:31] xiazuojie commented on #745
I am not sure why RSocketSupplier.dispose() ends up invoking LoadBalancedRSocketMono.select()

[2020-02-28 13:07] fpavageau opened #746 "Gradle Module Metadata for rsocket-bom 1.0.0-RC6 missing from Maven Central / JCenter"
[`rsocket-bom-1.0.0-RC6.pom`](https://repo1.maven.org/maven2/io/rsocket/rsocket-bom/1.0.0-RC6/rsocket-bom-1.0.0-RC6.pom) was generated with the following comment
[code]
which triggers the download by Gradle of the `rsocket-bom-1.0.0-RC6.module` artifact, however that artifact was not published to Maven Central or JCenter.

I'm trying to build with Gradle a project using the freshly released Spring

[2020-02-28 13:28] fpavageau commented on #746
This is probably a consequence of upgrading to Gradle 6 in 4f44695.

[2020-03-01 21:27] mostroverkhov opened #747 "RSocket should not prioritize 0 frames"
When outgoing messages queue grows, responses are likely to timeout before respective request frame is even sent - causing unnecessary work on responder side. New requests have no chance to progress when RSocket  falls into this state. Before https://github.com/rsocket/rsocket-java/pull/718 this was detected by missing keep-alives as they were sent on same queue in order. Now keep-alives are prior

[2020-03-01 21:31] mostroverkhov commented on #464
@kacper-emersoft Looks like this was fixed few years ago - server acceptor may return `Mono.error` which will close RSocket with REJECTED_SETUP error frame.

[2020-03-01 21:31] #464 closed

[2020-03-01 22:00] OlegDokuka commented on #747
This issue was initially discussed here -> https://github.com/rsocket/rsocket/pull/280

Apart, I'm in the middle of saying yes it makes sense because of the current implementation on the one hand and on the other hand, every logical stream can timeout its requests so in theory all associated messages should be dropped (e.g [FluxFlatMap](https://github.com/reactor/reactor-core/blob/master/reactor-c

[2020-03-02 19:14] rstoyanchev opened #748 "Rate Limit Improvements"
Rate limiting has been through a few iterations starting with the original `LimitableRequestPublisher` that actually imposed no upper limit and was exposed to issues like #514, later replaced by `RateLimitableRequestPublisher` in #672 which works like `Flux#rateLimit` but without batching up requests below the upper limit and therefore not requiring an internal queue. In #736 this is further refac

[2020-03-02 21:48] mostroverkhov opened #749 "Requests may have non-sequential stream ids"
Happens when request (for all interactions) subscriptions race https://github.com/rsocket/rsocket-java/blob/c66dfb8b6d9d1a51655cde43dcf56666fa251162/rsocket-core/src/main/java/io/rsocket/RSocketRequester.java#L218  - so frames are sent not in same order as stream ids are created https://github.com/rsocket/rsocket-java/blob/c66dfb8b6d9d1a51655cde43dcf56666fa251162/rsocket-core/src/main/java/io/rsoc

[2020-03-02 22:23] OlegDokuka commented on #749
Can you please point to a certain spec section that says about that?

I can not see any possible solution without involving synchronization in order to ensure the streams ID are identical to the payloads comes into the network

[2020-03-03 00:35] mostroverkhov commented on #747
some related discussion is on https://github.com/rsocket/rsocket-java/pull/718#issuecomment-593626600

Messages are added to `sendProcessor` so they are hitting network, never dropped.

When queue grows on Requester, what you have is `Request` frame followed by `Cancel` frame (due to timeout) before said request even hits network. Here Responder receives and processes request, but Requester not in

[2020-03-03 01:14] mostroverkhov commented on #749
I read that as they should be sequential
[code]

which does not guarantee anything in terms of the order of frames

Transports are required to send all frames in order. Given above, if there are 2 client requests, there
should be two frames on wire with ids 1,3, both sent and received in that order.

One solution from top of my head - existing (and future ones, like quic) transport implementations

[2020-03-03 10:12] OlegDokuka commented on #749
@mostroverkhov the implementation does not contradict anything said in the spec. StreamIdSupplier issues ids sequentially.

yeah, one of the options to move id issuing to the connection level which is guaranteed sequential.

--------------------------------------------------------------------------------

Due to HTTP/3 spec, messages within a logical stream are delivered in order but there are no

[2020-03-03 11:02] OlegDokuka commented on #747
As I said earlier that is the downside of the existing implementation. That will be revised in the future versions

This is the application-level concern on how to manage requests. Facebook solves that transforming queue into the stack (@yschimke correct me if I'm wrong)

This makes zero sense to close connection because of that. This is application concerns and rsocket is just a mechanism for Lay

[2020-03-06 18:09] OlegDokuka commented on #734
@EvanGuoBin I went over the bug and was did my best to reproduce this issue, but unfortunately, I had no lack of doing that. Going over the `io.netty.handler.ssl.SslHandler.SslHandlerCoalescingBufferQueue` and debugging `io.netty.handler.ssl.SslHandler.SslHandlerCoalescingBufferQueue#compose` I found out that it is impossible to enter the tupleButeBuf write method.

Let's consider the following co

[2020-03-06 18:10] OlegDokuka commented on #734
@EvanGuoBin I would appreciate if you can provide a code sample which can reproduce your case

[2020-03-08 19:41] OlegDokuka commented on #746
fixed by #751

[2020-03-08 19:41] #746 closed

[2020-03-11 04:01] xiazuojie commented on #747
"Messages are added to sendProcessor so they are hitting network, never dropped."
This existing implementation has a serious issue as described https://github.com/reactor/reactor-netty/issues/881

There needs to be some way to drop messages from the requester's queue when the responder is overwhelmed. Please consider this in the future versions.

For the RSocket version we use internally, I've app

[2020-03-11 06:54] EvanGuoBin commented on #734
Sorry for missing the comments because I've been busy recently.

This case cannot be stably reproduced.

The situation is,

when I start up my application, everything goes well. However, application throws this exception after running for a certain time.(usually one day).

May i have your email  for further discussion and demo ?

[2020-03-11 07:04] EvanGuoBin commented on #734
My netty version is 4.1.39.Final

[2020-03-11 07:37] EvanGuoBin commented on #734
I've looked into the src code again and have a few questions.

![image](https://user-images.githubusercontent.com/42926958/76392209-09e8d500-63ac-11ea-8523-488cbb9d407b.png)

we can see that ```cumulation.ensureWritable(inReadableBytes, false)``` return ```0``` instead of ```3``` as expected.

In ```AbstractTupleByteBuf.java```:

![image](https://user-images.githubusercontent.com/42926958/76392353

[2020-03-11 08:44] OlegDokuka commented on #734
@EvanGuoBin indeed. That was fixed in the latest release (use RC6 if it is possible).

Now I see why it works for me.

[2020-03-11 08:46] OlegDokuka commented on #747
I'm working on FlatMappingProcessor which will have proper backpressure support and every long-running stream will have its own small queue for prefetch. That should solve the problem (in theory)

[2020-03-11 08:49] EvanGuoBin commented on #734
Yep, this issue was raised before RC6.

[2020-03-11 14:38] OlegDokuka opened #752 "Replace UnboundedProcessor with FlatMap Like Processor"
## The Problem

Right now in RSocket we use `UnboundedProcessor` which simply is an `MultiProducerSingleConsumerArrayLinkedQueue`.

It means that all frames from all possible interactions are enqueued into that queue with NO backpressure control and then underlying connection drains elements with the speed it can:
![image](https://user-images.githubusercontent.com/5380167/76427571-29d0c680-63b5-11

[2020-03-11 16:56] regbo opened #753 "WebsocketClientTransport.setTransportHeaders should accept a multimap"
Http request headers can be duplicated. For example, a request can send:

[header-name]=[12345]
AND
[header-name]=[abcdefg]

Currently, WebsocketClientTransport.setTransportHeaders accepts a one to one map. I would change it to:

`@Override
  public void setTransportHeaders(Supplier<Map<String, ? extends Iterable<String>>> transportHeaders) {
    this.transportHeaders =
        Objects.requireNonN

[2020-03-12 13:27] juri8 commented on #713
I changed the code and successfully tested the new behavior using `retryBackoff`.

https://github.com/juri8/rsocket-java/tree/bugfix/load-balanced-rsocket-mono-error-handling

[2020-03-16 18:05] freelancer1845 opened #755 "InMemoryResumableFrameStore guess FrameSize from ByteBuf"
Hey,

I think I stumbled upon a bug. I'm trying to implement the protocol in python (client side) and while implementing the "Resume" feature I ran into a strange problem.

In "**ResumableDuplexConnection:279**" the connection wants to release all unnecessary frames in the frame store.

The FrameStore then releases the frames up to the remoteImpliedPosition (sent from the client).

In "releaseTail

[2020-03-17 04:02] ilterpehlivan commented on #567
Hi,
@robertroeser  do you have any example that you can share with me for tracing ? I am trying to make a simple Rsocket RPC client, server work with following dependencies:

compile "org.springframework.cloud:spring-cloud-starter-sleuth"
compile "io.opentracing.brave:brave-opentracing:0.33.10"
compile "io.opentracing:opentracing-api:0.31.0"

However I cannot make the server to receive any tracing

[2020-03-17 18:18] ilterpehlivan opened #756 "Tracing is not working as expected in server side"
Hi,

I have a simple Rsocket client/server application and I am trying to pass traceId in between those services. I use spring-cloud-sleuth to generate the traceId and pass it to the next service.
When I debug, client side is passing the traceId to the service properly however in the server the traceId is not visible until "doSubscribe" event.
Here is the logs shows that until "doOnSubscribe" the

[2020-03-17 18:23] ilterpehlivan commented on #756
Sorry wrong repository  it should be in rsocket-rpc-java instead :)
Closing this!

[2020-03-17 18:23] #756 closed

[2020-03-18 20:29] klopfdreh commented on #628
Hey @OlegDokuka - it has been a long time since I opened this issue. I did some refactoring and changed the implementation on server side to look like:

[code]

In addition I removed the list and assumed that the handling of the payload is done within the processClientPayload method. (Like storage) This addresses point 1. / 3. For point 2. I have to take a deeper look into the Processor API. Any o

[2020-03-18 23:41] OlegDokuka commented on #628
@klopfdreh Looks much better. I'm not sure I can say anything since I'm not seeing what is behind the `processClientPayload` method

[2020-03-19 05:00] SerCeMan opened #757 "NullPointerException on stream cancellation"
Hi, RSocket maintainers!

We noticed that in some cases we observe NPEs on cancelling streams. E.g.
[code]

Recently, I found a way to trigger this by subscribing on a cancelled stream twice, here's a reproducer.

[code]

However, I'm not entirely sure how a patch for this would look like. IIUC, cancelling `Flux`  requests all elements, and the same payload gets processed twice after being release

[2020-03-19 06:58] klopfdreh commented on #628
It only converts the request payload to a response payload - in this method I would do also something like database operations in a real case scenario.

https://github.com/klopfdreh/rsocket_playground/blob/master/src/main/java/de/klopfdreh/rsocket/playground/ServerController.java

[2020-03-19 07:23] OlegDokuka commented on #757
@SerCeMan This is kind of a known issue related to `requestChannel` impl, which is incorrect #736. I'm working on the fix

[2020-03-19 07:26] OlegDokuka commented on #628
@klopfdreh the only recommendation I can give possibly uses of ZERO_COPY mechanism which put a requirement on releasing `Payload`s manually, but increases performance significantly

[2020-03-19 09:57] klopfdreh commented on #628
@OlegDokuka good point - I used ZERO_COPY, but forgot to release the payload!

Server:
[code]

Client:
[code]

I applied a finally to both implementations.

[2020-03-19 17:29] pckeyan opened #758 "Rsocket - Reactive Cassandra less throughput compared to blocking http"
My use case revolves around retrieving the data from Cassandra using RSocket-Java in a non-blocking way. I use reactive cassandra template built on top of reactor-core. Throughput I see is very low in the range of 300 RPS compared to blocking http calls(800 RPS). If I remove Cassandra and use stub, I am getting close to 5000 rps. Can you please let me know whether RSocket-Java is not a perfect fit

[2020-03-19 17:32] OlegDokuka commented on #758
Hey. Can you share your benchmark setup or a simple project which let me reproduce your issue | understand the setup behavior?

[2020-03-19 17:42] pckeyan commented on #758
Hi @OlegDokuka,

I used directly into my business service, Let me try to peel it out. But from the environment standpoint, I used one Cassandra Docker container running on AWS EC2 - c5n.18xlarge. Same Backend Codebase to connect to Cassandra.

http Rest Call (API) - 800 TPS
Non Blocking Http (API) - 1600 TPS
RSocket(One Connection/Server) Connection Cache at Client  - 300 TPS

I used the same code

[2020-03-19 17:44] OlegDokuka commented on #758
I'm asking because of different prefetch setup which may vary between reactive and blocking implementations in Spring.

Also, you point to a sample project, but it would be much better to have a simple client which can show RPS per a client

[2020-03-19 17:47] pckeyan commented on #758
Definitely let me put together one for you to check. But if I remove the Cassandra and mock the data, I am getting ~5000 TPS. Something is blocking to Cassandra.

[2020-03-19 17:57] OlegDokuka commented on #758
So, if you look at my [slides](https://www.icloud.com/keynote/0XtMIUuNeqBUdlYT_mpdbcXQQ#State_of_RDBA) on reactive database access, and in particular on the slide 33, which shows how reactive Cassandra works underneath, you may get an idea, why it may be slow.

[2020-03-19 18:00] pckeyan commented on #758
Thank You, Let me go through the slide and will get back to you.

[2020-03-20 20:47] pckeyan commented on #758
@OlegDokuka I tried to modify the fetchSize it has no effect. Let me try to get a sample for you to check.

[2020-03-22 00:08] OlegDokuka opened #760 "Incorrectly implemented Fragmentation which causes Head-of-Line-blocking"
# The cause

Currently, the fragmentation process happening on the level connection and uses `concantMap` for that purpose.

It means that having serial behavior on the connection level (TCP-like behavior) leads to HoLB problem

[2020-03-24 13:44] OlegDokuka commented on #758
@pckeyan any updates?

[2020-03-24 14:32] pckeyan commented on #758
@OlegDokuka I tested with different parameters and I do not see any improvement. If you wish we can close this issue for now. I will reopen once I have a sample because I was testing this in my business application.

[2020-03-24 14:33] OlegDokuka commented on #758
@pckeyan marking as need information. Feel free to provide a sample when it is ready

[2020-03-24 20:42] OlegDokuka opened #762 "Inconsistent behaviour of `requestChannel(Payload, Publisher<Payload>)` in Java and Cpp"
# Actual Behaviour

## RSocket-CPP RequestChannel(Payload, Publisher)

[code]

Produce the following output

[code]

## RSocket-Java RSocketResponder#requestChannel(Payload, Publisher)

[code]

Produce the following output:

[code]

As we may see, RSocket-Java sends the initial payload along with the rest of the stream so it may be unexpected compares to RSocket-CPP which does not include initial

[2020-03-24 21:16] yschimke commented on #762
This sounds familiar https://github.com/rsocket/rsocket-java/issues/465

[2020-03-24 21:48] OlegDokuka commented on #762
@yschimke yeah. The same to me. I'm reworking internals right now in #761 and rewrite all streams handler from scratch that is why asking obvious questions.

Thanks for linking the issue 🙏

[2020-03-25 12:28] OlegDokuka commented on #603
Starting from the 0.9.6 Reactor-Netty release (now used in RSocket RC7-SNAPSHOT) supports a built-in mechanism for graceful shutdown. For more information see https://github.com/reactor/reactor-netty/pull/1034

[2020-03-25 12:28] #603 closed

[2020-03-25 12:35] OlegDokuka commented on #712
an appropriate fix that prioritizes StreamID 0 frames was merged into the develop branch and will be released with RC7. Also, there is ongoing work on more possible bug fixes | improvements in #746

In general, KeepAlive is a tunable parameter and has to be configured with regards to the load which the client performs.

More possible issue fixes will appear when a corresponding PR for #752 land in

[2020-03-25 12:43] OlegDokuka commented on #755
Just FYI. Reusability may be changed. For more info please follow -> https://github.com/rsocket/rsocket/issues/300#issuecomment-596664848

[2020-03-29 13:04] jjeffcaii opened #764 "Improper `Payload#hasMetadata` behavior."
I was debugging some rust codes which send a REQUEST_RESPONSE without metadata. Unexpectedly, I received a PAYLOAD frame with a metadata (blank string).
ServerSide is very simple:
[code]
Console show below:
[code]
The problem I thought is that `has_metadata` should be `false` because the frame flags is `0b0` already.

[2020-03-29 13:08] jjeffcaii commented on #764
My local rsocket version is `1.0.0-RC6`.

[2020-03-29 14:05] OlegDokuka commented on #764
@jjeffcaii It can be RC6 specific bug. Is it reproducing on RC5?

[2020-03-29 14:07] OlegDokuka commented on #764
Also, can I have a look at the rust code? Is it reproducing with java-client + java-server interop?

[2020-03-29 14:35] jjeffcaii commented on #764
I've tested some versions and it seems that only 0.11.x is passed.

Run rust codes as below:

[code]

PS:
Use `TcpServerTransport.create("127.0.0.1", 7878)` in 0.11.x. (server-side java)

[2020-03-29 14:37] OlegDokuka commented on #764
What about java client java server?

[2020-03-29 14:41] OlegDokuka commented on #764
@jjeffcaii do you do anywhere the check on metadata nullability?
https://github.com/rsocket/rsocket-rust/blob/master/rsocket/src/frame/request_response.rs#L29

[2020-03-29 14:42] jjeffcaii commented on #764
I tested java client and java server. It's same with rust or golang sdk.

ClientSide java:
[code]

And ClientSide console log:
[code]

[2020-03-29 14:44] jjeffcaii commented on #764
@OlegDokuka at line #21, https://github.com/rsocket/rsocket-rust/blob/develop/rsocket/src/frame/utils.rs

[2020-03-29 14:45] OlegDokuka commented on #764
Alright. It sounds like a bug.

Thank you for reporting that! 🙏

[2020-03-29 14:47] OlegDokuka commented on #764
Yup. That is the bug. Confirmed.

[2020-04-01 14:25] dushdushyant opened #765 "Not able to communicate from Java Standalone client to SpringBoot enabled Rsocket server"
I have an instance of Rsocket server(responder) and it works perfectly fine when I write a requester snippet out of a springboot API exposed client.
The connection to the server is being established using
`	private final RSocketRequester rSocketRequester;

	public CustomerServiceAdapter(RSocketRequester.Builder rsocketRequesterBuilder) {
		this.rSocketRequester = rsocketRequesterBuilder
				.conne

[2020-04-01 15:14] OlegDokuka commented on #765
Hey @dushdushyant!

Can you please prepare an example project so I can reproduce it locally?

Cheers,
Oleh

[2020-04-01 16:09] antonbashir opened #766 "Resume mechanism improvements & refactor"
In this issue i offer add next features:

- Add setup connection frame into resume frames store.
- ResumePolicy interface with next configuration (passing through factory):

1. sessionManager
2. storeFactory (current implementation)
3. storeFactory (function)
- input: resume token
- output:consumer for saving frames state and supplier for producing it from some storage
4. Reactor's retrySpec which

[2020-04-01 17:55] dushdushyant commented on #765
Hi Oleg,

Thanks for a prompt reply,
As described above, I have put my code in git.

[https://github.com/dushdushyant/rsocket-server/blob/master/src/main/java/io/pivotal/rsocketserver/RSocketController.java](https://github.com/dushdushyant/rsocket-server/blob/master/src/main/java/io/pivotal/rsocketserver/RSocketController.java)
This is the responder server for RSocket Server and this works fine wh

[2020-04-03 05:26] rstoyanchev commented on #765
On [this line](https://github.com/dushdushyant/rsocket-rnd/blob/727123925fa4301d9880dca9ba8cd40a145bf8f8/src/main/java/com/rnd/SampleRScoketClient.java#L25), you need to actually subscribe or block for the result. In addition you are providing metadata and data in the wrong order. You also need to think about the data (json, cbor) and metadata ("message/x.rsocket.routing.v0") encoding.

Basically

[2020-04-03 05:26] #765 closed

[2020-04-03 06:59] dushdushyant commented on #765
Thanks for the feedback,
any reference to a working example of that would be helpful.

[2020-04-03 07:18] rstoyanchev commented on #742
There is a `fragmentation(..)` setting on `RSocketFactory` and if you set that it should fragment. If you're keeping at 0 intentionally (it's also the default) then yes it should be handled better.

[2020-04-03 09:23] xiazuojie commented on #745
Another deadlock has occurred in production for me (after patching the first one myself).
Also due to RSocketSupplierPool.handleNewFactories() and LoadBalancedRSocketMono.select() running concurrently.

[code]

[2020-04-03 09:23] making commented on #765
@dushdushyant
Here is my example from [vanilla rsocket client](https://github.com/making/demo-rsocket/blob/master/vanilla-rsocket-client/src/main/java/com/example/vanillarsocketclient/VanillaRsocketClientApplication.java) to [spring boot rsocket server](https://github.com/making/demo-rsocket/blob/master/demo-rsocket-server/src/main/java/com/example/rsocket/GreetingController.java).
Hope this helps

[2020-04-03 14:42] joshiste opened #767 "How to limit retries for resume"
I wanted to limit the number of retries  for resuming a connection.
I tried with this `ResumeStrategy`, but somehow it keeps reconnecting over and over again.
Can you help me?

[code]

[2020-04-03 17:42] OlegDokuka commented on #767
I suspect you do something like the following;

[code]

Unfortunately, I spotted a design flaw, so on every error in the connection will supply a new instance of the `ResumeStrategy` strategy. Therefore, your counter will be recreated after every successful resumption.

As of now, I can recommend you to do something like the following in order to implement desired behavior:

[code]

[2020-04-05 08:35] OlegDokuka commented on #766
related #767

[2020-04-05 08:41] OlegDokuka commented on #734
@EvanGuoBin I rolled back to composite bytebuf and the optimized version of composite bytebuf will lend to netty-buffers directly

[2020-04-05 08:41] #734 closed

[2020-04-05 08:43] #737 closed

[2020-04-05 08:43] OlegDokuka commented on #737
@bpetrovbg fill free to reopen this if not clarified or there is anything else

[2020-04-05 08:45] OlegDokuka commented on #732
not relevant any more

[2020-04-05 08:45] #732 closed

[2020-04-05 08:46] #692 closed

[2020-04-05 12:22] OlegDokuka commented on #742
Due to what I see, there are two issues:

1) Lack of documentation on what is the defaults in RSocket-Java and that there is no fragmentation by default. It means that all the frames that exit 16 MB size is illegal.
2) We have a bug in TCP connection which tries to add frame length at the transport level and throws an exception because the encoded frame was not validated and just simply got encode

[2020-04-05 16:25] #760 closed

[2020-04-05 18:39] OlegDokuka commented on #733
Finally, the issue happens because UnicastProcessor which is used right now does not support proper elements discard if cancellation happens before next appears (fully recalls with what @rstoyanchev).

See appropriate reactor PR https://github.com/reactor/reactor-core/pull/2102

[2020-04-06 18:58] whyoleg commented on #740
Hi @OlegDokuka , are there any estimate for [1.0 milestone](https://github.com/rsocket/rsocket-java/milestone/3)?

[2020-04-07 07:20] OlegDokuka commented on #740
It is coming. Planned to be this month

[2020-04-07 11:24] xiazuojie commented on #745
After some investigation, deadlock may happens due to retry.
[code]
`RSocketSupplier.dispose()` will raise `java.nio.channels.ClosedChannelException`, which may causes `retryBackoff`, which invokes `io.rsocket.client.LoadBalancedRSocketMono.select()`

[2020-04-07 11:27] OlegDokuka commented on #745
@xiazuojie, thank you for reporting that!

For now, you may use `Retry` from reactor-core in order to filter exceptions.
I will rework the load-balanced rsocket in 1.1.

Please stay tuned.

Cheers,
Oleh

[2020-04-07 12:50] rstoyanchev opened #769 "Add Javadoc to RSocketFactory"

[2020-04-07 14:45] pckeyan commented on #758
@OlegDokuka  I added you as.a collaborator to my private projects. Please check this readMe for instructions. https://github.com/pckeyan/rsocket-load-balancer/blob/master/README.md. Please let me know your feedback.

[2020-04-07 14:46] OlegDokuka commented on #758
@pckeyan looking

[2020-04-08 08:46] rstoyanchev commented on #740
@OlegDokuka, I think this can be closed now that there are [milestones](https://github.com/rsocket/rsocket-java/milestones) representing the roadmap?

[2020-04-08 08:47] #740 closed

[2020-04-08 09:58] rstoyanchev commented on #742
Given #768 to validate payload length earlier, and #769 to document, what's actually left here?

Payloads with invalid length should not be able to get through, but arguably the transport layer should still have independent validation. Perhaps an additional check in WebSocket transports perhaps to prevent sending a frame that's too large? If that's all it is perhaps this can be added as a task und

[2020-04-08 10:08] OlegDokuka commented on #742
@rstoyanchev

This check is already present, no need to put extra one

[2020-04-08 11:32] rstoyanchev commented on #742
I just noticed the "Linked pull requests" on the right, and in the timeline above it says this will be fixed by #768. All good.

[2020-04-08 21:20] OlegDokuka opened #771 "Rework of how we manage RefCnt"
Currently, RSocket follows Netty style of managing refCnt which is somewhat challenging (and not necessarily needed to be like in pure Netty).

Therefore, I would like to propose redesign that and follow Reactor-Netty way to manage refCnt, so we will be responsible for releasing a Payload and a user will be in charge of retaining content when it moves to a different thread.

Such a way of managing

[2020-04-09 07:35] OlegDokuka opened #772 "Refactors RSocketFactory API"
This issue stands for better API

1) Refactors keepAlive setup to the builder. Old API should be deprecated

[code]

2) Refactor Ressumability API to the builder in the same fashion as keepAlive. Also, a related issue to that is #766

3)Possibly, not sure it would make sense but: Refactors Setup API to the builder:

[code]

[2020-04-09 08:14] rstoyanchev opened #773 "RSocketFactory API improvements"
The refactoring in #770 creating interfaces for `ClientRSocketFactory` and `ServerRSocketFactory` has made it obvious how much those have grown. We should take this opportunity to streamline a bit and make it easier to digest.

Some initial thoughts:
- keepAlive - there are 4 methods but underneath it boils down to two values, so this could be simplified to reduce the options and also align with t

[2020-04-09 08:21] rstoyanchev commented on #773
Duplicate of #772.

[2020-04-09 08:21] #773 closed

[2020-04-09 08:21] rstoyanchev commented on #772
Some extra, initial thoughts:
- keepAlive - there are 4 methods but underneath it boils down to two values, so this could be simplified to reduce the options and also align with the spec terminology (e.g. `keepAliveTimeBetweenFrames` and `keepAliveMaxLifeTime`).
- resume - there are about 6 methods for the client and 5 for the server. There is a case for some sort of `Resume` spec (similar to the

[2020-04-09 17:04] #613 closed

[2020-04-09 20:13] #742 closed

[2020-04-10 07:43] OlegDokuka opened #776 "Unify `ByteBufAllocator` usage among all the places"
## Problem

As of now, we have a mess which allocator we use and where.

For the once glance we have an ability to specify an allocator (https://github.com/rsocket/rsocket-java/blob/develop/rsocket-core/src/main/java/io/rsocket/RSocketFactory.java#L88)
https://github.com/rsocket/rsocket-java/blob/develop/rsocket-core/src/main/java/io/rsocket/RSocketFactory.java#L229

but on the other hand, it is u

[2020-04-10 15:02] rstoyanchev opened #778 "RSocketFactory API Enhancements"
After #770 and #774 we are left with:
![remaining](https://user-images.githubusercontent.com/401908/78998658-f498cf00-7b40-11ea-9c84-db234e6a4956.png)

This is better (see #770 for the starting point) but a 10 package tangle is not ideal. Fortunately it is mainly due to top-level `RSocketFactory` referencing companion contracts from feature sub-packages which in turn refer back to `io.rsocket`. If

[2020-04-10 15:06] rstoyanchev commented on #772
I think we can close this one in favor of #778.

[2020-04-10 15:29] #772 closed

[2020-04-10 15:29] OlegDokuka commented on #778
Mirroring what I said in #772

Refactors keepAlive setup to the builder. Old API should be deprecated
ClientRSocketFactory keepAlive(KeepAlive spec);

KeepAlive.of(Duration tickInterval, Duration timeout);

KeepAlive.builder()
             .missedAcks(int number)
             .ackTimeout(Duration ackTimeout)
             .build();
Refactor Ressumability API to the builder in the same fashion as ke

[2020-04-13 16:29] pckeyan commented on #758
Hi @OlegDokuka, Any findings so far?

[2020-04-14 09:04] piotr-signalfx opened #779 "Resume related Netty ByteBuf leak"
We observe the following leak reported by Netty from time to time:
[code]

[2020-04-14 10:29] OlegDokuka commented on #779
Hi @piotr-signalfx!

Thanks for reporting that.
We need to know the version of RSocket-Java along with the use case which can reproduce that.

Also, you may find similar the following issue #733.

In any case, we are working on improvements toward catching possible leaks in #777. However, we cannot say anything until we know that is the case that reproduces your leak.

Cheers,
Oleh

[2020-04-14 10:34] piotr-signalfx commented on #779
Hi Oleh,

We use rsocket-java 1.0.0-RC5.
We do not use zero copy.
I will try to reproduce the issue and put a test case together, but as mentioned it does not happen frequently, just a few times in a week in a production environment which constantly sees some load. My wild guess would be it might be related to session resumption for instance.

Cheers,
Piotr

[2020-04-14 10:40] OlegDokuka commented on #779
Definitely, an example of a code that simulates what you do may simplify the investigation dramatically.

In any case, we will investigate more. It might be some race cases which is not releasing all the buffers in the resuming queue

[2020-04-14 10:41] OlegDokuka commented on #779
Also, please try RC7 and see whether it has the same issue as RC5

[2020-04-14 10:49] piotr-signalfx commented on #779
Thanks. I will upgrade to RC7 and let you know if we find something more.

[2020-04-14 10:55] OlegDokuka commented on #779
Just FYI, RC-7 is in the snapshot. Briefly looking into resumability implementation, I can see a few cases which might produce leaks so I will try to work around that shortly.

[2020-04-15 16:56] #778 closed

[2020-04-15 18:31] OlegDokuka commented on #742
@xiazuojie RC-7 should have fixed your issue. Please check it and feel free to reopen this issue if the bug was not fixes

[2020-04-16 00:08] SerCeMan commented on #741
Hey, Oleg! Thanks! To clarify, at the moment I'm generally happy with the arbitrary payload encoded as an UTF-8 string. The issue that I'm facing is that there is no explicit way for me to specify what should be in this payload through rsocket-java API.

[2020-04-16 06:13] OlegDokuka commented on #741
Gotcha! Will be refined today

[2020-04-16 15:49] rstoyanchev commented on #641
I can't reproduce this. The following:
[code]
Prints:
[code]
@lksvenoy-r7 please provide more details on how to reproduce or ideally a sample.

[2020-04-17 08:16] rstoyanchev opened #781 "Review Loadbalancer Implementation, add documentation, and improve Tests"
There are a number of issues related to `LoadBalancedRSocketMono` that depend on deeper review of the current implementation:

- [x] #745
- [x] #716
- [x] #713
- [x] #654
- [x] #633
- [x] #725

[2020-04-17 08:28] OlegDokuka commented on #577
closed by #585

[2020-04-17 08:28] #577 closed

[2020-04-17 08:55] rstoyanchev opened #782 "Deprecate/Drop UriHandler mechanism"
This has no usage within rsocket-java and arguably could be dropped.

It seems to have been created with the RSocket CLI in mind based on #307 and that's where it seems to be used so one option would be to move it there or drop it completely. It's usage with SSL generally also implies additional transport level setup (see #522).

/cc @yschimke

[2020-04-17 08:59] rstoyanchev commented on #522
The `WebSocketUriHandler` alone is not sufficient. Take a look at the [Reactor Netty reference](https://projectreactor.io/docs/netty/release/reference/index.html#_ssltls) for transport level configuration. There is also [this test](https://github.com/rsocket/rsocket-java/blob/develop/rsocket-transport-netty/src/test/java/io/rsocket/transport/netty/WebsocketSecureTransportTest.java).

[2020-04-17 08:59] #522 closed

[2020-04-17 09:05] rstoyanchev commented on #719
For now please take a look at the [Reactor Netty reference](https://projectreactor.io/docs/netty/release/reference/index.html#_ssltls) and https://github.com/rsocket/rsocket-java/issues/719#issuecomment-555825807

[2020-04-17 09:09] yschimke commented on #782
I wouldn't even deprecate it, just drop it.  I can move into the CLI project.

[2020-04-17 09:14] rstoyanchev commented on #582
Superseded by #575.

[2020-04-17 09:14] #582 closed

[2020-04-17 09:16] yschimke commented on #782
I added to be a general purpose mechanism to specify unambiguous address schemes.  e.g. a website could have a Rsocket URL to connect to fetch updates.  But all of the connector settings, the setup payloads, and the interaction of operation payloads require prior knowledge.

Within any specific app domain, they can probably specify their own rules. e.g. If I was to start writing a mongo-like compe

[2020-04-17 09:18] OlegDokuka commented on #568
superseded by #635

[2020-04-17 09:18] #568 closed

[2020-04-17 09:25] rstoyanchev commented on #525
Both client and server Reactor Netty support a few options (sub-protocol, frame size, etc).

[2020-04-18 14:05] PMacho opened #786 "Load balancer throwing several exceptions when refreshing available sockets"
I wanted to use the LoadBalancedRSocketMono in combination with springs ReactiveDiscoveryClient, but this doesn't work well at present.

The behaviour can be simulated by added the following to LoadBalancedRSocketMonoTest:

    @Test
    public void refreshSocketsTest() {
        LoadBalancedRSocketMono refreshingLoadBalancedRSocketMono = Flux
                .interval(Duration.ZERO, Duration.ofMi

[2020-04-18 14:47] PMacho commented on #786
I think the issue is related to the warning in [https://docs.oracle.com/javase/tutorial/essential/concurrency/syncmeth.html](url)

[2020-04-18 15:51] OlegDokuka commented on #786
Hi @PMacho!

Thanks for letting us know!
This is known issue and basically is a duplicate of #716 (or at least looks pretty similar to the mentioned one)

[2020-04-18 16:25] PMacho commented on #786
Hi @OlegDokuka,

I actually don't think, it is the same issue. In #716 the point is that no renewal happens at all (which, if I should guess, is probably related to `Flux.fromStream(...)`). However in my case the `availableSockers` list apparently is updating. It is just that there are race conditions within this process.

As I mentioned already this is probably related to the List `availableSocke

[2020-04-18 16:30] OlegDokuka commented on #786
@PMacho PRs are welcome.

However, please keep in mind that the `LoadBalancedRSocket` will be rewritten from scratch. Since it is the implementation of Reactor's `Mono` it has lots of pitfalls related to concurrency and right now the existing version is far from how it should be properly implemented.

Cheers,
Oleh

[2020-04-18 16:42] PMacho commented on #786
@OlegDokuka yeah, honestly I didn't want to say it that way, but yes I also think so. The `WeightedSocket` has great ideas inside, but the handlings needs a basic rewrite, strictly following the lines of reactor.
I'll try to find time to write down some ideas in code.

[2020-04-18 16:45] OlegDokuka commented on #786
Also, you may find useful this PR from which you may take some ideas https://github.com/rsocket/rsocket-java/pull/685

[2020-04-18 16:51] PMacho commented on #786
Thank you, I'll have a look at it.

[2020-04-18 18:14] OlegDokuka opened #787 "Rename `XXXFlyweight` in `frames` package to `XXXCodec`"
Right now all frames `Flyweight` in `frames` package is not really flyweights but rather set of codecs that allow to encode and decode frame to/from `ByteBuf`.

The `Flyweight` naming is a legacy one. Therefore I propose to rename all frames `Flyweight` codecs for clarity

[2020-04-19 17:13] rstoyanchev opened #789 "Upgrade to Reactor Dysprosium-SR7"
Probably a good idea to upgrade to the latest Reactor, also due tomorrow.

[2020-04-19 17:37] rstoyanchev commented on #789
I verified locally tests are passing with Dysprosium snapshots.

[2020-04-20 13:38] mikayeln opened #790 "package io.rsocket.core does not exist during maven build"
Hello.

I'm facing some strange problem.
During maven build I'm getting `package io.rsocket.core does not exist`.
My pom.xml contains following dependencies

[code]

Analyzing rsocket-core jar file showes that there is no core package in that jar. Did I missed some dependencies?

Thanks

[2020-04-20 13:57] OlegDokuka commented on #790
Hi @mikayeln!

`.core` the package exists starting from RC-7

Cheers,
Oleh

[2020-04-20 13:57] #790 closed

[2020-04-20 14:40] mikayeln commented on #790
Thanks for the quick reply, @OlegDokuka.
So what about an example of TrivialClient? I need 1.0.0-RC7 to build? I just don't see RC7 in maven-central.

[2020-04-21 09:06] OlegDokuka commented on #790
@mikayeln Please use snapshot repo for now in order to access RC7-SNAPSHOT (https://oss.jfrog.org/artifactory/oss-snapshot-local/io/rsocket/rsocket-bom/1.0.0-RC7-SNAPSHOT/).
In general, we are about to release, you will get it soon

Cheers,
Oleh

[2020-04-21 16:37] rstoyanchev commented on #506
We need some reference documentation in addition to Javadoc #769.

[2020-04-21 17:32] rstoyanchev opened #791 "Use Reactor Retry instead of ResumeStrategy"
Now that there is a `Retry` in Reactor Core we should try and use it for the resume config API, and also replace the (deprecated) `retryWhen` in `ClientRSocketSession`.

[2020-04-21 21:00] OlegDokuka commented on #757
@SerCeMan can you please try an see whether this issue can be reproduced with RC7?

[2020-04-22 08:34] OlegDokuka commented on #583
Needs to add that for having the full set of features defined in spec

[2020-04-22 18:04] OlegDokuka opened #793 "Rework Payload API and Behavior"
Payload API has inconsistent and absolutely confusing behavior:

##Expected
case 1
[code]

## Unexpected
case 2
[code]

[2020-04-22 18:05] OlegDokuka commented on #793
related #771

[2020-04-23 15:08] pckeyan commented on #758
@OlegDokuka I removed my load balancer component and used LoadBalancedRSocketMono in my Client and directly called Server has increased the throughput to 980 transactions per second. So 3x increase if I remove the component. Any insights or findings? But still this is less than non-blocking http rate.

[2020-04-23 15:10] OlegDokuka commented on #758
Hey. I still was not able to look due to hard work on the upcoming release, however, I'm not recommending to use a load-balanced RSocket for now.

I hope will give you some updates shortly

[2020-04-23 15:27] pckeyan commented on #758
Sure @OlegDokuka I Understand and will wait for your comments.

[2020-04-23 18:40] #782 closed

[2020-04-24 07:47] #764 closed

[2020-04-24 07:48] OlegDokuka commented on #764
@jjeffcaii IT is fixed. Please let me know if you still experiencing this issue in RC-7-SNAPSHOT

[2020-04-24 08:16] jjeffcaii commented on #764
@OlegDokuka I've tested it. RC-7 is OK now. Thanks! 👍

[2020-04-24 16:50] #776 closed

[2020-04-27 06:29] piotr-signalfx commented on #779
I can confirm the same issue affects RC-7 (480b5018c0660013a251faf13626c65ae408b640).
We tried to simulate some network problems with https://github.com/alexei-led/pumba in order to reproduce the issue locally with a reasonably simple test case but we could not.

Logs from RC-7:
[code]

[2020-04-27 08:09] #791 closed

[2020-04-27 18:43] rstoyanchev commented on #789
Closed with 1c3927b2fd271dd690b7a01360db0414280639de.

[2020-04-27 18:43] #789 closed

[2020-04-28 06:37] OlegDokuka commented on #757
@SerCeMan should be fixed in RC7. Let us know if you get the same issue again

[2020-04-28 06:40] OlegDokuka commented on #733
Most of the leaks are fixed in RC7 now. There are a few more places where leaks may occur, but this will be resolved further since leaks are more related to the Reactor.

Any feedback on RC7 is appriciated

[2020-04-28 13:33] kroka commented on #746
Hi, is this really fixed? The module file is also missing for the RC7:

* https://highway.porsche.com/artifactory/maven-all/io/rsocket/rsocket-bom/1.0.0-RC7/

[2020-04-28 13:35] spencergibb commented on #746
The fix was to not publish Gradle modules at all if I am not mistaken

[2020-04-28 19:13] segabriel commented on #733
@OlegDokuka Finally got to verify it, it was and is still reproducible on linux only, I mean `RC5` version. So I checked my example out again and it seems `RC7` version has no such bug, unlike `RC5`.
So cool, thanks!

[2020-04-28 19:13] #733 closed

[2020-04-30 14:04] piotr-signalfx commented on #779
@OlegDokuka After upgrading to RC7 we are still facing some leaks. It looks like they might be  related to this error we see in the logs as the leak is always reported a few seconds later.
[code]
And the leak log:

[code]

[2020-04-30 14:07] OlegDokuka commented on #779
@piotr-signalfx I was able to reproduce that as well locally, but unfortunately at this stage, we can nothing to do with that because of a few bugs in Reactor and in our Resumability impl as well.

The good news is that the issue will be addressed in 1.1, thus, please stay tuned!

[2020-04-30 17:20] OlegDokuka commented on #757
Not really fixed. Found a few places where NPE catching is missed. Apologies for the false-positive signal.

See #808

[2020-04-30 17:50] #757 closed

[2020-05-01 00:47] SerCeMan commented on #757
Thank you for the great work on this 👍

[2020-05-02 03:51] jjeffcaii opened #810 "Unmarshal problem for CompositeMetadata with NOT wellknown MIME type."
Hi~

I made a CompositeMetadata in golang SDK (according to: https://github.com/rsocket/rsocket/blob/master/Extensions/CompositeMetadata.md), but sadly it decoded failed in java.

Is there some wrong in `io.rsocket.metadata.CompositeMetadataFlyweight` line 94?
After removing `+1`, it can be decoded successfully.

[code]

Here's my raw CompositeMetadata bytes and unit tests.

[code]

[2020-05-02 06:17] jjeffcaii commented on #810
Oops... I found some codes when encode metadata header. I guess that is what causes my problem. 囧rz

`CompositeMetadataFlyweight.java`,  Line 351:

[code]

Maybe we should add it to the protocol SPEC. :-D

[2020-05-02 07:02] OlegDokuka commented on #810
Hey @jjeffcaii!

I guess spec is clear on that

[code]

the most important from there is
`The string MUST NOT be null terminated. (Not present if M flag is set)`
which basically means that custom mime type can not be 0 length, thus we can consider 0 as 1 in order to expand encoded string length.

Do you think it is necessary to mention that
`If M flag is not set, indicates the encoding MIME Type L

[2020-05-02 11:40] jjeffcaii commented on #810
@OlegDokuka Thanks! 👍
My mistake, I'll fix my implementation. 😂

[2020-05-02 11:40] #810 closed

[2020-05-04 10:07] simonbasle commented on #810
Just a side note: I agree that these corner case would benefit from being documented VERY explicitly in the spec, as I remember I had to double check and triple check when implementing the spec in java.

[2020-05-04 10:58] #749 closed

[2020-05-04 12:31] #769 closed

[2020-05-04 16:04] adrian-tarau opened #815 "Handling network errors in ClientServerInputMultiplexer"
We get these network failures logged as errors and they are not "errors" in some cases... If the other side stops, which the client still tries to communicate with it, you will get such errors.
It would be great if there would be some callback support here and there, where clients can decide what is worth logging as an error.

[code]

[2020-05-04 16:14] OlegDokuka commented on #815
Hey @adrian-tarau!

In RSocket we have an API `https://github.com/rsocket/rsocket-java/blob/develop/rsocket-core/src/main/java/io/rsocket/RSocketFactory.java#L397`
which allows you to intercept such an error in general.

In general `io.rsocket.FrameLogger` log path is used only for the debugging purpose and has never been designed to be a production logging system (if it is used as such in your ca

[2020-05-04 16:16] adrian-tarau commented on #815
It says "this is deprecated with no replacement" :)

[2020-05-04 16:18] OlegDokuka commented on #815
Outdated docs (as usual). We moved all connection errors propagation to `onClose` hook in the [new API](https://github.com/rsocket/rsocket-java/blob/develop/rsocket-core/src/main/java/io/rsocket/Closeable.java#L35) which basically propagates terminal for current RSocket instance error over the `Subscriber#onError` API

[2020-05-04 16:21] adrian-tarau commented on #815
Great, thanks. I'll take a look at interceptors ...

[2020-05-04 16:23] OlegDokuka commented on #815
Sure, just let us know if you think that it should be implemented in a different way to keep developers work productive in the real-world applications

[2020-05-04 16:25] adrian-tarau commented on #815
Basically, I want network errors to be tracked, accounted, and "mark" and endpoint bad if it crosses a threshold. Events are retried in case of network errors, the client would not see these "glitches". Eventually, the client would get a CANCELED state of the other side is gone.

[2020-05-04 16:27] OlegDokuka commented on #815
Have you looked at a brightly new feature called [`reconnect`](https://github.com/rsocket/rsocket-java/blob/develop/rsocket-core/src/main/java/io/rsocket/core/RSocketConnector.java#L337)? It sounds pretty same as you wanna achieve

[2020-05-04 16:31] adrian-tarau commented on #815
let me add to it ... I want RSocket to inform be about anything that could not be delivered so I can make the decision on what to retry, when and if it cannot be delivered, track that and inform the client when a task failed because it cannot be processed.

[2020-05-04 16:35] adrian-tarau commented on #815
the reconnect is useful if the connection is lost ... for a short period of time ... I presume an error is not fired as long as it can re-connect? The problem that I want to solve is to not let RSocket decide when to log "issues". As a client, I'm creating a connection for each logical endpoint ... and if a failure occurs, I have the information to decide if the endpoint is offline (for whatever r

[2020-05-04 16:39] adrian-tarau commented on #815
On top of this, I want to track errors, decide what to blacklist, for how long ... basically do not log errors because any LOGGER.error is tracked and reported and it just gives the wrong idea about the health of the system. There are counters tracking all sorts of "bad" events for this purpose. :)

[2020-05-04 16:46] adrian-tarau commented on #815
There is no need to log communication errors, those will be tracked in Grafana ... if an event fails, after all, retries, then we increase the counter associated with "undelivered event for event type". The client will handle these communication errors by rescheduling the task, etc ... but definitely not desired to see LOGGER.error for things that can be recovered, one way or another.

I actually

[2020-05-04 16:51] OlegDokuka commented on #815
Let me try to prepare a sample app for you

[2020-05-04 17:12] adrian-tarau commented on #815
Many thanks ... maybe it should be added to the home page, after "Trivial Client" ;)

[2020-05-04 17:29] rstoyanchev commented on #815
That sounds like the [reconnect feature](https://github.com/rsocket/rsocket-java/blob/c9a4f064ca1fe8fb06b67f7ac09ba2777bbb5634/rsocket-core/src/main/java/io/rsocket/core/RSocketConnector.java#L274-L336). The input `Retry` allows you to configure what that threshold is and when to give up.

That is how it works. When the connection is lost, you still need to re-subscribe (i.e. some retry logic) in

[2020-05-04 21:45] adrian-tarau commented on #815
@rstoyanchev I'll try the reconnect, thanks.

Regarding logging, wiretap(true) actually changes the pipeline, and then you can play with logging. However, in this case, I have no control over enabling logging...it's always on.  Since LOGGER("io.rsocket.FrameLogger") always logs with ERROR level every time something goes wrong, the only option would be to set the logging level to FATAL for "io.rsoc

[2020-05-05 06:29] rstoyanchev commented on #815
That's in line with my suggestion I think that frame logging should be off by default irrespective of log settings for "io.roscket". Once enabled explicitly (like wiretap) it can then be controlled with log settings. Perhaps also it should log consistently at DEBUG level.

[2020-05-05 09:20] OlegDokuka commented on #815
@adrian-tarau here is a sample app I prepared for you -> https://github.com/OlegDokuka/rsocket-reconnect-demo. Hope it shows the use-case and will help you adjust your code

[2020-05-05 15:35] adrian-tarau commented on #815
@rstoyanchev it is off by default, I did not enable it. Looking at the code, I do not see in any way how this LOGGER.error would not happen regardless of how RSocket/Reactor setup :)

The logger is created in ClientServerInputMultiplexer, created in RSocketConnection and RSocketServer and the exception is logged on errorConsumer ...unless the error is handled ahead, it will be logged.

Sorry if I

[2020-05-05 15:50] adrian-tarau commented on #815
@OlegDokuka thanks ... I'll integrate the retry part and simulate it in my context. But in the end, it still does not address my issue ... which is undesired logging of ERROR messages (or even WARN for that matter). I understand the retry will help with temporary connection issues and it would be transparent for the client, up to a point (number of retries).

However, as I tried to explain to @rst

[2020-05-05 15:52] adrian-tarau commented on #815
By "tell me" I mean RSocket, not you personally :)

[2020-05-05 17:02] OlegDokuka commented on #815
Can not you just put in logging config such as the [following](https://github.com/OlegDokuka/rsocket-reconnect-demo/blob/master/src/main/resources/logback.xml#L29)
to just turn off all the logs for

[code]

[2020-05-05 17:03] adrian-tarau commented on #815
I can, but I was looking for a more elegant solution ;)

[2020-05-05 17:05] OlegDokuka commented on #815
Well. I believe I can do something like wiretap in reactor-netty to make stuff more elegant.

Are you up for that @rstoyanchev ?

[2020-05-06 01:53] adrian-tarau opened #816 "KeepAliveSupport$ClientKeepAliveSupport fills the Executor queue"
Trying to troubleshoot some issues, support to export Reactor metrics to Grafana was added. To my surprise, the queue was always filled with tasks, even if nothing much happened in the app.

[code]

Took a memory dump, looked in the queue,  and the queues were full of KeepAliveSupport$ClientKeepAliveSupport ...

Not much is described about keep alive other than "it is required" (based on JavaDoc c

[2020-05-06 05:15] rstoyanchev commented on #815
@adrian-tarau I think you keep missing my point. I'm discussing a potential enhancement.

That said on a closer look, I don't think "wiretap" setting would solve anything. The `"io.rsocket.FrameLogger"` is already logging frames at DEBUG while the [log message](https://github.com/rsocket/rsocket-java/blob/c9a4f064ca1fe8fb06b67f7ac09ba2777bbb5634/rsocket-core/src/main/java/io/rsocket/internal/Clien

[2020-05-06 06:02] OlegDokuka commented on #815
I believe that the issue is to disable all the error logging since, as I understood it correctly, the auto-balancing is done based on the logs analysis. And, unfortunately, in order to disable all the logs from `ClientServerInputMultiplexer` we have to make `FrameLogger` to the level `off` because we have one place which going to be logging all the error
https://github.com/rsocket/rsocket-java/blo

[2020-05-06 06:14] OlegDokuka commented on #816
KeepAlieve is an important part of the connection failure diagnosis that we have in RSocket. Thus JavaDocs says to enable it and have a meaningful ping period and the timeout period.

I believe that you are using MetricsDuplexConnection which is logging all the signals on the level of connections (basically it logs all the frames which are going through the stream).

Thus I have a question whether

[2020-05-06 12:45] adrian-tarau commented on #816
Meaningful but not mandatory? When I tried to set the ping interval to 0, which the code allows ... nothing worked. Anyway, the goal is not to remove this feature, the goal is to be able to see what's "pending" .... large number of tasks pending (in a given service or across all), there is a problem. However, it is not possible to do that since the queues are full of these ping tasks.

The only th

[2020-05-06 12:50] adrian-tarau commented on #815
@rstoyanchev Perfectly agree with the purpose of logging what's on the wire for RSocket ... however, if there is an error, one could expect to be notified on the doOnError? It should not be the role of the "logger" class ... I would think?

[code]

[2020-05-06 12:54] adrian-tarau commented on #815
I'm perfectly fine suppressing these :) As long as I can make them disappear, all is good. I'm just trying to give my feedback/suggestion ... I think the client should be notified about these network errors (they are passed to doOnError, right? I did not check) and not logged automatically.

[2020-05-06 15:24] OlegDokuka commented on #815
I believe that we can improve that. Thus thanks a lot for sharing your vision @adrian-tarau !

[2020-05-06 16:51] adrian-tarau commented on #815
yeah, I would not call it vision ... but thank you ;)

[2020-05-06 17:33] OlegDokuka opened #818 "Consistent declaration of Nullability semantics in all of RSocket Java"
Let's use the Reactor `@Notnull` and `@Nullable` annotations

[2020-05-06 18:33] jkschneider opened #819 "Interaction between RSocket onClose and dispose"
In 1.0.0-RC7 it seems like for `onClose()` to be subscribable, we have to do something with the "error" resulting from the `dispose()` that previously was not required. This is a _passing_ test written in `RSocketTest` that demonstrates what seems to be required:

[code]

Otherwise you get the exception:

[code]

I did the weird `map(v -> 1).onErrorReturn(1)` thing because for the latch to count d

[2020-05-06 18:38] rstoyanchev commented on #818
Currently some packages are annotated with Reactor's `@NonNullApi` which declares parameters and return values as not returning null by default. Other packages have `javax.annotation.ParametersAreNonnullByDefault`. Yet other packages have no package-info and no annotations at all. Likewise some places use Reactor's `Nullable` and others `javax.annotation.Nullable` to mark override that.

One, we s

[2020-05-07 07:25] rstoyanchev commented on #819
This is shutting down cleanly for me in RC7:
https://github.com/benwilcock/spring-rsocket-demo/blob/a9957ba5caecfb21fb5753e9e582d8ee17ba6294/rsocket-client/src/main/java/io/pivotal/rsocketclient/RSocketShellClient.java#L52-L53

In other words, just `onClose().doFinally(..).subscribe()`.

[2020-05-07 07:32] rstoyanchev opened #821 "java.util.concurrent.CancellationException stacktrace when channel closed in 1.0 RC7"
I noticed this while testing #820. A channel [is closed](https://github.com/benwilcock/spring-rsocket-demo/blob/a9957ba5caecfb21fb5753e9e582d8ee17ba6294/rsocket-client/src/main/java/io/pivotal/rsocketclient/RSocketShellClient.java#L114) from the client side and this appears [on the server](https://github.com/benwilcock/spring-rsocket-demo/blob/a9957ba5caecfb21fb5753e9e582d8ee17ba6294/rsocket-serve

[2020-05-07 07:51] #787 closed

[2020-05-07 08:03] rstoyanchev commented on #819
but I suppose the key is to wait..

[2020-05-07 13:25] jkschneider commented on #819
@rstoyanchev I think only because you have the `doOnError` [right above it](https://github.com/benwilcock/spring-rsocket-demo/blob/a9957ba5caecfb21fb5753e9e582d8ee17ba6294/rsocket-client/src/main/java/io/pivotal/rsocketclient/RSocketShellClient.java#L51). I've observed that `doOnError` has the same effect as a `onErrorReturn`, etc.

Prior to RC7, I had an `onClose()` without either of these and ev

[2020-05-07 13:34] jkschneider commented on #821
Possibly related to https://github.com/rsocket/rsocket-java/issues/819. Possible something changed in `reactor-core`.

[2020-05-07 15:39] a701440 opened #822 "LoadBalancedRSocketMono (LatencySubscriber) does not seem to propagate subscriber context properly"
I am trying to pass additional information in subscriber context through the `LoadBalancedRSocketMono` to my implementation of RSocket. It seems like `LoadBalancedRSocketMono` does not properly propagate it up the subscription chain.

After debugging it for a bit it looks like subscriber context is present as expected on the
LatencySubscriber child argument. (child.currentContext() has the data),

[2020-05-07 17:03] regbo opened #823 "Enhancement - Client/Server Routing and Function Mapping"
I've used RSocket in a few projects now, and we always seem to spend a lot of time with:

- Routing payloads on the server side
- Serializing payloads to interact with legacy code

I know there's Netifi and other protobuf rpc projects, but a lot of them seem like overkill to improve the above.

I created a simple library that aids in some of this by allowing routable "handlers" to be added to serv

[2020-05-07 17:07] OlegDokuka commented on #823
Hi @regbo!

Thanks for sharing your project. We have RSocket-RPC-Java which has an IPC module that does the same. (https://github.com/rsocket/rsocket-rpc-java/blob/master/rsocket-ipc-core/src/main/java/io/rsocket/ipc/IPCRSocket.java). Feel free to contribute if you think it can be improved.

Cheers,
Oleh

[2020-05-07 17:07] #823 closed

[2020-05-07 17:20] regbo commented on #823
AH! I saw thought that project only used protobuf, and i missed the IPC subproject.

Oops. Thanks!

[2020-05-07 17:30] spencergibb commented on #823
Also https://github.com/rsocket-routing

[2020-05-08 03:26] maxim-bandurko-lsvt opened #825 "Spring Boot 2.3.0.RC1 - RSocket over Websocket transport - requestStream - produces additional request(255)"
Had created the issue at Spring Boot, but may be this should be posted here:
https://github.com/spring-projects/spring-boot/issues/21360

With latest 2.3.0.RC1 RSocket "requestStream" started producing additional request to Flux inside controller with quantity 255.

Configuration to reproduce the issue:

Spring Boot 2.3.0.RC1
RSocket plugged to server
Transport - Websockets
Using @MessageMapping c

[2020-05-08 06:24] OlegDokuka commented on #825
Hey @maxim-bandurko-lsvt.

This is expected.
It does not produce values over the network but produces it and keep in the local queue. We use the operator `limitRate` to ensure that a responder stream does not overflow the connection bandwidth when a request sends Long.MAX_VALUE.

Is such behavior breaks your business logic?

Cheers,
Oleh

[2020-05-08 11:18] asiab1 opened #827 "rsocket channels - publishOn sometimes doesn't cause next operators to run on scheduler"
Context:
Rsocket SpringBoot + JS
Some of the endpoints are prepared in a channel model. Frontend side uses rsocket-flowable to prepare publisher and then uses it to send data to the server.

Method which transforms this stream and returns another one looks like this:

[code]

**address** flux is supposed to deliver currently observed element to get updates when it's value changes. **changes** flux

[2020-05-08 11:22] OlegDokuka commented on #827
Hey @asiab1!

Thanks for sharing your findings.
Can you please provide a few answers:
  1. What version do you use?
  2. Does it reproduce without RSocket but with the similar conditions?
  3. Do you have any samples in the isolations to reproduce this issue if it is strictly related to RSocket?

Cheers,
Oleh

[2020-05-08 12:32] asiab1 commented on #827
Hi! Thank you for your quick response.

1. 1.0.0-RC6
2. I tried to reproduce it in tests when using the same set of operators, but without such effects.
3. Unfortunately at this moment I have no any isolated samples. I would need some time to prepare such.

I add log() operators between _doOnNext_ and _publishOn_ and between _mergeWith_ and _map_ and here are the logs:

normal behaviour:
[code]

w

[2020-05-08 12:43] asiab1 commented on #827
I've also tried logging from inside getData(address) method and the same result - usually **basic-data-...** thread, but sometimes **reactor-http-epoll-...**

[2020-05-08 13:45] OlegDokuka commented on #827
First of all, there is no guarantee that `publishOn` will guarantee that changes will be run on the same thread as you `publishOn`. Because of racing, you may easily end up that after `mergeWith` everything will be processed on the different thread then you specified by `publishOn`.

Better to see a code sample to explain where did you put logging in.

hah, that is the reason. And the rootcause, I

[2020-05-08 14:06] asiab1 commented on #827
To be clear - changes stream doesn't come from rsocket - it's output of TopicProcesor created by us. And described situation happens ONLY for events comming from front (**Flux\<Address\> address**). No event was published by **changes** at that moment.

And here is the code with added log operators:

[code]

[2020-05-08 14:10] OlegDokuka commented on #827
So, to clarify...

you say that if you write something like

[code]

it is going to mix different, is it correct? (just double checking)

Also, can you try to repro the same with RC-7, just to make sure we have that issue still?

Cheers,
Oleh

[2020-05-08 17:31] maxim-bandurko-lsvt commented on #825
Hello Oleg @OlegDokuka

Thing is that client is not sending request Long.MAX_VALUE. It is sending request(1) or request(10), etc. And Java server is getting this amount of request, but additionally triggers one more request(255). But server doesn't deliver 256 requests, it delivers only 1 to client (that was requested by it). So, other 255 got prefetched.

Here is a basic example on server side:

[2020-05-08 19:24] OlegDokuka commented on #825
As I said this is expected. It is done to *prevent* potential cases when the possible overwhelming may happen  in case there is Long.MAX-Value requested.

It means that starting from RC7 it will always prerequest in advence 256 elements regarless the number of elements was originally requested. (applies for requestStream and requestChannel cases only)

This is the result of applying '.limitRequest

[2020-05-08 20:25] maxim-bandurko-lsvt commented on #825
@OlegDokuka I see.

How can I configure to disable it? That is some kind critical and breaks all initial rules of backpressure logic that were originally developed.

Thank you!

[2020-05-08 20:27] OlegDokuka commented on #825
Unfortunately, for now, you can not. I will create a PR that should provide a way to configure that.

Please stay tuned

[2020-05-08 20:27] maxim-bandurko-lsvt commented on #825
@OlegDokuka btw, may be limitRate can have an option, to not add additional requests if the rate is not reached? I mean, in situation, if requested is lower the minimal rate.

[2020-05-08 20:29] OlegDokuka commented on #825
@maxim-bandurko-lsvt

Previously we had such a mechanism, but then we decided to use a built-in option from ProjectReactor.

cc/ @simonbasle @rstoyanchev

[2020-05-08 20:55] maxim-bandurko-lsvt commented on #825
@OlegDokuka I see,

So, it may be even makes sense to have such mechanism be implemented inside limitRate at ProjectReactor.

Other thing, is that such limiter is needed only at certain level of inner streams, not in the root level. Like, directly between the database operations, etc. So, developer can make a discussion himself, at what exact place to have such limiter injected. As if that will be

[2020-05-08 20:57] OlegDokuka commented on #825
Funny) Feel free to leave your comment on my PR -> https://github.com/reactor/reactor-core/pull/1879

[2020-05-08 20:57] OlegDokuka commented on #825
Oh, well, you have already left one, which I was not aware of

[2020-05-08 21:02] OlegDokuka commented on #825
Anyways, let me talk with @rstoyanchev on the closest day to provide a proper resolution for that.

1.0.0 is scheduled for the next Monday, so I really hope that we can solve it by that time

[2020-05-08 21:08] maxim-bandurko-lsvt commented on #825
@OlegDokuka Thank you very much!

Also, is PR 1.0.0 will be inside upcoming PR of Spring Boot 2.3.0?

[2020-05-08 21:09] OlegDokuka commented on #825
Yup. 1.0.0 is exactly dedicated for the SB release

[2020-05-08 21:09] maxim-bandurko-lsvt commented on #825
@OlegDokuka Awesome! Thanks!!!

[2020-05-09 06:42] rstoyanchev commented on #825
@maxim-bandurko-lsvt thanks for the extra details. That's very helpful and timely feedback. I'm wondering have you considered the case where a client can request a very large number (intentionally or not) or is that not possible?

@OlegDokuka not sure if that helps to focus the efforts for https://github.com/reactor/reactor-core/pull/1879 but I think ideally RSocket streams should only be protecte

[2020-05-09 15:34] alex-dukhno opened #828 "Move client and server specific code into rsocket-server, rsocket-client from rsocket-core"
I have a question/suggestion to move out client and server specific code out of `rsocket-core` into modules like `rsocket-client` and `rsocket-server` respectively. That allows to get rid of `reactor-core` and `reactor-natty` dependencies from `core` artefact, which are implementation specific. Anyone can implement java rsocket implementation with their own server and client implementation.

By do

[2020-05-09 15:42] #828 closed

[2020-05-10 00:11] maxim-bandurko-lsvt commented on #825
@rstoyanchev As we have 2 options that requestStream and requestChannel provides (per demand request of data amount of witch will be only initiated and controlled by client, and flow of all available data originated by server that is ready to be delivered), it happens, that in real life applications, logic to request certain amount of data that they need and when they need, is in may times higher.

[2020-05-10 00:57] maxim-bandurko-lsvt opened #831 "Spring Boot - Interception of HTTP request headers at request upgrade/handshake"
I was trying to implement the native browser Cookie/Session authentication to RSocket plugged to server at Spring Boot, and can't find easier way of how intercept the request headers passed before handshake process not using much reflection overriding and excluding of private classes. May be there is some easier way exists already that allows to configure a bean that will intercept request headers

[2020-05-10 05:26] maxim-bandurko-lsvt commented on #825
@rstoyanchev @OlegDokuka Seems I wrote too much at previous comment and forgot to add couple of more.

Limit rate operator almost not solving issues with breaking server in cases with streams end points that works with databases. And more on that, it breaks other logics. Even having ability to define at LimitRateInterceptor the default prefetch number and highTide number, that makes limit rating t

[2020-05-10 08:56] OlegDokuka commented on #825
Right. That is why I completely remove It and just kept an example on how limitRate might be installed.

Please keep in mind that limitRate is jot for databases, or upstream systems, it for rsocket safety.

Remember that along with requester demand there is network bandwidth and if your app overwhelms network bendwidths, it is going to endup with OOM exceptiin and simple crush of the requester/res

[2020-05-10 20:34] #825 closed

[2020-05-10 20:37] maxim-bandurko-lsvt commented on #825
@OlegDokuka I see. Thanks for detailed explanation!

Was thinking about original idea idea on backpresure, and like with simple websockets (not rsocket), any app that uses this transport had to consider the bandwidth usage in it's operational logic. So, apps are originally engineered to not get in situations with overwhelming client or server with produced data (I am not talking about apps, that d

[2020-05-10 20:41] OlegDokuka commented on #825
yes. that will be configurable

[2020-05-10 20:44] maxim-bandurko-lsvt commented on #825
Awesome, thanks!

[2020-05-11 07:11] codependent commented on #719
After upgrading to RC7 and replacing the deprecated classes the sample started working:

Server:
[code]

Client:

[code]

[2020-05-11 10:08] #818 closed

[2020-05-11 12:21] asiab1 commented on #827
If I add log() after publishOn() (like in your example code) it will behave as expected - publishOn works and changes thread to the one from scheduler.

Upgrading rsocket to RC-7 unfortunately didn't make any change.

I've finally found the solution in this case which seems to work. It looked like the problem occurs between publishOn() and merge() so I tried to move publishOn() after merge(). It n

[2020-05-11 13:30] #819 closed

[2020-05-11 13:50] asiab1 commented on #827
If you would like to analize this issue anyway, here are logs with stack from both situations - expected one and the second, when publishOn is not "used". I hope it will be helpful.

Logs refer to app run with rsocket version RC-7 and this piece of code:

[code]
expected:

[code]

publishOn not working:

[code]

[2020-05-11 14:34] pckeyan commented on #719
@codependent Sending TrustManager earlier as well worked for me as stated above. Did you find the root cause of this issue or @OlegDokuka can you please update on the root cause for our knowledge? Just curious to learn.

[2020-05-11 16:09] OlegDokuka commented on #827
After all, I believe that there is a misunderstanding about how Reactor should be using and I don't think that there are any issues related to RSocket_Java it selves.

I'm closing this issue as for now until there is proper reproduce of the exception which might be tested locally.

Feel free to reopen your issue when you have something to show.

Cheers,
Oleh

[2020-05-11 16:09] #827 closed

[2020-05-11 23:02] #583 closed

[2020-05-12 08:56] OlegDokuka commented on #821
The issue related to the fact that dropped errors is not force logged in the reactor, which is fully the reactor related issue (for more info see https://github.com/reactor/reactor-core/issues/1431).

[2020-05-14 14:19] pckeyan commented on #758
Just a gentle reminder @OlegDokuka

[2020-05-15 18:10] mostroverkhov commented on #749
This looks like a good start - can you explain why introduce separate scheduler instead of delegating to transport which likely has event loop already @OlegDokuka @rstoyanchev ?

[2020-05-15 18:18] mostroverkhov opened #837 "RSocketRequester: unsafe usage of streamId across all interactions"
PR #807 introduced RequestOperator, whose callbacks `hookOnFirstRequest()`, `hookOnRemainingRequests()` are not signalling events in [serial](https://github.com/reactive-streams/reactive-streams-jvm#term_serially) way. `streamId` plain reference is unsafely accessed from within above, and also within termination callbacks `hookOnTerminal()` -  called on onComplete & onError signals - that are allo

[2020-05-15 18:47] OlegDokuka commented on #837
This in no true and it contraditcts reactive streams rule 2.7
https://github.com/reactive-streams/reactive-streams-jvm/tree/v1.0.3#2.7

Not true as well since `hookOnTerminal` may be called only by the remote responder frame which happens right after the first request has happened (because in `hookOnFirstRequest` we initiate stream, so termination can not happen before the stream is initiated). So

[2020-05-15 18:53] OlegDokuka commented on #749
Having a scheduler in the request stream is a temporary fix as the result of improper architecture.

1. We do not want to introduce new API which one has to support (e.g alloc on the duplex connection)
2. Executing requests on the event loop may impact generally impact (client / server) throughput

Thus, the simples and the most straight forward solution for achieving serial ID issuing to satisfy

[2020-05-15 19:38] mostroverkhov commented on #837
I mention rule 2.7 specifically -
[code]
Are you saying `Subscriber` (as implemented by user of reactor) must establish `happen-before` between separate `subscription.request(n)` if It wants to call them from different threads, guaranteeing there is no race between calls? It seems reactor subscribers and sources are prepared to handle different thread request(N):
https://github.com/reactor/reactor

[2020-05-15 19:40] mostroverkhov commented on #837
Let me reopen issue as I am weighting whether to switch to 1.0.0 release from my own fork - I will close this by end of the weekend

[2020-05-15 19:52] mostroverkhov commented on #749
The thing is request frames end up on transport event loop anyways, you just add redundant scheduler queue without possibility to opt out - not everyone needs parallel scheduler, but many would benefit if transport scheduler was exposed on RSocket interface so clients can use them in respective operators without hopping threads

[2020-05-15 20:10] mostroverkhov opened #838 "RSocketResponder: fire-and-forget, metadata-push errors are ignored"
Some time ago those errors were delivered to `errorConsumer`: (Throwable) -> {}, now they are ignored. Was this change deliberate?

https://github.com/rsocket/rsocket-java/blob/d8da87af65f9f011af8eca0c20e6004a348d3ef0/rsocket-core/src/main/java/io/rsocket/core/RSocketResponder.java#L379

[2020-05-15 20:20] OlegDokuka commented on #837
## Part 1. Rule 2.7

This rule certainly says that Subscriber MUST ensure Serial access.

`Must` means that the `Subscriber` mandated to take care of the following:

1.  > In the context of a Signal, non-overlapping.

Explicitly says -> no simultaneous calls on request

2. In the context of the JVM, calls to methods on an object are serial if and only if there is a happens-before relationship betw

[2020-05-15 20:21] OlegDokuka commented on #837
Feel free to reopen this issue if you have a valid test that reproduces this particular scenario

[2020-05-15 20:25] OlegDokuka commented on #838
This is up to the user on handling `fireAndForget` error and dealing with it on the application level. Since `fnf` is the best effort and responses are deliberately has no effect, supplying this error to the `errorConsumer` makes no sense since the same can be done via the `doOnError` handler or instrumented separately via the interceptor

[2020-05-15 20:31] OlegDokuka commented on #749
As I mentioned before, the need to use eventLoop is specifically to support Http/2 case. It  Introducing a new API that does not pay the bill for future support, especially taking into account that this code will be eliminated and redesigned. Thus, RSocketRequester will be unaware of `streamId` at all and its issuing will be a transport-specific concern.

[2020-05-15 20:49] OlegDokuka commented on #837
Well. I can see the same guard in the original source of reactive-streams. (https://github.com/reactive-streams/reactive-streams-jvm/blob/master/examples/src/main/java/org/reactivestreams/example/unicast/RangePublisher.java#L116)

But I'm still not sure this is applicable for intermediate operators. Thus input from @viktorklang side is really appreciated

[2020-05-15 21:22] OlegDokuka commented on #837
Alright. After some thoughts I ended up there there is no violation of the spec. there is no possibility to call requests simultaneously for intermediate operators.
Publisher subscription is called serially.

E.g let's take into account the `FluxPublishOn` case where the first request happens on the publisher thread -> new `onNext` calls are scheduled on the worker, and the worker does `subscripti

[2020-05-16 05:29] mostroverkhov commented on #837
Ok, can you confirm that [RequestOperator.request(n)]
(https://github.com/rsocket/rsocket-java/blob/1181272ca8e680b6eb25f9d774c2a71faf670caa/rsocket-core/src/main/java/io/rsocket/core/RequestOperator.java#L69) must *only* be called from within `Subscriber.onSubscribe(Subscription)` and `Subscriber.onNext` *synchronously* through `Subscription.request(n)` as this operator piggy backs on thread safe

[2020-05-16 06:15] mostroverkhov opened #841 "Symmetric SocketAcceptor on both client and server is prone to deadlock"
#676 introduced client/server `SocketAcceptor` of same form `(SetupFrame, RequesterRSocket) -> Mono<HandlerRSocket>`, which deadlocks RSocket if *both* acceptors do e.g.
`return RequesterRSocket.requestResponse(Payload).map(Payload -> HandlerRSocket)`. `SocketAcceptor` could be of form `(SetupFrame, RequesterRSocket) -> HandlerRSocket` on both sides (symmetric), with server signature `(SetupFrame,

[2020-05-16 08:04] OlegDokuka commented on #841
Hey @mostroverkhov.

Can you please provide an example that can reproduce that issue?

[2020-05-16 08:16] OlegDokuka commented on #837
Sorry, but I do not fully understand the question.

In the context of RSocket, all external calls to the subscription happen in a serial manner. That said if `BaseSubscriber#request` is called as the result of `request(N)` this happens in a serial manner and exactly after the `streamId` was set. It means that all subsequent reads will observe the value stored in the field.

If `Subscriber` is impl

[2020-05-16 16:23] OlegDokuka commented on #837
Alright. After paying around subscribeOn operator, I have to admit that I was wrong and there is possible racing even though it contradicts specification. Hence, we have to implement proper guarding

[2020-05-16 16:26] #837 closed

[2020-05-17 10:44] PMacho commented on #786
@OlegDokuka

Hi,

I did some work, trying to make the socket pooling/selection reactive (without synchronized methods). An unordered snapshot can be viewed on my github page, the main entry point is LoadBalancedRSocket.

I however came across quite some issues. I'd like to have a bit of discussion with someone before investigating too much time into things, that might not be accepted later. (I am

[2020-05-17 10:47] OlegDokuka commented on #786
@PMacho

Hey. I also started to reimplement LoadbalancingRSocket on my own. if you wish we can have a call and discuss all these questions

[2020-05-17 15:58] PMacho commented on #786
Ok we definitely should. Otherwise, we’ll do the work twice. How can I reach you?

[2020-05-17 16:00] OlegDokuka commented on #786
Please drop me a message at https://twitter.com/OlehDokuka

[2020-05-18 07:35] mostroverkhov opened #842 "IllegalReferenceCountException: refCnt: 0 when doing RSocketConnector.reconnect()"
With simple server
[code]

and client

[code]
After server is torn down/ started again, client does not reconnect and has `refCnt: 0` in retry callbacks:

[code]

[2020-05-18 10:50] OlegDokuka commented on #842
Indeed. That is a bug. Thanks for reporting that finding @mostroverkhov.

I believe that the proper solution for that would be providing `.setupPayload(Supplier<SetupPayload> payloadSupplier)` and documenting behavior with reconnect. What do you think @rstoyanchev

[2020-05-19 10:03] rstoyanchev commented on #842
Perhaps we could make it more transparent, e.g. when `reconnect` is on, make a copy of the setup/data payloads or use an extra retain for each use.

[2020-05-19 17:52] rstoyanchev commented on #841
@mostroverkhov, the symmetric `SocketAcceptor` was meant to allow 3rd party components like Spring Security to get access to connection setup info from either side. The name `SocketAcceptor` is certainly a stretch from the client side, and something like `ConnectionHandler` would be more fitting I think.

That said I don't see why both client and server shouldn't be able to do something async befo

[2020-05-19 19:59] #842 closed

[2020-05-20 20:17] rwinch opened #846 "Deadlock on Connection with Errors"
When creating a connection with errors, deadlock often occurs. For example, if Spring Security's authorization fails at connection time [this causes deadlock](https://github.com/spring-projects/spring-security/issues/8531).

I have put together a minimal sample (only RSocket dependencies) that reproduces the [issue here](https://github.com/rwinch/rsocket-java-gh-846-hangs). To reproduces run the t

[2020-05-21 07:24] OlegDokuka commented on #846
can be related #743

[2020-05-21 15:41] pckeyan commented on #758
@OlegDokuka In the mean time, I tried with Postgresql. The RPS is at the same level of around 200-300. I tried with R2DBC but it is behaving weird. So could not complete the test with r2dbc. Can you please explain why the throughput is very low?

[2020-05-21 15:46] OlegDokuka commented on #758
@pckeyan

do you mean HTTP vs RSocket on the pure JDBC is on the same level (I guess this can be simply DB limitation to have that number of requests per sec, I'm wondering what is the performance of the same without a network at all).

And is the second question related to jdbc vs r2dbc?

[2020-05-21 16:47] pckeyan commented on #758
@OlegDokuka Either Cassandra or Postgresql, the throughput is same around 200 - 300 RPS. This is way less compared to HTTP (800 RPS), These testing is on same local device. The test uses JDBC. Cassandra states that it can support upto 80K RPS with One connection. For Postgresql, I increased the connections, but no success. Can you please test against a database and provide some metrics to compare?

[2020-05-26 07:37] #846 closed

[2020-06-01 06:35] mostroverkhov opened #852 "Refcnt:0 error - ConnectionSetupPayload.retain() on client acceptor is ignored"
[code]

Results in
[code]

[2020-06-01 06:37] mostroverkhov opened #853 "Requester receiver hookOnTerminal() not called if downstream throws, leaks terminated stream"
If Requester stream subscriber throws, RequestOperator.hookOnTerminal() [is not called](https://github.com/rsocket/rsocket-java/blob/814c2792b206374e840ac75260d113317d76ff1e/rsocket-core/src/main/java/io/rsocket/core/RequestOperator.java#L144), and receiver is never removed from `receivers` map. This includes `OnErrorNotImplementedException` error from reactor's default `LambdaSubscriber` (if resp

[2020-06-01 08:10] OlegDokuka commented on #853
Hey @mostroverkhov!

First of all, due to https://github.com/reactive-streams/reactive-streams-jvm#2.13 all onXXX calls MUST return normally. Therefore, there is no sense to cover

[code]
with try-catch statement.

Secondly, if `LambdaSubscriber` throws an exception in any of the signals handlers, it complements such calls with its own try-catch logic and then cancels subscription,  therefore, rec

[2020-06-01 08:26] OlegDokuka commented on #853
Feel free to provide a failing test if there is one

[2020-06-01 16:39] pckeyan commented on #758
@OlegDokuka Any benchmark available against a database backend? Can you please share a sample? Please let me know your recommendations.

[2020-06-01 16:43] pckeyan commented on #716
@OlegDokuka Please add this feature of adding new endpoint at Runtime to the LoadBalancer Feature.

[2020-06-01 17:02] OlegDokuka commented on #716
I'm not quite understand what  is the exacted behavior.
@pckeyan csn you please explain it?

[2020-06-01 17:16] #852 closed

[2020-06-01 17:17] OlegDokuka commented on #852
should be fixed and available in 1.0.1.

Thanks for reporting @mostroverkhov

[2020-06-01 17:22] pckeyan commented on #716
Sure @OlegDokuka. Once I start a LoadBalancer with Suppliers, based on load if I bring up a new node to participate with this LoadBalancer; there is no way to add to the LoadBalancer. Even if I add to the underlying Flux it is not refreshing. So I have to always create a new LoadBalancedRSocketMono inorder to use the new node to load balance.

[2020-06-01 17:33] OlegDokuka commented on #716
Yeah. This is a bug. So it is not a future but rather a bug so it should be fixed

[2020-06-02 17:17] yamass opened #857 "IllegalReferenceCountException - "Failed to release a message: PooledSlicedByteBuf(freed)""
When I execute the following code, I get the error message mentioned in the title (and below).

It only happens when not registering an error handler for a flux that actually throws an exception.

Anyway, this might cause severe problems (memory leak?), so I thought I would mention it.

## Expected Behavior
No IllegalReferenceCountException

## Actual Behavior
Exception and error log.

[code]

##

[2020-06-02 17:39] OlegDokuka commented on #857
#853 related

[2020-06-02 17:40] OlegDokuka commented on #853
closes this in favor of #857

[2020-06-02 17:40] #853 closed

[2020-06-02 17:44] OlegDokuka commented on #857
@yamass thanks for reporting that. And your test is real UT (it compiles and runs!).

Coming back to refcnt issue... The problem is not related to memory leaks. We have a different bug that may end up that buffer releases twice. I believe that the stacktrace was copied from your real app since the test is not reproducing it (also it may be because of the zero-copy decoder).

Any extra input is wel

[2020-06-02 17:48] yamass opened #858 "take() ignored when resuming after Exceptions$ErrorCallbackNotImplemented"
I am using the resume() functionality. I have experienced a very strange behavior that I consider one or multiple bugs. It might also be related to https://github.com/rsocket/rsocket-java/issues/857, since it also logs the message mentioned there.

When calling requestStream() and subscribing to the returned flux without an error handler, the connection gets closed with the following error log:

[

[2020-06-02 17:49] yamass commented on #857
I also filed https://github.com/rsocket/rsocket-java/issues/858 . As mentioned, it might be related to this issue.

[2020-06-02 17:52] OlegDokuka commented on #858
Connection close is related to #857. A memory leak may be related to the fact that resume implementation right now is unstable

[2020-06-02 17:53] OlegDokuka commented on #858
Let me fix #857 first and then we can double-check whether cancel works in that scenario

[2020-06-02 17:55] yamass commented on #858
Thanks, @OlegDokuka.

In the meantime, I will workaround by registering error handlers everywhere (a good idea anyway).

[2020-06-02 17:56] OlegDokuka commented on #858
I will ping you shortly to check whether a fix for #857 causes a different issue with that one

[2020-06-02 20:17] OlegDokuka commented on #857
@yamass I'm afraid I will close this one as WONTFIX. This is the reactor specific issue that breaks all Reactive-Streams rules and I guess it should be fixed in rector rather than in RSocket.

If it is not, 1.1 will be introducing specific operators that should minimize the reactor's impact.

[2020-06-02 20:18] OlegDokuka commented on #858
@yamass is this issue can be reproduced when the  `.subscribe` error handler is implemented?

[2020-06-03 12:36] rstoyanchev commented on #858
@OlegDokuka and are discussing this. Here are some findings.

The subscribe without an error callback results in a Reactor `ErrorCallbackNotImplemented` which propagates through `onXxx` methods and that is not allowed by Reactive Streams. The error reaches Reactor Netty and the connection is closed.

This is okay when resume is not enabled since the connection closing propagates to `RSocketRequest

[2020-06-03 13:33] yamass commented on #858
@OlegDokuka As @rstoyanchev already described, this does not happen when subscribing with an error handler. This is a practicable workaround in short term.

@rstoyanchev  Is there any way I can make the connection not be closed on these kinds of errors? In my application, all requests are completely independent of each other, so if one of them fails with a bubbling Exception and causes the connect

[2020-06-03 14:12] OlegDokuka commented on #858
There is no such things. We will provide a short time workaround as of now. As the further steps, it will be fixed in reactor

[2020-06-04 08:30] OlegDokuka commented on #857
A fix for #858 will be provided but we are not sure how the `ByteBuf` double release may be related to the error-handler issue since the unite test provided is not reproducing it.

Therefore, once #858 is fixed, please double check this one and if it is not reproducing anyhow or reproduces with another test, please provide extra input if you want us to continue working on this.

Cheers,
Oleh

[2020-06-04 09:24] rstoyanchev commented on #753
This should be addressed with #844. The `setTransportHeaders` is deprecated in favor of using `Supplier<WebsocketClientSpec.Builder>` or the convenience method `header(String, String...)` method.

[2020-06-04 09:24] #753 closed

[2020-06-04 09:26] rstoyanchev commented on #525
This should be possible after #844 which allows customizing the `WebsocketClientSpec` passed to `HttpClient`.

[2020-06-04 09:26] #525 closed

[2020-06-04 09:35] rstoyanchev commented on #841
Closing for now as there are no plans for immediate changes.

[2020-06-04 09:35] #841 closed

[2020-06-04 09:44] rstoyanchev commented on #838
The `errorConsumer` was too broad of a callback, and while you can get all errors, you never know what exactly they are related because they can be raised from many places and for different requests.

[2020-06-04 09:45] OlegDokuka commented on #838
closing this one as answered.

@mostroverkhov feel free to add any comments if you have any other ides related to that one

[2020-06-04 09:45] #838 closed

[2020-06-04 09:47] rstoyanchev commented on #831
@maxim-bandurko-lsvt there have been a few changes for 1.0.1 that make this easier. Take a look at the current version of [WebSocketHeadersSample](https://github.com/rsocket/rsocket-java/blob/master/rsocket-examples/src/main/java/io/rsocket/examples/transport/ws/WebSocketHeadersSample.java). That should show you how to do this.

[2020-06-04 09:47] #831 closed

[2020-06-04 11:14] #821 closed

[2020-06-04 11:16] OlegDokuka commented on #815
closing this one since it looks resolved

[2020-06-04 11:16] #815 closed

[2020-06-04 11:18] OlegDokuka commented on #574
resolved in https://github.com/rsocket/.github

[2020-06-04 11:18] #574 closed

[2020-06-04 16:04] codependent opened #860 "repeatWhenEmpty operator doesn't work when used in an RSocket"
## Expected Behavior
`repeatWhenEmpty()` shoud work as expected

## Actual Behavior
When using that operator subscriptions get stuck in an infinite loop. The same Publisher executes correctly when invoked from an HTTP SpringWebflux endpoint

## Steps to Reproduce
Sample to reproduce the problem: https://github.com/codependent/rsocket-rating-service

Detailed context available on StackOverflow: htt

[2020-06-04 16:54] maxim-bandurko-lsvt commented on #831
@rstoyanchev Got it, thanks!

[2020-06-04 17:53] OlegDokuka commented on #860
Hey @codependent!

Looking into your example I have a few questions:

1. How is this related to a vanilla RSocket-Java?
2. Have you tested your code in isolation so you confirmed it is not Reactor issue?
3. Have checked the same without using repeateWhenEmpty operator?

Cheers,
Oleh

[2020-06-04 18:24] codependent commented on #860
Hi @OlegDokuka,

Well I’m kind of confused here. The code works fine in isolation (main method subscribing the Mono chain, plain http request answered by a GetMapping controller...). The only case in which it doesn’t work is when it is invoked in a Spring Boot GetMapping

[2020-06-04 18:27] OlegDokuka commented on #860
Did you try to write the same using vanilla RSocket-Java without Spring Framework?

Assume I'm trying to reduce the surface of the investigation

Cheers,
Oleh

[2020-06-04 18:30] codependent commented on #860
Not really... I’ll do it and come back here with the results. Thanks

[2020-06-04 18:46] codependent commented on #860
It seems to happen in a plain RSocket Java application: https://github.com/codependent/rsocket-samples/blob/repeatWhenEmpty/src/main/kotlin/com/codependent/rsocket/RequestResponseRSocket.kt

[code]

I you just comment out `.repeatWhenEmpty(Repeat.times<Any>(1L)).log()` it works. Otherwise it gets stuck in the loop from Operators:

[code]

[2020-06-04 19:30] OlegDokuka commented on #860
After all investigation, I'm stating that this is reactors bug which hangs when it comes to discarding

[code]

The issue can be reproduced on the following example in isolation:

[code]

This works perfectly in Spring WebFlux since it does no add `onDiscard` handler internally. In contrast in RSocket we wanna make sure there are no leaks since the user operates with a memory sensitive value such

[2020-06-06 03:51] ilterpehlivan opened #862 "LoadBalancedRsocketMono generates cancel signal along with complete for interceptors"
I am trying to test interceptors with LoadBalancedRsocket client and while running a sample with requestReply then receiving Cancel signal type right after Complete inside the interceptor

## Expected Behavior
Only Complete should come

## Actual Behavior
Cancel + Complete both comes

Logs:
[code]

## Steps to Reproduce

Example app
https://gist.github.com/ilterpehlivan/92e1121998e3678e74ad0556fb9

[2020-06-09 06:51] OlegDokuka commented on #858
Hey @yamass!

#863 should fix it and this fix is available as a part of 1.0.1 release.

Let us know if anything.

Cheers,
Oleh

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-06-09 06:52] #858 closed

[2020-06-09 06:55] OlegDokuka commented on #857
@yamass 1.0.1 release fixed #858, and as I mentioned above, can you please double-check whether this issue can be reproduced (in particular double-release issue) again? And if so, can you please update repro steps?

Cheers,
Oleh

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-06-12 14:30] mostroverkhov opened #864 "Client and server are trivially subject to memory overflow on frame reassembly"
Client and server are subject to OOM because `FrameReassembler` does not have upper bound on received frame size. Reproducible with code below

Server
[code]

Client
[code]

It emulates RSocket client sending infinite sequence of frame fragments for particular request.

[2020-06-12 14:31] mostroverkhov opened #865 "Metadata-pushes rate is not capped on responder, may lead to server resources starvation"
External clients can start hundreds of thousands of metadata-pushes over multiple connections.

If metadata-push handler is present and It does not implement rate limiting on its own, then server is subject to resource starvation attack.

If metadata-push handler is absent, then [exception with stacktrace](https://github.com/rsocket/rsocket-java/blob/9e12fb35a906e6d6fffeaa9197d2d8138f11031b/rsocke

[2020-06-12 14:58] OlegDokuka commented on #865
Hey!

First of all, **we appreciate issues and bug reports**!

**However**, sometimes it is **_HARD_** to figure out what the issue is about. In certain: **how to reproduce it**; **what is the root cause**; **what is possible solutions to mitigate it**!

Having no such info just makes it **challenging** for maintainers to help submitter / improve project by resolving the issue.

_**Therefore**_, w

[2020-06-13 10:58] KaimingWan opened #866 "Can't find method when run the echo example"
I run the example code as below, but I got no such method error. I am sure I have imported the dependency by maven using the flowing xml config.

[code]

[code]

## Expected Behavior

Run the example code successfully

## Actual Behavior

Run failed with NoSuchMethodError exception

## Steps to Reproduce

[code]

## Possible Solution

## Your Environment

Mac os 15.4
Java version:
openjdk version

[2020-06-13 11:09] #866 closed

[2020-06-13 11:10] KaimingWan commented on #866
It is a dependency conflict issue

[2020-06-13 11:22] KaimingWan opened #867 "How push data from server to client by rsocket"
I have learn the example as below. The channel mode seems still a request/response mode. How can I send data to client in a dependent thread using the server object RSocketServer. Is there any examples?

## Expected Behavior

Server no need to receive client's message and then response. After the connection is established, the server can push message to client without receiving any request from cl

[2020-06-13 13:57] OlegDokuka commented on #867
Hey @KaimingWan!

Thanks for asking that!

I create a PR #868 with an example of long-running tasks processing (a.k.a Kafka style) where a client submits tasks over `requestFireAndForget` and then receives results over the same method but on it is own side.

This example shows a case when the client may disappear, however, another a client can connect again and receive undelivered completed tasks

[2020-06-15 05:31] KaimingWan commented on #867
@OlegDokuka Guys you are so efficient, I will try the examples, thanks~

[2020-06-15 13:52] piotr-signalfx opened #869 "java.nio.channels.ClosedChannelException when calling dispose()"
I can see java.nio.channels.ClosedChannelException logged when I run the attaching test case.
I could not find a good example how to call dispose() properly in this case or why the error is reported here. Most examples just call block() on Mono<RSocket> and then dispose() on the returned RSocket instances. I would like to avoid calling block().

## Expected Behavior
I would like to be able to call

[2020-06-15 13:56] KaimingWan opened #870 "Does spring boot rsocket support tls?"
I use the flowing dependency to start a rsocket project. I know rosocket now support tls, but I can't find any method in spring boot to support the tls feature. Does spring boot can integrated rsocket with tls?

[code]

## Documentation Issue

Can't find any doc about springboot rsocket on tls

## Improvement Suggestion

Give some example to use  rsocket in springboot

## Additional context

[2020-06-15 13:57] spencergibb commented on #870
This isn't the spring boot issue tracker

[2020-06-15 14:15] OlegDokuka commented on #870
@KaimingWan please refer to Reactor-Netty configurations in order to setup TLS for e.g. rsocket-netty-transport -> https://projectreactor.io/docs/netty/snapshot/reference/index.html#_ssltls.

In general, all security configuration is done on the transport and non of them are related to rsocket itself since it is not a protocol concern in that case

[2020-06-15 14:17] OlegDokuka commented on #869
@piotr-signalfx what is the purpose of calling the `dispose` method in such a case?

[2020-06-15 14:20] KaimingWan commented on #870
@OlegDokuka Thanks~

[2020-06-15 14:23] OlegDokuka commented on #870
@KaimingWan also, here you may find an example on how SSL can be configured -> https://github.com/rsocket/rsocket-java/blob/master/rsocket-transport-netty/src/test/java/io/rsocket/transport/netty/TcpSecureTransportTest.java#L17

[2020-06-15 14:49] piotr-signalfx commented on #869
Isn't that necessary to release the underlying connection and clean up?
Will RSocket take care of the cleanup automatically in such a scenario?

[2020-06-15 14:51] OlegDokuka commented on #869
I'm asking since usually rsocket is not used for a single request but usually for multiplexing of requests sequence during a long connection session.

[2020-06-15 15:04] piotr-signalfx commented on #869
Yes, the majority of scenarios involve long sessions in our case as well. However, this one is an exception where we just needed to establish a new connection and get a single response and run into the above-mentioned issue.
We can consider using block() with dispose() as we actually do for long running sessions if needed for the time being. Anyway, it was a bit unexpected to see such an exception

[2020-06-15 15:22] OlegDokuka commented on #869
Alright. I know where the problem I just did not want to fix it since this is particular reactor behavior related to this kind of bug -> https://github.com/reactor/reactor-core/issues/1431.

However, I guess I can work around it

[2020-06-16 08:25] KaimingWan opened #871 "How to add acceptor when use RSocketConnector.java to init RSocket"
I init an rsocket client by class RSocketConnector as below. How can I add custom acceptor when use RSocketConnector? I find method called interceptors which is non static, so I can't use it when I use RSocketConnector. RSocketFactory seems to be useful, but I find it is deprecated. I use rsocket version 1.0.1

[code]

## Expected Behavior

## Actual Behavior

## Steps to Reproduce

[code]

## Pos

[2020-06-16 08:35] KaimingWan commented on #871
I find the answer myself in the source code.  Now I implement the code like below. May be helpful for somebody.

[code]

[2020-06-16 08:35] #871 closed

[2020-06-16 21:19] mwagens commented on #375
@lexs can you, please provide example of building rsocket-cpp for android for example. I tried with externalNativeBuild {
    cmake "CMakeLists.txt"
}

but it does not seem to work.
I tried to create Shared library to dynamically link it, but the same result

[2020-06-16 21:41] spencergibb commented on #375
@mwagens are you looking for https://github.com/rsocket/rsocket-cpp? this is the java implementation repo.

[2020-06-17 05:06] yschimke commented on #375
I think you could look at https://www.github.com/facebook/flipper/tree/master/android%2Fthird-party%2Fnative.gradle

[2020-06-17 05:16] yschimke commented on #375
Java 8 is supported now on Android down to 21 https://developer.android.com/studio/write/java8-support

So worth trying this first

[2020-06-17 06:48] JamesChenX opened #873 "Expose the stream IDs in RSocket interface and allow developers to use a custom StreamIdSupplier implementation"
## Motivation

Our servers want to use unique stream IDs to track the requests across servers so we can diagnose our servers if any RPC failed in our ELK servers, and it should be a common scenario for RPC implementation.

But there are two problems currently:
1. The stream ID isn't exposed in the RSocket interface, so we cannot get the stream IDs to track (More specifically, we want to get the st

[2020-06-17 07:02] yschimke commented on #375
I've updated this example which seems to be working well

https://github.com/rsocket/rsocket-demo-android-java8/blob/master/README.md

[2020-06-17 07:03] yschimke commented on #375
Yes! it is possible to generally use rsocket-java on Android as a client.

[2020-06-17 07:29] OlegDokuka commented on #873
Hey @JamesChenX!

First of all, thank you for proposing that!

Secondly, I need to mention that `StreamId` is a specific internal, protocol related value which can not be supplied randomly, it has to follow the spec and exposing `StreamIdSupplier` configuration to the world may lead to some unexpected behavior.

On the other hand, RSocket-CPP (exposes StreamId)[https://github.com/rsocket/rsocket-c

[2020-06-17 07:53] JamesChenX commented on #873
Hi @OlegDokuka!
Thank you for your fast reply and confirmation.
We will add a custom request ID in the payload for our cases.
And we don't plan to adopt a tracing system currently because our cluster is simple enough and doesn't adopt the heterogeneous microservice architecture, integrating a tracing system is unnecessary for our servers. But thanks for reminding me.

[2020-06-17 08:11] #873 closed

[2020-06-17 08:28] xiazuojie opened #874 "Broadcast messages to all activeSockets in `LoadBalancedRSocketMono`"
At the moment, there is no way to broadcast a message to all connected peers from LoadBalancedRSocketMono. Only one-to-one interaction is supported.

## Motivation

Broadcast can be useful to notify state changes to peers. For example, when about to shutdown, a process can broadcast a message to (rather than disconnect with) all peers so the latter can stop sending new requests to it (while in-fli

[2020-06-21 12:07] xy02 opened #875 "requestChannel(Payload, Publisher<Payload> ) is more reasonable"
I think the method signature ***requestChannel(Publisher<Payload> payloads)*** of the interface **io.rsocket.RSocket** does not match RSocket Protocol, and ***requestChannel(Payload requestPayload, Publisher<Payload> payloads)*** make sense.
A possible scenario:
[code]

[2020-06-21 12:51] yschimke commented on #875
Closing as a duplicate.

Relevant previous discussions

https://github.com/rsocket/rsocket-java/issues/465
https://github.com/rsocket/rsocket-java/issues/569
https://github.com/rsocket/rsocket-java/issues/762